# IMPORTS

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.model_selection import RandomizedSearchCV

# LOAD DATA

In [2]:
df = pd.read_csv('/Users/inessoler/MASTER/DATA_PROJECT_3/Ejecutable/Ines/ines_df_cleaned.csv')
df

,Unnamed: 0,df_index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,0,51,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,1,1,54,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,2,2,63,1,4,140.0,0.0,NaN,2.0,149.0,0.0,2.0,1.0,NaN,NaN,2.0
3,3,3,52,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,4,4,55,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,911,179,54,1,4,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,912,180,55,1,2,110.0,214.0,1.0,1.0,180.0,0.0,NaN,NaN,NaN,NaN,NaN
913,913,181,67,1,3,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,914,182,59,1,1,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,915,183,58,1,4,NaN,203.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.drop(columns= ['df_index'], inplace=True)

In [4]:
df.rename(columns={'Unnamed: 0': 'df_index'}, inplace=True)
df

,df_index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,1,54,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,2,63,1,4,140.0,0.0,NaN,2.0,149.0,0.0,2.0,1.0,NaN,NaN,2.0
3,3,52,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,4,55,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,911,54,1,4,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,912,55,1,2,110.0,214.0,1.0,1.0,180.0,0.0,NaN,NaN,NaN,NaN,NaN
913,913,67,1,3,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,914,59,1,1,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,915,58,1,4,NaN,203.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 1. IMPUTAR NULOS POR REGRESIÃ“N

En IterativeImpute, cada caracterÃ­stica con un valor perdido se usa como una funciÃ³n de otras caracterÃ­sticas con salida conocida y modela la funciÃ³n para imputaciones.

Luego, el mismo proceso se itera en un bucle para algunas iteraciones y en cada paso, se selecciona una columna de caracterÃ­sticas como salida y y otras columnas de caracterÃ­sticas se tratan como entradas X , luego se ajusta un regresor en (X, y) para y conocidas y se utiliza para predecir los valores perdidos de y . El mismo proceso se repite para cada columna de caracterÃ­sticas en un ciclo y se toma el promedio de todos los valores de regresiÃ³n mÃºltiple para imputar los valores faltantes para los puntos de datos

In [5]:
label_df = df[['df_index', 'label']]

In [6]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [7]:
imp = IterativeImputer(max_iter=10, random_state=0)

In [8]:
imput01 = df[['df_index', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']]
imput01 = imp.fit_transform(imput01)
imput01 = pd.DataFrame(imput01, columns=['df_index', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal'])
print(imput01.shape)
imput01.head()

(916, 11)

,df_index,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.0,125.0,213.000000,0.000000,2.0,125.0,1.0,1.4,1.000000,1.000000,3.000000
1,1.0,120.0,237.000000,0.000000,0.0,150.0,1.0,1.5,1.886463,0.730695,7.000000
2,2.0,140.0,0.000000,0.196598,2.0,149.0,0.0,2.0,1.000000,0.606739,4.960738
3,3.0,140.0,197.404591,0.000000,0.0,140.0,0.0,0.0,1.454123,0.547734,4.445625
4,4.0,140.0,217.000000,0.000000,0.0,111.0,1.0,5.6,3.000000,0.000000,7.000000

In [9]:

df_imput01 = pd.merge(df[['age','sex','cp','label']],imput01,left_index=True, right_index=True)

In [10]:
df_imput01.isna().sum()

age           0
sex           0
cp            0
label       184
df_index      0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
dtype: int64

## 1.1. DIVIDIR SETS

Set de test: Observaciones en las que la columna 'label' es NaN.

In [11]:
test_ini = df_imput01[df_imput01['label'].isna() == True]
test_ini = test_ini.drop(columns= 'label')
test_ini.reset_index(inplace=False)

,index,age,sex,cp,df_index,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,732,57,1,4,732.0,156.000000,173.00000,0.0000,2.0,119.000000,1.000000,3.000000,3.000000,1.201641,6.741852
1,733,52,1,2,733.0,160.000000,196.00000,0.0000,0.0,165.000000,0.000000,0.000000,1.230926,0.423178,4.437076
2,734,48,1,2,734.0,100.000000,124.66914,0.0000,0.0,100.000000,0.000000,0.000000,1.751719,0.829301,5.276693
3,735,62,1,4,735.0,115.000000,0.00000,0.0932,0.0,128.000000,1.000000,2.500000,3.000000,0.771172,6.835925
4,736,51,1,3,736.0,110.000000,175.00000,0.0000,0.0,123.000000,0.000000,0.600000,1.000000,0.000000,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,911,54,1,4,911.0,200.000000,198.00000,0.0000,0.0,142.000000,1.000000,2.000000,2.000000,0.937959,6.280468
180,912,55,1,2,912.0,110.000000,214.00000,1.0000,1.0,180.000000,0.000000,0.313509,1.370580,0.358827,4.455030
181,913,67,1,3,913.0,152.000000,212.00000,0.0000,2.0,150.000000,0.000000,0.800000,2.000000,0.000000,7.000000
182,914,59,1,1,914.0,170.000000,288.00000,0.0000,2.0,159.000000,0.000000,0.200000,2.000000,0.000000,7.000000
183,915,58,1,4,915.0,136.304652,203.00000,1.0000,0.0,136.177732,0.359375,0.698985,1.710790,0.793865,5.611305

In [12]:
test_ini

,age,sex,cp,df_index,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
732,57,1,4,732.0,156.000000,173.00000,0.0000,2.0,119.000000,1.000000,3.000000,3.000000,1.201641,6.741852
733,52,1,2,733.0,160.000000,196.00000,0.0000,0.0,165.000000,0.000000,0.000000,1.230926,0.423178,4.437076
734,48,1,2,734.0,100.000000,124.66914,0.0000,0.0,100.000000,0.000000,0.000000,1.751719,0.829301,5.276693
735,62,1,4,735.0,115.000000,0.00000,0.0932,0.0,128.000000,1.000000,2.500000,3.000000,0.771172,6.835925
736,51,1,3,736.0,110.000000,175.00000,0.0000,0.0,123.000000,0.000000,0.600000,1.000000,0.000000,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54,1,4,911.0,200.000000,198.00000,0.0000,0.0,142.000000,1.000000,2.000000,2.000000,0.937959,6.280468
912,55,1,2,912.0,110.000000,214.00000,1.0000,1.0,180.000000,0.000000,0.313509,1.370580,0.358827,4.455030
913,67,1,3,913.0,152.000000,212.00000,0.0000,2.0,150.000000,0.000000,0.800000,2.000000,0.000000,7.000000
914,59,1,1,914.0,170.000000,288.00000,0.0000,2.0,159.000000,0.000000,0.200000,2.000000,0.000000,7.000000
915,58,1,4,915.0,136.304652,203.00000,1.0000,0.0,136.177732,0.359375,0.698985,1.710790,0.793865,5.611305

Set de entrenamiento y validaciÃ³n: Observaciones en las que la columna 'label' no es NaN.

In [13]:
train_ini = df_imput01[df_imput01['label'].isna() == False]
train_ini.shape
train_ini.reset_index(inplace=False)

,index,age,sex,cp,label,df_index,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0,51,1,1,0.0,0.0,125.000000,213.000000,0.000000,2.0,125.000000,1.000000,1.400000,1.000000,1.000000,3.000000
1,1,54,1,3,2.0,1.0,120.000000,237.000000,0.000000,0.0,150.000000,1.000000,1.500000,1.886463,0.730695,7.000000
2,2,63,1,4,2.0,2.0,140.000000,0.000000,0.196598,2.0,149.000000,0.000000,2.000000,1.000000,0.606739,4.960738
3,3,52,0,2,0.0,3.0,140.000000,197.404591,0.000000,0.0,140.000000,0.000000,0.000000,1.454123,0.547734,4.445625
4,4,55,1,4,3.0,4.0,140.000000,217.000000,0.000000,0.0,111.000000,1.000000,5.600000,3.000000,0.000000,7.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,727,46,1,3,0.0,727.0,120.000000,230.000000,0.000000,0.0,150.000000,0.000000,0.000000,1.378792,0.507041,4.455791
728,728,62,1,3,1.0,728.0,132.965072,204.000000,0.000000,1.0,138.424464,0.385966,0.910024,1.671915,0.755682,5.156794
729,729,43,0,3,0.0,729.0,122.000000,213.000000,0.000000,0.0,165.000000,0.000000,0.200000,2.000000,0.000000,3.000000
730,730,68,1,3,1.0,730.0,150.000000,195.000000,1.000000,0.0,132.000000,0.000000,0.000000,1.583234,0.808859,6.000000
731,731,41,0,2,0.0,731.0,126.000000,306.000000,0.000000,0.0,163.000000,0.000000,0.000000,1.000000,0.000000,3.000000

In [14]:
train_ini

,age,sex,cp,label,df_index,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,51,1,1,0.0,0.0,125.000000,213.000000,0.000000,2.0,125.000000,1.000000,1.400000,1.000000,1.000000,3.000000
1,54,1,3,2.0,1.0,120.000000,237.000000,0.000000,0.0,150.000000,1.000000,1.500000,1.886463,0.730695,7.000000
2,63,1,4,2.0,2.0,140.000000,0.000000,0.196598,2.0,149.000000,0.000000,2.000000,1.000000,0.606739,4.960738
3,52,0,2,0.0,3.0,140.000000,197.404591,0.000000,0.0,140.000000,0.000000,0.000000,1.454123,0.547734,4.445625
4,55,1,4,3.0,4.0,140.000000,217.000000,0.000000,0.0,111.000000,1.000000,5.600000,3.000000,0.000000,7.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46,1,3,0.0,727.0,120.000000,230.000000,0.000000,0.0,150.000000,0.000000,0.000000,1.378792,0.507041,4.455791
728,62,1,3,1.0,728.0,132.965072,204.000000,0.000000,1.0,138.424464,0.385966,0.910024,1.671915,0.755682,5.156794
729,43,0,3,0.0,729.0,122.000000,213.000000,0.000000,0.0,165.000000,0.000000,0.200000,2.000000,0.000000,3.000000
730,68,1,3,1.0,730.0,150.000000,195.000000,1.000000,0.0,132.000000,0.000000,0.000000,1.583234,0.808859,6.000000
731,41,0,2,0.0,731.0,126.000000,306.000000,0.000000,0.0,163.000000,0.000000,0.000000,1.000000,0.000000,3.000000

Separamos caracterÃ­sticas de etiquetas del set de entrenamiento y validaciÃ³n.

In [15]:
# (80% train)
y = train_ini['label']
x= train_ini.drop(columns = 'label')


y_train = y.values
x_train = x.values


print(x_train.shape, y_train.shape)

(732, 14) (732,)

In [16]:
# Split in train and val sets
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.125, random_state=35)

print(x_train.shape, y_train.shape)
print(x_val.shape, y_val.shape)

(640, 14) (640,)
(92, 14) (92,)

Tenemos un split de 70% entrenamiento, 10% validaciÃ³n y 20% test.

Pasamos el set de test a una matriz de vectores

In [17]:
x_test = test_ini.values

### 1.2. Normalizar Datos

In [18]:
def escalar_datos(xtr, xvl, xts):
    '''Escalar datos de entrada (entrenamiento, validaciÃ³n y prueba)
    en el rango de 0 a 1'''
    scaler = MinMaxScaler(feature_range = (0,1))

    # Fit + transform sobre el set de entrenamiento
    xtr_s = scaler.fit_transform(xtr)

    # Transform sobre prueba y validaciÃ³n
    xvl_s = scaler.transform(xvl)
    xts_s = scaler.transform(xts)

    return xtr_s, xvl_s, xts_s

# Ejecutar la funciÃ³n
x_train_s, x_val_s, x_test_s = escalar_datos(x_train, x_val, x_test)

# Verificar
print(x_train_s.min(axis=0),x_train_s.max(axis=0))
print(x_val_s.min(axis=0),x_val_s.max(axis=0))
print(x_test_s.min(axis=0),x_test_s.max(axis=0))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.] [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[0.125      0.         0.         0.02328767 0.07407407 0.
 0.05211288 0.         0.14084507 0.         0.29545455 0.
 0.04470509 0.        ] [1.         1.         1.         1.00136986 0.72222222 0.69154229
 1.         1.         0.85211268 1.         0.69318182 1.
 0.68156836 0.96824892]
[ 0.02083333  0.          0.          1.00273973 -0.11111111  0.
  0.00315497  0.          0.04929577  0.          0.21590909  0.
  0.04470509  0.        ] [1.02083333 1.         1.         1.25342466 1.         0.67495854
 1.         1.         0.90140845 1.         0.75       1.
 1.         1.04223942]

## 1.2. MODELOS

### 1.2.1. Arbol de Decision

In [19]:
def entrenar_y_evaluar_arbol(x_train, y_train, x_val, y_val, x_test):
    
    # Inicializar y entrenar el modelo de Ã¡rbol de clasificaciÃ³n
    modelo_arbol = DecisionTreeClassifier()
    modelo_arbol.fit(x_train, y_train)

    # Realizar predicciones en el conjunto de validaciÃ³n
    predicciones_val = modelo_arbol.predict(x_val)

    # Calcular la precisiÃ³n del modelo en el conjunto de validaciÃ³n
    f1_val = f1_score(y_val, predicciones_val, average='weighted')
    print("PrecisiÃ³n del modelo en el conjunto de validaciÃ³n:", f1_val)

    # Realizar predicciones en el conjunto de prueba
    predicciones_test = modelo_arbol.predict(x_test)

    # Convertir los vectores de predicciones y conjuntos de prueba en DataFrames
    df_predicciones_test = pd.DataFrame({'label': predicciones_test}, index=test_ini.index)

    # Agregar las predicciones del conjunto de prueba como una nueva columna en el DataFrame de prueba
    df_predicciones_arbol = pd.concat([test_ini, df_predicciones_test], axis=1)

    return df_predicciones_arbol

In [20]:
df_predicciones_arbol = entrenar_y_evaluar_arbol(x_train_s, y_train, x_val_s, y_val, x_test_s)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.4004313566169393

In [21]:
# df_predicciones_arbol['ID'] = range(len(df_predicciones_arbol))
# df_predicciones_arbol[['ID', 'label']].to_csv('try2_1_data.csv', index=False)

In [22]:
# try2_1_df = pd.read_csv('try2_1_data.csv')
# try2_1_df['label'].value_counts()

### 1.2.2. KNN

Definir el modelo:

In [23]:
from sklearn.metrics import f1_score
def entrenar_y_evaluar_knn(x_train, y_train, x_val, y_val, x_test, k ):
    
    # Inicializar y entrenar el modelo kNN
    modelo_knn = KNeighborsClassifier(n_neighbors=k)
    modelo_knn.fit(x_train, y_train)

    # Realizar predicciones en el conjunto de validaciÃ³n
    predicciones_val = modelo_knn.predict(x_val)

    # Calcular la precisiÃ³n del modelo en el conjunto de validaciÃ³n
    f1_val = f1_score(y_val, predicciones_val, average='weighted')
    print("PrecisiÃ³n del modelo en el conjunto de validaciÃ³n:", f1_val)

    # Realizar predicciones en el conjunto de prueba
    predicciones_test = modelo_knn.predict(x_test)

   # Convertir los vectores de predicciones y conjuntos de prueba en DataFrames
    df_predicciones_test = pd.DataFrame({'label': predicciones_test}, index=test_ini.index)

    # Agregar las predicciones del conjunto de prueba como una nueva columna en el DataFrame de prueba
    df_predicciones_knn = pd.concat([test_ini, df_predicciones_test], axis=1)

    return df_predicciones_knn

Hacer un GridSearch para k:

In [24]:
# GridSearch para k

param_grid = {
    'n_neighbors': [3, 5, 7, 9, 11]  # Valores de k a probar
}

# Inicializar el modelo kNN
modelo_knn = KNeighborsClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search = GridSearchCV(modelo_knn, param_grid, cv=5)
grid_search.fit(x_train_s, y_train)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejor_k = grid_search.best_params_['n_neighbors']
print("Mejor valor de k encontrado:", mejor_k)

Mejor valor de k encontrado: 7

In [25]:
df_predicciones_knn = entrenar_y_evaluar_knn(x_train_s, y_train, x_val_s, y_val, x_test_s, 9)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.4528425578997661

In [26]:
df_predicciones_knn

,age,sex,cp,df_index,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
732,57,1,4,732.0,156.000000,173.00000,0.0000,2.0,119.000000,1.000000,3.000000,3.000000,1.201641,6.741852,1.0
733,52,1,2,733.0,160.000000,196.00000,0.0000,0.0,165.000000,0.000000,0.000000,1.230926,0.423178,4.437076,0.0
734,48,1,2,734.0,100.000000,124.66914,0.0000,0.0,100.000000,0.000000,0.000000,1.751719,0.829301,5.276693,0.0
735,62,1,4,735.0,115.000000,0.00000,0.0932,0.0,128.000000,1.000000,2.500000,3.000000,0.771172,6.835925,1.0
736,51,1,3,736.0,110.000000,175.00000,0.0000,0.0,123.000000,0.000000,0.600000,1.000000,0.000000,3.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54,1,4,911.0,200.000000,198.00000,0.0000,0.0,142.000000,1.000000,2.000000,2.000000,0.937959,6.280468,2.0
912,55,1,2,912.0,110.000000,214.00000,1.0000,1.0,180.000000,0.000000,0.313509,1.370580,0.358827,4.455030,1.0
913,67,1,3,913.0,152.000000,212.00000,0.0000,2.0,150.000000,0.000000,0.800000,2.000000,0.000000,7.000000,0.0
914,59,1,1,914.0,170.000000,288.00000,0.0000,2.0,159.000000,0.000000,0.200000,2.000000,0.000000,7.000000,0.0
915,58,1,4,915.0,136.304652,203.00000,1.0000,0.0,136.177732,0.359375,0.698985,1.710790,0.793865,5.611305,2.0

In [27]:
# df_predicciones_knn['ID'] = range(len(df_predicciones_knn))
# df_predicciones_knn[['ID', 'label']].to_csv('try2_2_data.csv', index=False)

In [28]:
# try2_2_df = pd.read_csv('try2_2_data.csv')
# try2_2_df['label'].value_counts()

### 1.2.2.2 knn con otro gridsearch

In [29]:
param_grid2 = {
    'n_neighbors': list(range(1, 21))  # Valores de k a probar
}

# Inicializar el modelo kNN
modelo_knn2 = KNeighborsClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search2 = GridSearchCV(modelo_knn2, param_grid2, cv=5)
grid_search2.fit(x_train_s, y_train)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejor_k2 = grid_search2.best_params_['n_neighbors']
print("Mejor valor de k encontrado:", mejor_k2)

Mejor valor de k encontrado: 7

In [30]:
df_predicciones_knn2 = entrenar_y_evaluar_knn(x_train_s, y_train, x_val_s, y_val, x_test_s, 4)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.48335817046997176

In [31]:
# df_predicciones_knn2['ID'] = range(len(df_predicciones_knn2))
# df_predicciones_knn2[['ID', 'label']].to_csv('try2_3_data.csv', index=False)

In [32]:
# try2_3_df = pd.read_csv('try2_3_data.csv')
# try2_3_df['label'].value_counts()

### 1.2.3. SVM

In [33]:
param_grid = {
    'C': [0.1, 1, 10],
    'kernel': ['linear', 'rbf', 'poly', 'sigmoid'],
}

# Inicializar el modelo SVM
modelo_svm = SVC()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando RandomSearchCV con validaciÃ³n cruzada (cv=5)
grid_search = GridSearchCV(modelo_svm, param_grid)
grid_search.fit(x_train_s, y_train)

# Obtener los mejores hiperparÃ¡metros despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_hiperparametros = grid_search.best_params_
print("Mejores hiperparÃ¡metros encontrados:", mejores_hiperparametros)

Mejores hiperparÃ¡metros encontrados: {'C': 10, 'kernel': 'linear'}

In [34]:
def entrenar_y_evaluar_svm(x_train, y_train, x_val, y_val, x_test, C, kernel):
    
    # Inicializar y entrenar el modelo SVM
    modelo_svm = SVC(C=C, kernel=kernel)
    modelo_svm.fit(x_train, y_train)

    # Realizar predicciones en el conjunto de validaciÃ³n
    predicciones_val = modelo_svm.predict(x_val)

    # Calcular la precisiÃ³n del modelo en el conjunto de validaciÃ³n
    f1_val = f1_score(y_val, predicciones_val, average = 'weighted')
    print("PrecisiÃ³n del modelo en el conjunto de validaciÃ³n:", f1_val)

    # Realizar predicciones en el conjunto de prueba
    predicciones_test = modelo_svm.predict(x_test)

   # Convertir los vectores de predicciones y conjuntos de prueba en DataFrames
    df_predicciones_test = pd.DataFrame({'label': predicciones_test}, index=test_ini.index)

    # Agregar las predicciones del conjunto de prueba como una nueva columna en el DataFrame de prueba
    df_predicciones_svm = pd.concat([test_ini, df_predicciones_test], axis=1)

    return df_predicciones_svm

In [35]:
df_predicciones_svm = entrenar_y_evaluar_svm(x_train_s, y_train, x_val_s, y_val, x_test_s, 10, 'linear')

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.47255451970409484

In [36]:
# df_predicciones_svm['ID'] = range(len(df_predicciones_svm))
# df_predicciones_svm[['ID', 'label']].to_csv('try2_4_data.csv', index=False)

In [37]:
# try2_4_df = pd.read_csv('try2_4_data.csv')
# try2_4_df['label'].value_counts()

# 2. IMPUTAR NULOS CONTINUOS POR REGRESIÃ“N Y CATEGÃ“RICOS POR KNN

In [38]:
from sklearn.impute import KNNImputer

categorical_cols = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

# Construimos el modelo
imp02_1 = KNNImputer(n_neighbors=5, weights="uniform")

# Ajustamos el modelo e imputamos los missing values
imput02_1 = imp02_1.fit_transform(df[categorical_cols])
imput02_1 = pd.DataFrame(imput02_1, columns=categorical_cols)

imput02_1['df_index'] = df['df_index']
imput02_1
df

,df_index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,1,54,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,2,63,1,4,140.0,0.0,NaN,2.0,149.0,0.0,2.0,1.0,NaN,NaN,2.0
3,3,52,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,4,55,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,911,54,1,4,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,912,55,1,2,110.0,214.0,1.0,1.0,180.0,0.0,NaN,NaN,NaN,NaN,NaN
913,913,67,1,3,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,914,59,1,1,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,915,58,1,4,NaN,203.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
imp02_2 = IterativeImputer(max_iter=10, random_state=0)
numeric_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
imput02_2 = imp02_2.fit_transform(df[numeric_cols])
imput02_2 = pd.DataFrame(imput02_2, columns=numeric_cols)

imput02_2['df_index'] = df['df_index']

imput02_2

      age    trestbps        chol    thalach   oldpeak  df_index
0    51.0  125.000000  213.000000  125.00000  1.400000         0
1    54.0  120.000000  237.000000  150.00000  1.500000         1
2    63.0  140.000000    0.000000  149.00000  2.000000         2
3    52.0  140.000000  207.191179  140.00000  0.000000         3
4    55.0  140.000000  217.000000  111.00000  5.600000         4
..    ...         ...         ...        ...       ...       ...
911  54.0  200.000000  198.000000  142.00000  2.000000       911
912  55.0  110.000000  214.000000  180.00000  0.633241       912
913  67.0  152.000000  212.000000  150.00000  0.800000       913
914  59.0  170.000000  288.000000  159.00000  0.200000       914
915  58.0  134.780596  203.000000  133.14897  1.013531       915

[916 rows x 6 columns]

In [40]:
df_imput02_1 = pd.merge(imput02_1, imput02_2, on='df_index')

df_imput02 = pd.merge(df_imput02_1, label_df, on='df_index')
df_imput02

,sex,cp,fbs,restecg,exang,slope,ca,thal,df_index,age,trestbps,chol,thalach,oldpeak,label
0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,3.0,0,51.0,125.000000,213.000000,125.00000,1.400000,0.0
1,1.0,3.0,0.0,0.0,1.0,2.2,0.8,7.0,1,54.0,120.000000,237.000000,150.00000,1.500000,2.0
2,1.0,4.0,0.2,2.0,0.0,1.0,0.4,6.0,2,63.0,140.000000,0.000000,149.00000,2.000000,2.0
3,0.0,2.0,0.0,0.0,0.0,1.2,0.4,3.0,3,52.0,140.000000,207.191179,140.00000,0.000000,0.0
4,1.0,4.0,0.0,0.0,1.0,3.0,0.0,7.0,4,55.0,140.000000,217.000000,111.00000,5.600000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1.0,4.0,0.0,0.0,1.0,2.0,1.2,6.0,911,54.0,200.000000,198.000000,142.00000,2.000000,NaN
912,1.0,2.0,1.0,1.0,0.0,1.6,0.0,5.8,912,55.0,110.000000,214.000000,180.00000,0.633241,NaN
913,1.0,3.0,0.0,2.0,0.0,2.0,0.0,7.0,913,67.0,152.000000,212.000000,150.00000,0.800000,NaN
914,1.0,1.0,0.0,2.0,0.0,2.0,0.0,7.0,914,59.0,170.000000,288.000000,159.00000,0.200000,NaN
915,1.0,4.0,1.0,0.0,0.4,2.0,1.8,6.4,915,58.0,134.780596,203.000000,133.14897,1.013531,NaN

## 2.1. SEPARAR SETS

In [41]:
test_ini02 = df_imput02[df_imput02['label'].isna() == True]
test_ini02 = test_ini02.drop(columns= 'label')
test_ini02

,sex,cp,fbs,restecg,exang,slope,ca,thal,df_index,age,trestbps,chol,thalach,oldpeak
732,1.0,4.0,0.0,2.0,1.0,3.0,1.0,6.2,732,57.0,156.000000,173.000000,119.00000,3.000000
733,1.0,2.0,0.0,0.0,0.0,1.6,0.0,6.0,733,52.0,160.000000,196.000000,165.00000,0.000000
734,1.0,2.0,0.0,0.0,0.0,1.6,0.0,6.0,734,48.0,100.000000,140.780815,100.00000,0.000000
735,1.0,4.0,0.6,0.0,1.0,3.0,0.6,6.2,735,62.0,115.000000,0.000000,128.00000,2.500000
736,1.0,3.0,0.0,0.0,0.0,1.0,0.0,3.0,736,51.0,110.000000,175.000000,123.00000,0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1.0,4.0,0.0,0.0,1.0,2.0,1.2,6.0,911,54.0,200.000000,198.000000,142.00000,2.000000
912,1.0,2.0,1.0,1.0,0.0,1.6,0.0,5.8,912,55.0,110.000000,214.000000,180.00000,0.633241
913,1.0,3.0,0.0,2.0,0.0,2.0,0.0,7.0,913,67.0,152.000000,212.000000,150.00000,0.800000
914,1.0,1.0,0.0,2.0,0.0,2.0,0.0,7.0,914,59.0,170.000000,288.000000,159.00000,0.200000
915,1.0,4.0,1.0,0.0,0.4,2.0,1.8,6.4,915,58.0,134.780596,203.000000,133.14897,1.013531

In [42]:
train_ini02 = df_imput02[df_imput02['label'].isna() == False]
train_ini02.shape
train_ini02.reset_index(inplace=False)
train_ini02

,sex,cp,fbs,restecg,exang,slope,ca,thal,df_index,age,trestbps,chol,thalach,oldpeak,label
0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,3.0,0,51.0,125.000000,213.000000,125.000000,1.400000,0.0
1,1.0,3.0,0.0,0.0,1.0,2.2,0.8,7.0,1,54.0,120.000000,237.000000,150.000000,1.500000,2.0
2,1.0,4.0,0.2,2.0,0.0,1.0,0.4,6.0,2,63.0,140.000000,0.000000,149.000000,2.000000,2.0
3,0.0,2.0,0.0,0.0,0.0,1.2,0.4,3.0,3,52.0,140.000000,207.191179,140.000000,0.000000,0.0
4,1.0,4.0,0.0,0.0,1.0,3.0,0.0,7.0,4,55.0,140.000000,217.000000,111.000000,5.600000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,1.0,3.0,0.0,0.0,0.0,1.6,0.2,3.8,727,46.0,120.000000,230.000000,150.000000,0.000000,0.0
728,1.0,3.0,0.0,1.0,0.8,2.2,1.2,4.4,728,62.0,136.801676,204.000000,129.433833,1.126129,1.0
729,0.0,3.0,0.0,0.0,0.0,2.0,0.0,3.0,729,43.0,122.000000,213.000000,165.000000,0.200000,0.0
730,1.0,3.0,1.0,0.0,0.0,1.4,0.8,6.0,730,68.0,150.000000,195.000000,132.000000,0.000000,1.0
731,0.0,2.0,0.0,0.0,0.0,1.0,0.0,3.0,731,41.0,126.000000,306.000000,163.000000,0.000000,0.0

In [43]:
# (80% train)
y02 = train_ini02['label']
x02= train_ini02.drop(columns = 'label')

# Split in train and val sets
x_train02, x_val02, y_train02, y_val02 = train_test_split(x02, y02, test_size=0.125, random_state=35)

x_test02 = test_ini02

print(x_train02.shape, y_train02.shape)
print(x_val02.shape, y_val02.shape)
print(x_test02.shape)

(640, 14) (640,)
(92, 14) (92,)
(184, 14)

## 2.2. NORMALIZAR

In [44]:
def escalar_datos(xtr, xvl, xts):
    '''Escalar datos de entrada (entrenamiento, validaciÃ³n y prueba)
    en el rango de 0 a 1'''
    scaler = MinMaxScaler(feature_range = (0,1))

    # Fit + transform sobre el set de entrenamiento
    xtr_s = scaler.fit_transform(xtr)

    # Transform sobre prueba y validaciÃ³n
    xvl_s = scaler.transform(xvl)
    xts_s = scaler.transform(xts)

    return xtr_s, xvl_s, xts_s

# Ejecutar la funciÃ³n
x_train02_s, x_val02_s, x_test02_s = escalar_datos(x_train02, x_val02, x_test02)

# Verificar
print(x_train02_s.min(axis=0),x_train02_s.max(axis=0))
print(x_val02_s.min(axis=0),x_val02_s.max(axis=0))
print(x_test02_s.min(axis=0),x_test02_s.max(axis=0))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.] [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[0.         0.         0.         0.         0.         0.
 0.         0.         0.02328767 0.125      0.07407407 0.
 0.14084507 0.29545455] [1.         1.         1.         1.         1.         1.
 0.73333333 1.         1.00136986 1.         0.72222222 0.69154229
 0.85211268 0.69318182]
[ 0.          0.          0.          0.          0.          0.
  0.          0.          1.00273973  0.02083333 -0.11111111  0.
  0.04929577  0.21590909] [1.         1.         1.         1.         1.         1.
 1.         1.         1.25342466 1.02083333 1.         0.67495854
 0.90140845 0.75      ]

## 2.3. MODELOS

### 2.3.1. GridSearch PARA TODO

In [45]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB

n_neighbors_values = list(range(1, 11))

clasificadores = [
    (KNeighborsClassifier(), {'n_neighbors': n_neighbors_values, 'weights': ['uniform', 'distance']}),
    (SVC(), {'C': [0.1, 1, 10], 'kernel': ['linear', 'rbf']}),
    (RandomForestClassifier(), {'n_estimators': [50, 100, 200], 'max_depth': [None, 10, 20]}),
    (XGBClassifier(), {'learning_rate': [0.1, 0.01], 'max_depth': [3, 5, 7]}),
    (GaussianNB(), {})  # No se especifican parÃ¡metros para Naive Bayes
]

# Realizar la bÃºsqueda en la grilla para cada clasificador
for clf, params in clasificadores:
    grid_search02 = GridSearchCV(clf, params, cv=5, scoring='accuracy')
    grid_search02.fit(x_train02_s, y_train02)
    
    print("Mejores parÃ¡metros encontrados para el clasificador:")
    print(grid_search02.best_params_)
    print("Mejor puntuaciÃ³n en validaciÃ³n cruzada:")
    print(grid_search02.best_score_)
    print(f'Resultados: {grid_search02.cv_results_}')

Mejores parÃ¡metros encontrados para el clasificador:
{'n_neighbors': 2, 'weights': 'uniform'}
Mejor puntuaciÃ³n en validaciÃ³n cruzada:
0.5171875
Resultados: {'mean_fit_time': array([0.00385766, 0.00308871, 0.00365968, 0.00269022, 0.00250025,
       0.00278063, 0.0018878 , 0.00235205, 0.00563803, 0.0031281 ,
       0.00298667, 0.00599003, 0.0042675 , 0.03109565, 0.00395961,
       0.00194378, 0.00170779, 0.00197535, 0.00266004, 0.00192218]), 'std_fit_time': array([0.0030238 , 0.0008399 , 0.00045617, 0.00064813, 0.00120602,
       0.00096139, 0.00020541, 0.00090611, 0.00538913, 0.00134851,
       0.00099257, 0.00272224, 0.00300007, 0.05874159, 0.00465039,
       0.00075059, 0.000349  , 0.00058345, 0.00178401, 0.00045888]), 'mean_score_time': array([0.02636695, 0.00688171, 0.02209973, 0.00622602, 0.02729564,
       0.00566602, 0.02256703, 0.00634413, 0.03018079, 0.00720592,
       0.02048116, 0.01135583, 0.03217907, 0.00511513, 0.03357902,
       0.00431299, 0.01422582, 0.00442305, 0.0157783 , 0.00558953]), 'std_score_time': array([0.01171171, 0.00170482, 0.00205054, 0.00264038, 0.00987905,
       0.00215428, 0.00508911, 0.00168752, 0.01101637, 0.0033599 ,
       0.00367037, 0.00342975, 0.0125734 , 0.00107609, 0.01785486,
       0.00040843, 0.00248382, 0.00045123, 0.00113468, 0.00186186]), 'param_n_neighbors': masked_array(data=[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9,
                   10, 10],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_weights': masked_array(data=['uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 1, 'weights': 'uniform'}, {'n_neighbors': 1, 'weights': 'distance'}, {'n_neighbors': 2, 'weights': 'uniform'}, {'n_neighbors': 2, 'weights': 'distance'}, {'n_neighbors': 3, 'weights': 'uniform'}, {'n_neighbors': 3, 'weights': 'distance'}, {'n_neighbors': 4, 'weights': 'uniform'}, {'n_neighbors': 4, 'weights': 'distance'}, {'n_neighbors': 5, 'weights': 'uniform'}, {'n_neighbors': 5, 'weights': 'distance'}, {'n_neighbors': 6, 'weights': 'uniform'}, {'n_neighbors': 6, 'weights': 'distance'}, {'n_neighbors': 7, 'weights': 'uniform'}, {'n_neighbors': 7, 'weights': 'distance'}, {'n_neighbors': 8, 'weights': 'uniform'}, {'n_neighbors': 8, 'weights': 'distance'}, {'n_neighbors': 9, 'weights': 'uniform'}, {'n_neighbors': 9, 'weights': 'distance'}, {'n_neighbors': 10, 'weights': 'uniform'}, {'n_neighbors': 10, 'weights': 'distance'}], 'split0_test_score': array([0.46875  , 0.46875  , 0.5234375, 0.46875  , 0.53125  , 0.515625 ,
       0.5078125, 0.5      , 0.515625 , 0.5078125, 0.484375 , 0.5078125,
       0.515625 , 0.5078125, 0.5234375, 0.5390625, 0.5078125, 0.5234375,
       0.5078125, 0.5234375]), 'split1_test_score': array([0.4609375, 0.4609375, 0.5546875, 0.4609375, 0.515625 , 0.4765625,
       0.4609375, 0.4609375, 0.4765625, 0.4609375, 0.4765625, 0.4765625,
       0.4609375, 0.4765625, 0.46875  , 0.4765625, 0.4609375, 0.4921875,
       0.453125 , 0.46875  ]), 'split2_test_score': array([0.4609375, 0.4609375, 0.53125  , 0.4609375, 0.5      , 0.484375 ,
       0.5078125, 0.5078125, 0.546875 , 0.53125  , 0.515625 , 0.515625 ,
       0.5234375, 0.5234375, 0.515625 , 0.5078125, 0.4921875, 0.5      ,
       0.5      , 0.5      ]), 'split3_test_score': array([0.3984375, 0.3984375, 0.4921875, 0.3984375, 0.5078125, 0.4375   ,
       0.4765625, 0.46875  , 0.4453125, 0.4921875, 0.4765625, 0.46875  ,
       0.453125 , 0.46875  , 0.453125 , 0.4765625, 0.5      , 0.4921875,
       0.484375 , 0.5      ]), 'split4_test_score': array([0.453125 , 0.453125 , 0.484375 , 0.453125 , 0.5078125, 0.4921875,
       0.53125  , 0.5390625, 0.515625 , 0.546875 , 0.5      , 0.5      ,
       0.5078125, 0.53125  , 0.5078125, 0.4921875, 0.4921875, 0.484375 ,
       0.4921875, 0.53125  ]), 'mean_test_score': array([0.4484375, 0.4484375, 0.5171875, 0.4484375, 0.5125   , 0.48125  ,
       0.496875 , 0.4953125, 0.5      , 0.5078125, 0.490625 , 0.49375  ,
       0.4921875, 0.5015625, 0.49375  , 0.4984375, 0.490625 , 0.4984375,
       0.4875   , 0.5046875]), 'std_test_score': array([0.0254836 , 0.0254836 , 0.02586398, 0.0254836 , 0.01059739,
       0.0254836 , 0.025     , 0.02821167, 0.03528622, 0.03005529,
       0.015149  , 0.01808725, 0.0292317 , 0.02490215, 0.02768757,
       0.02338536, 0.01593444, 0.01344113, 0.01887976, 0.021875  ]), 'rank_test_score': array([18, 18,  1, 18,  2, 17,  9, 10,  6,  3, 14, 11, 13,  5, 11,  7, 14,
        7, 16,  4], dtype=int32)}
Mejores parÃ¡metros encontrados para el clasificador:
{'C': 10, 'kernel': 'linear'}
Mejor puntuaciÃ³n en validaciÃ³n cruzada:
0.525
Resultados: {'mean_fit_time': array([0.01655688, 0.09357219, 0.05105138, 0.07480855, 0.12146153,
       0.07435346]), 'std_fit_time': array([0.00275962, 0.09066434, 0.01436234, 0.03148471, 0.06214692,
       0.0297139 ]), 'mean_score_time': array([0.00394382, 0.04286923, 0.03267899, 0.05758605, 0.01426845,
       0.03035173]), 'std_score_time': array([0.00140708, 0.04980516, 0.02445963, 0.01917315, 0.018253  ,
       0.02835966]), 'param_C': masked_array(data=[0.1, 0.1, 1, 1, 10, 10],
             mask=[False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_kernel': masked_array(data=['linear', 'rbf', 'linear', 'rbf', 'linear', 'rbf'],
             mask=[False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'C': 0.1, 'kernel': 'linear'}, {'C': 0.1, 'kernel': 'rbf'}, {'C': 1, 'kernel': 'linear'}, {'C': 1, 'kernel': 'rbf'}, {'C': 10, 'kernel': 'linear'}, {'C': 10, 'kernel': 'rbf'}], 'split0_test_score': array([0.546875 , 0.515625 , 0.5625   , 0.5234375, 0.5703125, 0.5      ]), 'split1_test_score': array([0.5390625, 0.4609375, 0.5234375, 0.5234375, 0.515625 , 0.484375 ]), 'split2_test_score': array([0.4765625, 0.4609375, 0.5390625, 0.53125  , 0.53125  , 0.4765625]), 'split3_test_score': array([0.4765625, 0.46875  , 0.484375 , 0.5      , 0.4921875, 0.46875  ]), 'split4_test_score': array([0.5      , 0.4921875, 0.5078125, 0.4921875, 0.515625 , 0.5234375]), 'mean_test_score': array([0.5078125, 0.4796875, 0.5234375, 0.5140625, 0.525    , 0.490625 ]), 'std_test_score': array([0.03005529, 0.02130966, 0.02660842, 0.015149  , 0.02586398,
       0.01939012]), 'rank_test_score': array([4, 6, 2, 3, 1, 5], dtype=int32)}
Mejores parÃ¡metros encontrados para el clasificador:
{'max_depth': 10, 'n_estimators': 50}
Mejor puntuaciÃ³n en validaciÃ³n cruzada:
0.5390625
Resultados: {'mean_fit_time': array([0.23806624, 0.35687637, 0.52195811, 0.13233719, 0.25500669,
       0.52306771, 0.13509278, 0.26208067, 0.50466118]), 'std_fit_time': array([0.05914412, 0.05499871, 0.01665899, 0.00672333, 0.0172824 ,
       0.06649947, 0.01961107, 0.01029895, 0.01189063]), 'mean_score_time': array([0.00687675, 0.01157322, 0.01747236, 0.00561852, 0.01070576,
       0.01634254, 0.00556836, 0.00992742, 0.01672249]), 'std_score_time': array([0.00195433, 0.00303257, 0.00061056, 0.00064197, 0.00235903,
       0.00018636, 0.00075812, 0.00181841, 0.00081119]), 'param_max_depth': masked_array(data=[None, None, None, 10, 10, 10, 20, 20, 20],
             mask=[False, False, False, False, False, False, False, False,
                   False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[50, 100, 200, 50, 100, 200, 50, 100, 200],
             mask=[False, False, False, False, False, False, False, False,
                   False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': None, 'n_estimators': 50}, {'max_depth': None, 'n_estimators': 100}, {'max_depth': None, 'n_estimators': 200}, {'max_depth': 10, 'n_estimators': 50}, {'max_depth': 10, 'n_estimators': 100}, {'max_depth': 10, 'n_estimators': 200}, {'max_depth': 20, 'n_estimators': 50}, {'max_depth': 20, 'n_estimators': 100}, {'max_depth': 20, 'n_estimators': 200}], 'split0_test_score': array([0.5703125, 0.5390625, 0.546875 , 0.6015625, 0.5390625, 0.5703125,
       0.5703125, 0.59375  , 0.5703125]), 'split1_test_score': array([0.515625 , 0.484375 , 0.5390625, 0.546875 , 0.5078125, 0.515625 ,
       0.515625 , 0.5390625, 0.5      ]), 'split2_test_score': array([0.5546875, 0.515625 , 0.515625 , 0.5234375, 0.5703125, 0.546875 ,
       0.5390625, 0.484375 , 0.53125  ]), 'split3_test_score': array([0.5078125, 0.484375 , 0.5      , 0.515625 , 0.53125  , 0.5078125,
       0.5234375, 0.46875  , 0.5078125]), 'split4_test_score': array([0.5078125, 0.5390625, 0.53125  , 0.5078125, 0.5      , 0.5234375,
       0.5234375, 0.5234375, 0.5546875]), 'mean_test_score': array([0.53125  , 0.5125   , 0.5265625, 0.5390625, 0.5296875, 0.5328125,
       0.534375 , 0.521875 , 0.5328125]), 'std_test_score': array([0.02614563, 0.02450685, 0.01682864, 0.03387419, 0.02490215,
       0.0228574 , 0.01951562, 0.04402813, 0.02679129]), 'rank_test_score': array([5, 9, 7, 1, 6, 3, 2, 8, 3], dtype=int32)}
Mejores parÃ¡metros encontrados para el clasificador:
{'learning_rate': 0.01, 'max_depth': 3}
Mejor puntuaciÃ³n en validaciÃ³n cruzada:
0.5328125
Resultados: {'mean_fit_time': array([0.31028185, 0.50394979, 0.55506091, 0.21113348, 0.40450578,
       0.6357265 ]), 'std_fit_time': array([0.19031645, 0.2723089 , 0.07883654, 0.00315496, 0.00980609,
       0.05497245]), 'mean_score_time': array([0.01473932, 0.00420265, 0.00468535, 0.00321503, 0.00445194,
       0.00434227]), 'std_score_time': array([0.02071211, 0.00056266, 0.00020039, 0.00017685, 0.00052676,
       0.00038602]), 'param_learning_rate': masked_array(data=[0.1, 0.1, 0.1, 0.01, 0.01, 0.01],
             mask=[False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[3, 5, 7, 3, 5, 7],
             mask=[False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'learning_rate': 0.1, 'max_depth': 3}, {'learning_rate': 0.1, 'max_depth': 5}, {'learning_rate': 0.1, 'max_depth': 7}, {'learning_rate': 0.01, 'max_depth': 3}, {'learning_rate': 0.01, 'max_depth': 5}, {'learning_rate': 0.01, 'max_depth': 7}], 'split0_test_score': array([0.5390625, 0.53125  , 0.53125  , 0.515625 , 0.46875  , 0.5      ]), 'split1_test_score': array([0.5234375, 0.5390625, 0.5546875, 0.5078125, 0.5078125, 0.5546875]), 'split2_test_score': array([0.5234375, 0.53125  , 0.5078125, 0.578125 , 0.5234375, 0.5      ]), 'split3_test_score': array([0.4609375, 0.4765625, 0.4765625, 0.5234375, 0.5078125, 0.5234375]), 'split4_test_score': array([0.484375 , 0.5      , 0.4609375, 0.5390625, 0.5      , 0.484375 ]), 'mean_test_score': array([0.50625  , 0.515625 , 0.50625  , 0.5328125, 0.5015625, 0.5125   ]), 'std_test_score': array([0.02898006, 0.02369649, 0.034375  , 0.02490215, 0.01808725,
       0.02450685]), 'rank_test_score': array([4, 2, 4, 1, 6, 3], dtype=int32)}
Mejores parÃ¡metros encontrados para el clasificador:
{}
Mejor puntuaciÃ³n en validaciÃ³n cruzada:
0.521875
Resultados: {'mean_fit_time': array([0.0029284]), 'std_fit_time': array([0.00029868]), 'mean_score_time': array([0.00216165]), 'std_score_time': array([0.00022222]), 'params': [{}], 'split0_test_score': array([0.5546875]), 'split1_test_score': array([0.5078125]), 'split2_test_score': array([0.5625]), 'split3_test_score': array([0.484375]), 'split4_test_score': array([0.5]), 'mean_test_score': array([0.521875]), 'std_test_score': array([0.03101474]), 'rank_test_score': array([1], dtype=int32)}

### 2.3.2. KNN CON k = 2

In [46]:
def entrenar_y_evaluar_knn02(x_train, y_train, x_val, y_val, x_test, test_ini, k ):
    
    # Inicializar y entrenar el modelo kNN
    modelo_knn = KNeighborsClassifier(n_neighbors=k)
    modelo_knn.fit(x_train, y_train)

    # Realizar predicciones en el conjunto de validaciÃ³n
    predicciones_val = modelo_knn.predict(x_val)

    # Calcular la precisiÃ³n del modelo en el conjunto de validaciÃ³n
    f1_val = f1_score(y_val, predicciones_val, average='weighted')
    print("PrecisiÃ³n del modelo en el conjunto de validaciÃ³n:", f1_val)

    # Realizar predicciones en el conjunto de prueba
    predicciones_test = modelo_knn.predict(x_test)

    df_predicciones_knn02 = test_ini.copy()
    df_predicciones_knn02['label'] = predicciones_test

    return df_predicciones_knn02

In [47]:
df_predicciones_knn02 = entrenar_y_evaluar_knn02(x_train02_s, y_train02, x_val02_s, y_val02, x_test02_s, test_ini02, 2)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.4649427010440172

In [48]:
# df_predicciones_knn02['ID'] = range(len(df_predicciones_knn02))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_knn02[['ID', 'label']].to_csv('try?_data.csv', index=False)

### 2.3.3. SVM con C = 10 y kernel = linear

In [49]:
from sklearn.metrics import f1_score
def entrenar_y_evaluar_svm02(x_train, y_train, x_val, y_val, x_test, test_ini, C, kernel ):
    
    # Inicializar y entrenar el modelo kNN
    modelo_svm = SVC(C = C, kernel = kernel)
    modelo_svm.fit(x_train, y_train)

    # Realizar predicciones en el conjunto de validaciÃ³n
    predicciones_val = modelo_svm.predict(x_val)

    # Calcular la precisiÃ³n del modelo en el conjunto de validaciÃ³n
    f1_val = f1_score(y_val, predicciones_val, average='weighted')
    print("PrecisiÃ³n del modelo en el conjunto de validaciÃ³n:", f1_val)

    # Realizar predicciones en el conjunto de prueba
    predicciones_test = modelo_svm.predict(x_test)

    df_predicciones_svm02 = test_ini.copy()
    df_predicciones_svm02['label'] = predicciones_test

    return df_predicciones_svm02

In [50]:
df_predicciones_svm02 = entrenar_y_evaluar_svm02(x_train02_s, y_train02, x_val02_s, y_val02, x_test02_s, test_ini02, 10, 'linear')

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.49980905462947056

In [51]:
# df_predicciones_svm02['ID'] = range(len(df_predicciones_svm02))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_svm02[['ID', 'label']].to_csv('try?_data.csv', index=False)

### 2.3.4. RANDOM FOREST CON {'max_depth': 10, 'n_estimators': 200}

In [52]:
def entrenar_y_evaluar_rf02(x_train, y_train, x_val, y_val, x_test, test_ini, max_depth, n_estimators ):
    
    # Inicializar y entrenar el modelo kNN
    modelo_rf = RandomForestClassifier(max_depth=max_depth, n_estimators=n_estimators)
    modelo_rf.fit(x_train, y_train)

    # Realizar predicciones en el conjunto de validaciÃ³n
    predicciones_val = modelo_rf.predict(x_val)

    # Calcular la precisiÃ³n del modelo en el conjunto de validaciÃ³n
    f1_val = f1_score(y_val, predicciones_val, average='weighted')
    print("PrecisiÃ³n del modelo en el conjunto de validaciÃ³n:", f1_val)

    # Realizar predicciones en el conjunto de prueba
    predicciones_test = modelo_rf.predict(x_test)

    df_predicciones_rf02 = test_ini.copy()
    df_predicciones_rf02['label'] = predicciones_test

    return df_predicciones_rf02

df_predicciones_rf02 = entrenar_y_evaluar_rf02(x_train02_s, y_train02, x_val02_s, y_val02, x_test02_s, test_ini02, 10, 200)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5639233526330301

In [53]:
# df_predicciones_rf02['ID'] = range(len(df_predicciones_rf02))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_rf02[['ID', 'label']].to_csv('try?_data.csv', index=False)

### 2.3.5. XGBOOST {'learning_rate': 0.1, 'max_depth': 1}

In [54]:
depth_list = list(range(1, 11))
param_grid = {
    'learning_rate': [0.1, 0.01, 0.001], 
    'max_depth': depth_list
}

# Inicializar el modelo kNN
modelo_xgb = XGBClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search = GridSearchCV(modelo_xgb, param_grid, cv=5)
grid_search.fit(x_train02_s, y_train02)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_xgb = grid_search.best_params_
print("Mejores hiperparametros:", mejores_parametros_xgb)

Mejores hiperparametros: {'learning_rate': 0.1, 'max_depth': 1}

In [55]:
def entrenar_y_evaluar_xgb02(x_train, y_train, x_val, y_val, x_test, test_ini, learning_rate, max_depth ):
    
    # Inicializar y entrenar el modelo kNN
    modelo_xgb = XGBClassifier(max_depth=max_depth, learning_rate=learning_rate)
    modelo_xgb.fit(x_train, y_train)

    # Realizar predicciones en el conjunto de validaciÃ³n
    predicciones_val = modelo_xgb.predict(x_val)

    # Calcular la precisiÃ³n del modelo en el conjunto de validaciÃ³n
    f1_val = f1_score(y_val, predicciones_val, average='weighted')
    print("PrecisiÃ³n del modelo en el conjunto de validaciÃ³n:", f1_val)

    # Realizar predicciones en el conjunto de prueba
    predicciones_test = modelo_xgb.predict(x_test)

    df_predicciones_xgb02 = test_ini.copy()
    df_predicciones_xgb02['label'] = predicciones_test

    return df_predicciones_xgb02

df_predicciones_xgb02 = entrenar_y_evaluar_xgb02(x_train02_s, y_train02, x_val02_s, y_val02, x_test02_s, test_ini02, 0.1, 1)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5204226855475699

In [56]:
# df_predicciones_xgb02['ID'] = range(len(df_predicciones_xgb02))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_xgb02[['ID', 'label']].to_csv('try?_data.csv', index=False)

### 2.3.6. XGBOOST {'learning_rate': 0.1, 'max_depth': 11}

In [57]:
depth_list = list(range(2, 12))
param_grid = {
    'learning_rate': [0.1, 0.01, 0.001], 
    'max_depth': depth_list
}

# Inicializar el modelo kNN
modelo_xgb = XGBClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search = GridSearchCV(modelo_xgb, param_grid, cv=5)
grid_search.fit(x_train02_s, y_train02)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_xgb = grid_search.best_params_
print("Mejores hiperparametros:", mejores_parametros_xgb)

Mejores hiperparametros: {'learning_rate': 0.1, 'max_depth': 11}

In [58]:
df_predicciones_xgb_02_2 = entrenar_y_evaluar_xgb02(x_train02_s, y_train02, x_val02_s, y_val02, x_test02_s, test_ini02, 0.1, 11)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5110747594575802

In [59]:
# df_predicciones_xgb02_2['ID'] = range(len(df_predicciones_xgb02_2))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_xgb02_2[['ID', 'label']].to_csv('try?_data.csv', index=False)

### 2.3.7. NAIVE BAYES

In [60]:
def entrenar_y_evaluar_nb02(x_train, y_train, x_val, y_val, x_test, test_ini ):
    
    # Inicializar y entrenar el modelo kNN
    modelo_nb = GaussianNB()
    modelo_nb.fit(x_train, y_train)

    # Realizar predicciones en el conjunto de validaciÃ³n
    predicciones_val = modelo_nb.predict(x_val)

    # Calcular la precisiÃ³n del modelo en el conjunto de validaciÃ³n
    f1_val = f1_score(y_val, predicciones_val, average='weighted')
    print("PrecisiÃ³n del modelo en el conjunto de validaciÃ³n:", f1_val)

    # Realizar predicciones en el conjunto de prueba
    predicciones_test = modelo_nb.predict(x_test)

    df_predicciones_nb02 = test_ini.copy()
    df_predicciones_nb02['label'] = predicciones_test

    return df_predicciones_nb02

df_predicciones_nb02 = entrenar_y_evaluar_nb02(x_train02_s, y_train02, x_val02_s, y_val02, x_test02_s, test_ini02)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5380419518747414

In [61]:
# df_predicciones_nb02['ID'] = range(len(df_predicciones_nb02))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_nb02[['ID', 'label']].to_csv('try?_data.csv', index=False)

# 3. CHOL = 0 SUSTITUIDOO POR NaN + IMPUTAR NULOS CONTINUOS POR REGRESIÃ“N Y CATEGÃ“RICOS POR KNN

In [147]:
import numpy as np
df_sin_chol0 = df.copy()
df_sin_chol0['chol'].replace({0: np.nan}, inplace = True)
df_sin_chol0['chol'].nsmallest(10)

438     85.0
301    100.0
609    100.0
602    117.0
108    126.0
514    129.0
276    131.0
561    132.0
597    139.0
53     141.0
Name: chol, dtype: float64

In [148]:
categorical_cols = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

# # Construimos el modelo
# imp02_1 = KNNImputer(n_neighbors=5, weights="uniform")

# # Ajustamos el modelo e imputamos los missing values
# imput02_1 = imp02_1.fit_transform(df[categorical_cols])
# imput02_1 = pd.DataFrame(imput02_1, columns=categorical_cols)

# imput02_1['df_index'] = df['df_index']
# imput02_1
# df

# imp02_2 = IterativeImputer(max_iter=10, random_state=0)
# numeric_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
imput03_1 = imp02_2.fit_transform(df[numeric_cols])
imput03_1 = pd.DataFrame(imput03_1, columns=numeric_cols)

imput03_1['df_index'] = df['df_index']

imput03_1

      age    trestbps        chol    thalach   oldpeak  df_index
0    51.0  125.000000  213.000000  125.00000  1.400000         0
1    54.0  120.000000  237.000000  150.00000  1.500000         1
2    63.0  140.000000    0.000000  149.00000  2.000000         2
3    52.0  140.000000  207.191179  140.00000  0.000000         3
4    55.0  140.000000  217.000000  111.00000  5.600000         4
..    ...         ...         ...        ...       ...       ...
911  54.0  200.000000  198.000000  142.00000  2.000000       911
912  55.0  110.000000  214.000000  180.00000  0.633241       912
913  67.0  152.000000  212.000000  150.00000  0.800000       913
914  59.0  170.000000  288.000000  159.00000  0.200000       914
915  58.0  134.780596  203.000000  133.14897  1.013531       915

[916 rows x 6 columns]

In [149]:
imput03_1.describe()

              age    trestbps        chol     thalach     oldpeak    df_index
count  916.000000  916.000000  916.000000  916.000000  916.000000  916.000000
mean    53.528384  132.473782  199.191106  137.169805    0.885842  457.500000
std      9.397376   17.959356  109.066386   25.292021    1.054955  264.570721
min     28.000000   80.000000    0.000000   60.000000   -2.600000    0.000000
25%     47.000000  120.000000  175.765422  120.000000    0.000000  228.750000
50%     54.000000  130.000000  222.000000  138.328267    0.676418  457.500000
75%     60.000000  140.000000  267.000000  156.000000    1.500000  686.250000
max     77.000000  200.000000  603.000000  202.000000    6.200000  915.000000

In [150]:
df_imput03_1 = pd.merge(imput02_1, imput03_1, on='df_index')

df_imput03 = pd.merge(df_imput03_1, label_df, on='df_index')
df_imput03

,sex,cp,fbs,restecg,exang,slope,ca,thal,df_index,age,trestbps,chol,thalach,oldpeak,label
0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,3.0,0,51.0,125.000000,213.000000,125.00000,1.400000,0.0
1,1.0,3.0,0.0,0.0,1.0,2.2,0.8,7.0,1,54.0,120.000000,237.000000,150.00000,1.500000,2.0
2,1.0,4.0,0.2,2.0,0.0,1.0,0.4,6.0,2,63.0,140.000000,0.000000,149.00000,2.000000,2.0
3,0.0,2.0,0.0,0.0,0.0,1.2,0.4,3.0,3,52.0,140.000000,207.191179,140.00000,0.000000,0.0
4,1.0,4.0,0.0,0.0,1.0,3.0,0.0,7.0,4,55.0,140.000000,217.000000,111.00000,5.600000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1.0,4.0,0.0,0.0,1.0,2.0,1.2,6.0,911,54.0,200.000000,198.000000,142.00000,2.000000,NaN
912,1.0,2.0,1.0,1.0,0.0,1.6,0.0,5.8,912,55.0,110.000000,214.000000,180.00000,0.633241,NaN
913,1.0,3.0,0.0,2.0,0.0,2.0,0.0,7.0,913,67.0,152.000000,212.000000,150.00000,0.800000,NaN
914,1.0,1.0,0.0,2.0,0.0,2.0,0.0,7.0,914,59.0,170.000000,288.000000,159.00000,0.200000,NaN
915,1.0,4.0,1.0,0.0,0.4,2.0,1.8,6.4,915,58.0,134.780596,203.000000,133.14897,1.013531,NaN

## 3.1. SEPARAR SETS

In [66]:
test_ini03 = df_imput03[df_imput03['label'].isna() == True]
test_ini03 = test_ini03.drop(columns= 'label')
print('TEST:')
test_ini03

TEST:

,sex,cp,fbs,restecg,exang,slope,ca,thal,df_index,age,trestbps,chol,thalach,oldpeak
732,1.0,4.0,0.0,2.0,1.0,3.0,1.0,6.2,732,57.0,156.000000,173.000000,119.00000,3.000000
733,1.0,2.0,0.0,0.0,0.0,1.6,0.0,6.0,733,52.0,160.000000,196.000000,165.00000,0.000000
734,1.0,2.0,0.0,0.0,0.0,1.6,0.0,6.0,734,48.0,100.000000,140.780815,100.00000,0.000000
735,1.0,4.0,0.6,0.0,1.0,3.0,0.6,6.2,735,62.0,115.000000,0.000000,128.00000,2.500000
736,1.0,3.0,0.0,0.0,0.0,1.0,0.0,3.0,736,51.0,110.000000,175.000000,123.00000,0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1.0,4.0,0.0,0.0,1.0,2.0,1.2,6.0,911,54.0,200.000000,198.000000,142.00000,2.000000
912,1.0,2.0,1.0,1.0,0.0,1.6,0.0,5.8,912,55.0,110.000000,214.000000,180.00000,0.633241
913,1.0,3.0,0.0,2.0,0.0,2.0,0.0,7.0,913,67.0,152.000000,212.000000,150.00000,0.800000
914,1.0,1.0,0.0,2.0,0.0,2.0,0.0,7.0,914,59.0,170.000000,288.000000,159.00000,0.200000
915,1.0,4.0,1.0,0.0,0.4,2.0,1.8,6.4,915,58.0,134.780596,203.000000,133.14897,1.013531

In [67]:
train_ini03 = df_imput03[df_imput03['label'].isna() == False]
train_ini03.reset_index(inplace=False)
print('TRAIN:')
train_ini03

TRAIN:

,sex,cp,fbs,restecg,exang,slope,ca,thal,df_index,age,trestbps,chol,thalach,oldpeak,label
0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,3.0,0,51.0,125.000000,213.000000,125.000000,1.400000,0.0
1,1.0,3.0,0.0,0.0,1.0,2.2,0.8,7.0,1,54.0,120.000000,237.000000,150.000000,1.500000,2.0
2,1.0,4.0,0.2,2.0,0.0,1.0,0.4,6.0,2,63.0,140.000000,0.000000,149.000000,2.000000,2.0
3,0.0,2.0,0.0,0.0,0.0,1.2,0.4,3.0,3,52.0,140.000000,207.191179,140.000000,0.000000,0.0
4,1.0,4.0,0.0,0.0,1.0,3.0,0.0,7.0,4,55.0,140.000000,217.000000,111.000000,5.600000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,1.0,3.0,0.0,0.0,0.0,1.6,0.2,3.8,727,46.0,120.000000,230.000000,150.000000,0.000000,0.0
728,1.0,3.0,0.0,1.0,0.8,2.2,1.2,4.4,728,62.0,136.801676,204.000000,129.433833,1.126129,1.0
729,0.0,3.0,0.0,0.0,0.0,2.0,0.0,3.0,729,43.0,122.000000,213.000000,165.000000,0.200000,0.0
730,1.0,3.0,1.0,0.0,0.0,1.4,0.8,6.0,730,68.0,150.000000,195.000000,132.000000,0.000000,1.0
731,0.0,2.0,0.0,0.0,0.0,1.0,0.0,3.0,731,41.0,126.000000,306.000000,163.000000,0.000000,0.0

In [68]:
# (80% train)
y03 = train_ini03['label']
x03= train_ini03.drop(columns = 'label')

# Split in train and val sets
x_train03, x_val03, y_train03, y_val03 = train_test_split(x03, y03, test_size=0.125, random_state=35)

x_test03 = test_ini03

print(x_train03.shape, y_train03.shape)
print(x_val03.shape, y_val03.shape)
print(x_test03.shape)

(640, 14) (640,)
(92, 14) (92,)
(184, 14)

## 3.2. NORMALIZAR

In [69]:
x_train03_s, x_val03_s, x_test03_s = escalar_datos(x_train03, x_val03, x_test03)

# Verificar
print(x_train03_s.min(axis=0),x_train03_s.max(axis=0))
print(x_val03_s.min(axis=0),x_val03_s.max(axis=0))
print(x_test03_s.min(axis=0),x_test03_s.max(axis=0))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.] [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[0.         0.         0.         0.         0.         0.
 0.         0.         0.02328767 0.125      0.07407407 0.
 0.14084507 0.29545455] [1.         1.         1.         1.         1.         1.
 0.73333333 1.         1.00136986 1.         0.72222222 0.69154229
 0.85211268 0.69318182]
[ 0.          0.          0.          0.          0.          0.
  0.          0.          1.00273973  0.02083333 -0.11111111  0.
  0.04929577  0.21590909] [1.         1.         1.         1.         1.         1.
 1.         1.         1.25342466 1.02083333 1.         0.67495854
 0.90140845 0.75      ]

## 3.3. MODELOS

### 3.3.1. KNN k=2

In [70]:
k_list = list(range(1, 12))
param_grid03 = {
    'n_neighbors': k_list
}

# Inicializar el modelo kNN
modelo_knn03 = KNeighborsClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search03 = GridSearchCV(modelo_knn03, param_grid03, cv=5)
grid_search03.fit(x_train03_s, y_train03)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_knn03 = grid_search03.best_params_
print("Mejores hiperparametros:", mejores_parametros_knn03)

Mejores hiperparametros: {'n_neighbors': 2}

In [71]:
df_predicciones_knn03 = entrenar_y_evaluar_knn02(x_train03_s, y_train03, x_val03_s, y_val03, x_test03_s, test_ini03, 2)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.4649427010440172

In [72]:
# df_predicciones_knn03['ID'] = range(len(df_predicciones_knn03))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_knn03[['ID', 'label']].to_csv('try?_data.csv', index=False)

### 3.3.2. SVM

In [73]:
svm_grid03 = {
    'C': [0.1, 1, 10], 
    'kernel': ['linear', 'rbf']
}

# Inicializar el modelo kNN
modelo_svm03 = SVC()


# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search03_2 = GridSearchCV(modelo_svm03, svm_grid03, cv=5)
grid_search03_2.fit(x_train03_s, y_train03)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_svm03 = grid_search03_2.best_params_
print("Mejores hiperparametros:", mejores_parametros_svm03)

Mejores hiperparametros: {'C': 10, 'kernel': 'linear'}

In [74]:
df_predicciones_svm03 = entrenar_y_evaluar_svm02(x_train03_s, y_train03, x_val03_s, y_val03, x_test03_s, test_ini03, 10, 'linear')

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.49980905462947056

In [75]:
# df_predicciones_knn03['ID'] = range(len(df_predicciones_knn03))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_knn03[['ID', 'label']].to_csv('try?_data.csv', index=False)

### 3.3.3. RANDOM FOREST

In [76]:
param_grid03_3 = {
    'n_estimators': [50, 100, 200], 
    'max_depth': [None, 10, 20]
}

# Inicializar el modelo kNN
modelo_rf03 = RandomForestClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search03_3 = GridSearchCV(modelo_rf03, param_grid03_3, cv=5)
grid_search03_3.fit(x_train03_s, y_train03)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_rf03_3 = grid_search03_3.best_params_
print("Mejores hiperparametros:", mejores_parametros_rf03_3)

Mejores hiperparametros: {'max_depth': 10, 'n_estimators': 50}

In [77]:
df_predicciones_rf03 = entrenar_y_evaluar_rf02(x_train03_s, y_train03, x_val03_s, y_val03, x_test03_s, test_ini03, 20, 100)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5036978933213806

In [78]:
df_predicciones_rf03_2 = entrenar_y_evaluar_rf02(x_train03_s, y_train03, x_val03_s, y_val03, x_test03_s, test_ini03, 10, 200)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5332616658703614

In [79]:
# df_predicciones_rf03['ID'] = range(len(df_predicciones_rf03))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_rf03[['ID', 'label']].to_csv('try?_data.csv', index=False)

In [80]:
# df_predicciones_rf03_2['ID'] = range(len(df_predicciones_rf03_2))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_rf03_2[['ID', 'label']].to_csv('try?_data.csv', index=False)

### 3.3.4. XGBOOST

In [81]:
depth_list = list(range(2, 12))
param_grid03_4 = {
    'learning_rate': [0.1, 0.01, 0.001], 
    'max_depth': depth_list
}

# Inicializar el modelo kNN
modelo_xgb03 = XGBClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search03_4 = GridSearchCV(modelo_xgb03, param_grid03_4, cv=5)
grid_search03_4.fit(x_train03_s, y_train03)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_xgb03 = grid_search03_4.best_params_
print("Mejores hiperparametros:", mejores_parametros_xgb03)

Mejores hiperparametros: {'learning_rate': 0.1, 'max_depth': 11}

In [82]:
df_predicciones_xgb03 = entrenar_y_evaluar_xgb02(x_train03_s, y_train03, x_val03_s, y_val03, x_test03_s, test_ini03, 0.1, 11)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5110747594575802

In [83]:
# df_predicciones_xgb03['ID'] = range(len(df_predicciones_xgb03))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_xgb03[['ID', 'label']].to_csv('try?_data.csv', index=False)

### 3.3.5. NAIVE BAYES

In [84]:
df_predicciones_nb03 = entrenar_y_evaluar_nb02(x_train03_s, y_train03, x_val03_s, y_val03, x_test03_s, test_ini03)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5380419518747414

In [85]:
# df_predicciones_nb03['ID'] = range(len(df_predicciones_nb03))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_nb03[['ID', 'label']].to_csv('try30_data.csv', index=False)

## 3.4. PCA

In [102]:
from sklearn.decomposition import PCA

pca = PCA(n_components=3)  # Especifica el nÃºmero de componentes principales deseados
pca_train = pca.fit_transform(x_train03_s)
pca_val = pca.fit_transform(x_val03_s)
pca_test = pca.fit_transform(x_test03_s)

# Crear un DataFrame con los resultados del PCA
df_pca_train = pd.DataFrame(data=pca_train, columns=['CP1', 'CP2', 'CP3'])
df_pca_val = pd.DataFrame(data=pca_val, columns=['CP1', 'CP2', 'CP3'])
df_pca_test = pd.DataFrame(data=pca_test, columns=['CP1', 'CP2', 'CP3'])

df_pca_train

          CP1       CP2       CP3
0    0.137257 -0.511697 -0.183189
1    0.299346 -0.459913 -0.121077
2    0.364697 -0.571122 -0.189032
3   -0.008212  0.249883 -0.811386
4    0.090249 -0.505880 -0.175971
..        ...       ...       ...
635  0.501183 -0.385494  0.025303
636 -0.741197 -0.354333  0.235809
637 -0.607781 -0.323222  0.334271
638  0.287636 -0.515484 -0.216914
639 -0.078470  0.419191 -0.615530

[640 rows x 3 columns]

### 3.4.1. NAIVE BAYES CON PCA n_components = 3

In [103]:
df_predicciones_nb03_2 = entrenar_y_evaluar_nb02(df_pca_train, y_train03, df_pca_val, y_val03, df_pca_test, test_ini03)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5033081285444234

### 3.4.2. RANDOM FOREST CON PCA n_components = 3

In [132]:
param_grid03_4 = {
    'n_estimators': [50, 100, 200], 
    'max_depth': [None, 10, 20]
}

# Inicializar el modelo kNN
modelo_rf03_4 = RandomForestClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search03_4 = GridSearchCV(modelo_rf03_4, param_grid03_4, cv=5)
grid_search03_4.fit(df_pca_train, y_train03)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_rf03_4 = grid_search03_4.best_params_
print("Mejores hiperparametros:", mejores_parametros_rf03_4)

Mejores hiperparametros: {'max_depth': None, 'n_estimators': 50}

In [113]:
df_predicciones_rf03_4 = entrenar_y_evaluar_rf02(df_pca_train, y_train03, df_pca_val, y_val03, df_pca_test, test_ini03, None, 50)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5224004084545164

In [114]:
df_predicciones_rf03_4['label'].value_counts()

label
0.0    104
1.0     38
3.0     26
2.0     16
Name: count, dtype: int64

In [123]:
# df_predicciones_rf03_4['ID'] = range(len(df_predicciones_rf03_4))
# # Guardar las columnas 'index' y 'label' en un archivo CSV
# df_predicciones_rf03_4[['ID', 'label']].to_csv('try33_data.csv', index=False)

### 3.4.2. RANDOM FOREST CON PCA n_components = 6

In [115]:
pca = PCA(n_components=6)  # Especifica el nÃºmero de componentes principales deseados
pca_train2 = pca.fit_transform(x_train03_s)
pca_val2 = pca.fit_transform(x_val03_s)
pca_test2 = pca.fit_transform(x_test03_s)

# Crear un DataFrame con los resultados del PCA
df_pca_train2 = pd.DataFrame(data=pca_train2, columns=['CP1', 'CP2', 'CP3', 'CP4', 'CP5', 'CP6'])
df_pca_val2 = pd.DataFrame(data=pca_val2, columns=['CP1', 'CP2', 'CP3', 'CP4', 'CP5', 'CP6'])
df_pca_test2 = pd.DataFrame(data=pca_test2, columns=['CP1', 'CP2', 'CP3', 'CP4', 'CP5', 'CP6'])

df_pca_train2

          CP1       CP2       CP3       CP4       CP5       CP6
0    0.137257 -0.511697 -0.183188 -0.115034  0.187466 -0.237876
1    0.299346 -0.459922 -0.121081 -0.097486  0.067084 -0.123664
2    0.364697 -0.571122 -0.189032 -0.155263 -0.144269 -0.065065
3   -0.008212  0.249888 -0.811383  0.479882 -0.070359  0.055302
4    0.090249 -0.505877 -0.175969 -0.108666  0.163000 -0.266619
..        ...       ...       ...       ...       ...       ...
635  0.501183 -0.385495  0.025303 -0.101613 -0.249227 -0.204978
636 -0.741197 -0.354329  0.235810 -0.023209  0.153083  0.085687
637 -0.607781 -0.323223  0.334270 -0.052848 -0.225877 -0.390263
638  0.287636 -0.515482 -0.216913 -0.100636 -0.096117 -0.083254
639 -0.078470  0.419191 -0.615530 -0.449323  0.484254  0.300671

[640 rows x 6 columns]

In [116]:
param_grid03_5 = {
    'n_estimators': [50, 100, 200], 
    'max_depth': [None, 10, 20]
}

# Inicializar el modelo kNN
modelo_rf03_5 = RandomForestClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search03_5 = GridSearchCV(modelo_rf03_5, param_grid03_5, cv=5)
grid_search03_5.fit(df_pca_train2, y_train03)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_rf03_5 = grid_search03_5.best_params_
print("Mejores hiperparametros:", mejores_parametros_rf03_5)

Mejores hiperparametros: {'max_depth': 10, 'n_estimators': 50}

In [127]:
df_predicciones_rf03_5 = entrenar_y_evaluar_rf02(df_pca_train2, y_train03, df_pca_val2, y_val03, df_pca_test2, test_ini03, 10, 50)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.4773618829682903

# 4. CORRECCIÃ“N DATAFRAMES Y RESULTADOS PUNTO 3

Hubo un error con los dataframes al imputar los datos, o sea al inicio. En imput03_1 = imp02_2.fit_transform(df[numeric_cols]) deberia ser df_sin_chol0

## 4.0. IMPUTACIÃ“N

In [155]:
import numpy as np
df_sin_chol0 = df.copy()
df_sin_chol0['chol'].replace({0: np.nan}, inplace = True)
df_sin_chol0['chol'].nsmallest(10)

438     85.0
301    100.0
609    100.0
602    117.0
108    126.0
514    129.0
276    131.0
561    132.0
597    139.0
53     141.0
Name: chol, dtype: float64

In [156]:
categorical_cols = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

# # Construimos el modelo
# imp02_1 = KNNImputer(n_neighbors=5, weights="uniform")

# # Ajustamos el modelo e imputamos los missing values
# imput02_1 = imp02_1.fit_transform(df[categorical_cols])
# imput02_1 = pd.DataFrame(imput02_1, columns=categorical_cols)

# imput02_1['df_index'] = df['df_index']
# imput02_1
# df

# imp02_2 = IterativeImputer(max_iter=10, random_state=0)
# numeric_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
imput04_1 = imp02_2.fit_transform(df_sin_chol0[numeric_cols])
imput04_1 = pd.DataFrame(imput04_1, columns=numeric_cols)

imput04_1['df_index'] = df_sin_chol0['df_index']

imput04_1.describe()

              age    trestbps        chol     thalach    oldpeak    df_index
count  916.000000  916.000000  916.000000  916.000000  916.00000  916.000000
mean    53.528384  132.477660  247.023855  137.161780    0.88628  457.500000
std      9.397376   17.953603   51.837819   25.262931    1.05475  264.570721
min     28.000000   80.000000   85.000000   60.000000   -2.60000    0.000000
25%     47.000000  120.000000  217.000000  120.000000    0.00000  228.750000
50%     54.000000  130.000000  245.997488  138.000000    0.70000  457.500000
75%     60.000000  140.000000  267.000000  156.000000    1.50000  686.250000
max     77.000000  200.000000  603.000000  202.000000    6.20000  915.000000

In [158]:
df_imput04_1 = pd.merge(imput02_1, imput04_1, on='df_index')

df_imput04 = pd.merge(df_imput04_1, label_df, on='df_index')
df_imput04

,sex,cp,fbs,restecg,exang,slope,ca,thal,df_index,age,trestbps,chol,thalach,oldpeak,label
0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,3.0,0,51.0,125.000000,213.000000,125.000000,1.400000,0.0
1,1.0,3.0,0.0,0.0,1.0,2.2,0.8,7.0,1,54.0,120.000000,237.000000,150.000000,1.500000,2.0
2,1.0,4.0,0.2,2.0,0.0,1.0,0.4,6.0,2,63.0,140.000000,249.045701,149.000000,2.000000,2.0
3,0.0,2.0,0.0,0.0,0.0,1.2,0.4,3.0,3,52.0,140.000000,248.020711,140.000000,0.000000,0.0
4,1.0,4.0,0.0,0.0,1.0,3.0,0.0,7.0,4,55.0,140.000000,217.000000,111.000000,5.600000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1.0,4.0,0.0,0.0,1.0,2.0,1.2,6.0,911,54.0,200.000000,198.000000,142.000000,2.000000,NaN
912,1.0,2.0,1.0,1.0,0.0,1.6,0.0,5.8,912,55.0,110.000000,214.000000,180.000000,0.631566,NaN
913,1.0,3.0,0.0,2.0,0.0,2.0,0.0,7.0,913,67.0,152.000000,212.000000,150.000000,0.800000,NaN
914,1.0,1.0,0.0,2.0,0.0,2.0,0.0,7.0,914,59.0,170.000000,288.000000,159.000000,0.200000,NaN
915,1.0,4.0,1.0,0.0,0.4,2.0,1.8,6.4,915,58.0,133.427954,203.000000,133.197322,0.985239,NaN

## 4.1. SEPARAR SETS

In [159]:
test_ini04 = df_imput04[df_imput04['label'].isna() == True]
test_ini04 = test_ini04.drop(columns= 'label')
print('TEST:')
test_ini04

TEST:

,sex,cp,fbs,restecg,exang,slope,ca,thal,df_index,age,trestbps,chol,thalach,oldpeak
732,1.0,4.0,0.0,2.0,1.0,3.0,1.0,6.2,732,57.0,156.000000,173.000000,119.000000,3.000000
733,1.0,2.0,0.0,0.0,0.0,1.6,0.0,6.0,733,52.0,160.000000,196.000000,165.000000,0.000000
734,1.0,2.0,0.0,0.0,0.0,1.6,0.0,6.0,734,48.0,100.000000,242.518569,100.000000,0.000000
735,1.0,4.0,0.6,0.0,1.0,3.0,0.6,6.2,735,62.0,115.000000,245.572304,128.000000,2.500000
736,1.0,3.0,0.0,0.0,0.0,1.0,0.0,3.0,736,51.0,110.000000,175.000000,123.000000,0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1.0,4.0,0.0,0.0,1.0,2.0,1.2,6.0,911,54.0,200.000000,198.000000,142.000000,2.000000
912,1.0,2.0,1.0,1.0,0.0,1.6,0.0,5.8,912,55.0,110.000000,214.000000,180.000000,0.631566
913,1.0,3.0,0.0,2.0,0.0,2.0,0.0,7.0,913,67.0,152.000000,212.000000,150.000000,0.800000
914,1.0,1.0,0.0,2.0,0.0,2.0,0.0,7.0,914,59.0,170.000000,288.000000,159.000000,0.200000
915,1.0,4.0,1.0,0.0,0.4,2.0,1.8,6.4,915,58.0,133.427954,203.000000,133.197322,0.985239

In [160]:
train_ini04 = df_imput04[df_imput04['label'].isna() == False]
train_ini04.reset_index(inplace=False)
print('TRAIN:')
train_ini04

TRAIN:

,sex,cp,fbs,restecg,exang,slope,ca,thal,df_index,age,trestbps,chol,thalach,oldpeak,label
0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,3.0,0,51.0,125.000000,213.000000,125.000000,1.40000,0.0
1,1.0,3.0,0.0,0.0,1.0,2.2,0.8,7.0,1,54.0,120.000000,237.000000,150.000000,1.50000,2.0
2,1.0,4.0,0.2,2.0,0.0,1.0,0.4,6.0,2,63.0,140.000000,249.045701,149.000000,2.00000,2.0
3,0.0,2.0,0.0,0.0,0.0,1.2,0.4,3.0,3,52.0,140.000000,248.020711,140.000000,0.00000,0.0
4,1.0,4.0,0.0,0.0,1.0,3.0,0.0,7.0,4,55.0,140.000000,217.000000,111.000000,5.60000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,1.0,3.0,0.0,0.0,0.0,1.6,0.2,3.8,727,46.0,120.000000,230.000000,150.000000,0.00000,0.0
728,1.0,3.0,0.0,1.0,0.8,2.2,1.2,4.4,728,62.0,135.339643,204.000000,129.232398,1.09341,1.0
729,0.0,3.0,0.0,0.0,0.0,2.0,0.0,3.0,729,43.0,122.000000,213.000000,165.000000,0.20000,0.0
730,1.0,3.0,1.0,0.0,0.0,1.4,0.8,6.0,730,68.0,150.000000,195.000000,132.000000,0.00000,1.0
731,0.0,2.0,0.0,0.0,0.0,1.0,0.0,3.0,731,41.0,126.000000,306.000000,163.000000,0.00000,0.0

In [161]:
# (80% train)
y04 = train_ini04['label']
x04= train_ini04.drop(columns = 'label')

# Split in train and val sets
x_train04, x_val04, y_train04, y_val04 = train_test_split(x04, y04, test_size=0.125, random_state=35)

x_test04 = test_ini04

print(x_train04.shape, y_train04.shape)
print(x_val04.shape, y_val04.shape)
print(x_test04.shape)

(640, 14) (640,)
(92, 14) (92,)
(184, 14)

## 4.2. NORMALIZAR

In [162]:
x_train04_s, x_val04_s, x_test04_s = escalar_datos(x_train04, x_val04, x_test04)

# Verificar
print(x_train04_s.min(axis=0),x_train04_s.max(axis=0))
print(x_val04_s.min(axis=0),x_val04_s.max(axis=0))
print(x_test04_s.min(axis=0),x_test04_s.max(axis=0))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.] [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[0.         0.         0.         0.         0.         0.
 0.         0.         0.02328767 0.125      0.07407407 0.14478764
 0.14084507 0.29545455] [1.         1.         1.         1.         1.         1.
 0.73333333 1.         1.00136986 1.         0.72222222 0.64092664
 0.85211268 0.69318182]
[ 0.          0.          0.          0.          0.          0.
  0.          0.          1.00273973  0.02083333 -0.11111111  0.12355212
  0.04929577  0.21590909] [1.         1.         1.         1.         1.         1.
 1.         1.         1.25342466 1.02083333 1.         0.62162162
 0.90140845 0.75      ]

## 4.3. MODELOS

### 4.3.1. KNN k = 11

In [163]:
k_list = list(range(1, 12))
param_grid04 = {
    'n_neighbors': k_list
}

# Inicializar el modelo kNN
modelo_knn04 = KNeighborsClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search04 = GridSearchCV(modelo_knn04, param_grid04, cv=5)
grid_search04.fit(x_train04_s, y_train04)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_knn04 = grid_search04.best_params_
print("Mejores hiperparametros:", mejores_parametros_knn04)

Mejores hiperparametros: {'n_neighbors': 11}

In [164]:
df_predicciones_knn04 = entrenar_y_evaluar_knn02(x_train04_s, y_train04, x_val04_s, y_val04, x_test04_s, test_ini04, 11)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5537183145878799

### 4.3.2. SVM 'C': 1, 'kernel': 'rbf'

In [167]:
svm_grid04 = {
    'C': [0.1, 1, 10], 
    'kernel': ['linear', 'rbf']
}

# Inicializar el modelo kNN
modelo_svm04 = SVC()


# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search04_2 = GridSearchCV(modelo_svm04, svm_grid04, cv=5)
grid_search04_2.fit(x_train04_s, y_train04)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_svm04 = grid_search04_2.best_params_
print("Mejores hiperparametros:", mejores_parametros_svm04)

Mejores hiperparametros: {'C': 1, 'kernel': 'rbf'}

In [181]:
df_predicciones_svm04 = entrenar_y_evaluar_svm02(x_train04_s, y_train04, x_val04_s, y_val04, x_test04_s, test_ini04, 1, 'rbf')

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.46270176720573813

### 4.3.3. RANDOM FOREST

In [168]:
param_grid04_3 = {
    'n_estimators': [50, 100, 200], 
    'max_depth': [None, 10, 20]
}

# Inicializar el modelo kNN
modelo_rf04 = RandomForestClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search04_3 = GridSearchCV(modelo_rf04, param_grid04_3, cv=5)
grid_search04_3.fit(x_train04_s, y_train04)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_rf04_3 = grid_search04_3.best_params_
print("Mejores hiperparametros:", mejores_parametros_rf04_3)

Mejores hiperparametros: {'max_depth': 10, 'n_estimators': 200}

In [172]:
df_predicciones_rf04 = entrenar_y_evaluar_rf02(x_train04_s, y_train04, x_val04_s, y_val04, x_test04_s, test_ini04, 10, 200)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5230518200735179

### 4.3.4. XGBOOST

In [173]:
depth_list = list(range(2, 12))
param_grid04_4 = {
    'learning_rate': [0.1, 0.01, 0.001], 
    'max_depth': depth_list
}

# Inicializar el modelo kNN
modelo_xgb04 = XGBClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search04_4 = GridSearchCV(modelo_xgb04, param_grid04_4, cv=5)
grid_search04_4.fit(x_train04_s, y_train04)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_xgb04 = grid_search04_4.best_params_
print("Mejores hiperparametros:", mejores_parametros_xgb04)

Mejores hiperparametros: {'learning_rate': 0.1, 'max_depth': 9}

In [174]:
df_predicciones_xgb04 = entrenar_y_evaluar_xgb02(x_train04_s, y_train04, x_val04_s, y_val04, x_test04_s, test_ini04, 0.1, 9)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5502044481067173

### 4.3.5. NAIVE BAYES

In [175]:
df_predicciones_nb04 = entrenar_y_evaluar_nb02(x_train04_s, y_train04, x_val04_s, y_val04, x_test04_s, test_ini04)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5055874422569836

## 4.4. PCA

In [197]:

pca = PCA(n_components=4)  # Especifica el nÃºmero de componentes principales deseados
pca_train4 = pca.fit_transform(x_train04_s)
pca_val4 = pca.fit_transform(x_val04_s)
pca_test4 = pca.fit_transform(x_test04_s)

# Crear un DataFrame con los resultados del PCA
df_pca_train4 = pd.DataFrame(data=pca_train4, columns=['CP1', 'CP2', 'CP3', 'CP4'])
df_pca_val4 = pd.DataFrame(data=pca_val4, columns=['CP1', 'CP2', 'CP3', 'CP4'])
df_pca_test4 = pd.DataFrame(data=pca_test4, columns=['CP1', 'CP2', 'CP3', 'CP4'])

df_pca_train4

          CP1       CP2       CP3       CP4
0    0.136234 -0.505087 -0.222926 -0.116478
1    0.313139 -0.421029 -0.129069 -0.091254
2    0.364319 -0.565624 -0.233811 -0.158734
3   -0.008316  0.297100 -0.797865  0.476233
4    0.086542 -0.502940 -0.217923 -0.109923
..        ...       ...       ...       ...
635  0.494490 -0.393622 -0.007443 -0.100601
636 -0.729529 -0.346057  0.229874 -0.017732
637 -0.595688 -0.321471  0.330389 -0.048513
638  0.290577 -0.498521 -0.250689 -0.101459
639 -0.066937  0.489009 -0.563080 -0.442333

[640 rows x 4 columns]

### 4.4.1. KNN CON PCA

In [198]:
k_list = list(range(1, 12))
param_grid04_5 = {
    'n_neighbors': k_list
}

# Inicializar el modelo kNN
modelo_knn04_2 = KNeighborsClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search04_2 = GridSearchCV(modelo_knn04_2, param_grid04_5, cv=5)
grid_search04_2.fit(df_pca_train4, y_train04)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_knn04_2 = grid_search04_2.best_params_
print("Mejores hiperparametros:", mejores_parametros_knn04_2)

Mejores hiperparametros: {'n_neighbors': 11}

In [199]:
df_predicciones_knn04_2 = entrenar_y_evaluar_knn02(df_pca_train4, y_train04, df_pca_val4, y_val04, df_pca_test4, test_ini04, 11)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.48469144455329566

### 4.4.2. RANDOM FOREST CON PCA

In [200]:
param_grid04_5 = {
    'n_estimators': [50, 100, 200], 
    'max_depth': [None, 10, 20]
}

# Inicializar el modelo kNN
modelo_rf04_5 = RandomForestClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search04_5 = GridSearchCV(modelo_rf04_5, param_grid04_5, cv=5)
grid_search04_5.fit(df_pca_train4, y_train04)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_rf04_5 = grid_search04_5.best_params_
print("Mejores hiperparametros:", mejores_parametros_rf04_5)

Mejores hiperparametros: {'max_depth': 10, 'n_estimators': 200}

In [201]:
df_predicciones_rf04_2 = entrenar_y_evaluar_rf02(df_pca_train4, y_train04, df_pca_val4, y_val04, df_pca_test4, test_ini04, 10, 200)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5247252995194153

### 4.4.3. XGBOOST CON PCA

In [202]:
depth_list = list(range(2, 12))
param_grid04_6 = {
    'learning_rate': [0.1, 0.01, 0.001], 
    'max_depth': depth_list
}

# Inicializar el modelo kNN
modelo_xgb04_6 = XGBClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search04_6 = GridSearchCV(modelo_xgb04_6, param_grid04_6, cv=5)
grid_search04_6.fit(x_train04_s, y_train04)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_xgb04_6 = grid_search04_6.best_params_
print("Mejores hiperparametros:", mejores_parametros_xgb04_6)

Mejores hiperparametros: {'learning_rate': 0.1, 'max_depth': 9}

In [203]:
df_predicciones_xgb04_6 = entrenar_y_evaluar_xgb02(df_pca_train4, y_train04, df_pca_val4, y_val04, df_pca_test4, test_ini04, 0.1, 9)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5146331113722418

### 4.4.4. NAIVE BAYES CON PCA

In [204]:
df_predicciones_nb04_2 = entrenar_y_evaluar_nb02(df_pca_train4, y_train04, df_pca_val4, y_val04, df_pca_test4, test_ini04)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.4870005110523149

# 5. PRUEBA CON SET FALSO DE TEST (FTEST)

Cojo la misma imputaciÃ³n del punto 4.

## 5.1. SEPARAR SETS

SET DE TEST REAL

In [205]:
test_ini05 = test_ini04.copy()

SET DE TRAIN ORIGINAL (CSV)

In [206]:
train_ini05 = train_ini04.copy()

SEPARACIÃ“N 60% TEST, 10% VALIDACIÃ“N, 10% TEST FALSO, 20% TEST REAL

In [211]:
# (80% train)
y05 = train_ini05['label']
x05= train_ini05.drop(columns = 'label')

# Split in train and val sets
x_train_val05, x_Ftest05, y_train_val05, y_Ftest05 = train_test_split(x05, y05, test_size=0.125, random_state=35)
x_train05, x_val05, y_train05, y_val05 = train_test_split(x_train_val05, y_train_val05, test_size=1/7, random_state=35)

x_test05 = test_ini05

print(x_train05.shape, y_train05.shape)
print(x_val05.shape, y_val05.shape)
print(x_Ftest05.shape, y_Ftest05.shape)
print(x_test05.shape)

(548, 14) (548,)
(92, 14) (92,)
(92, 14) (92,)
(184, 14)

## 5.2. NORMALIZAR

In [213]:
x_train05_s, x_val05_s, x_Ftest05_s = escalar_datos(x_train05, x_val05, x_Ftest05)

# Verificar
print(x_train05_s.min(axis=0),x_train05_s.max(axis=0))
print(x_val05_s.min(axis=0),x_val05_s.max(axis=0))
print(x_Ftest05_s.min(axis=0),x_Ftest05_s.max(axis=0))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.] [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[0.         0.         0.         0.         0.         0.
 0.         0.         0.0109589  0.02083333 0.02777778 0.07915058
 0.13333333 0.19318182] [1.         1.         1.         1.         1.         1.
 1.         1.         0.9890411  0.97916667 0.81481481 0.496139
 1.05185185 0.77272727]
[0.         0.         0.         0.         0.         0.
 0.         0.         0.02328767 0.125      0.07407407 0.14478764
 0.14814815 0.29545455] [1.         1.         1.         1.         1.         1.
 0.73333333 1.         1.00136986 1.         0.72222222 0.64092664
 0.8962963  0.69318182]

## 5.3. MODELOS

KNN

In [216]:
k_list = list(range(1, 12))
param_grid05_1 = {
    'n_neighbors': k_list
}

# Inicializar el modelo kNN
modelo_knn05_1 = KNeighborsClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search05_1 = GridSearchCV(modelo_knn05_1, param_grid05_1, cv=5)
grid_search05_1.fit(x_train05_s, y_train05)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_knn05_1 = grid_search05_1.best_params_
print("Mejores hiperparametros:", mejores_parametros_knn05_1)

Mejores hiperparametros: {'n_neighbors': 9}

In [217]:
df_predicciones_knn05 = entrenar_y_evaluar_knn02(x_train05_s, y_train05, x_val05_s, y_val05, x_Ftest05_s, x_Ftest05, 9)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.462986295033371

In [227]:
porcentaje_aciertos_knn = (df_predicciones_knn05['label'] == y_Ftest05).mean() * 100

print(f"Porcentaje de aciertos: {porcentaje_aciertos_knn:.2f}%")

Porcentaje de aciertos: 56.52%

SVM

In [218]:
svm_grid05_2 = {
    'C': [0.1, 1, 10], 
    'kernel': ['linear', 'rbf']
}

# Inicializar el modelo kNN
modelo_svm05_2 = SVC()


# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search05_2 = GridSearchCV(modelo_svm05_2, svm_grid05_2, cv=5)
grid_search05_2.fit(x_train05_s, y_train05)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_svm05_2 = grid_search05_2.best_params_
print("Mejores hiperparametros:", mejores_parametros_svm05_2)

Mejores hiperparametros: {'C': 1, 'kernel': 'linear'}

In [220]:
df_predicciones_svm05 = entrenar_y_evaluar_svm02(x_train05_s, y_train05, x_val05_s, y_val05, x_Ftest05_s, x_Ftest05, 1, 'linear')

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5261034255599473

In [228]:
porcentaje_aciertos_svm = (df_predicciones_svm05['label'] == y_Ftest05).mean() * 100

print(f"Porcentaje de aciertos: {porcentaje_aciertos_svm:.2f}%")

Porcentaje de aciertos: 54.35%

RANDOM FOREST

In [221]:
param_grid05_3 = {
    'n_estimators': [50, 100, 200], 
    'max_depth': [None, 10, 20]
}

# Inicializar el modelo kNN
modelo_rf05_3 = RandomForestClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search05_3 = GridSearchCV(modelo_rf05_3, param_grid05_3, cv=5)
grid_search05_3.fit(x_train05_s, y_train05)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_rf05_3 = grid_search05_3.best_params_
print("Mejores hiperparametros:", mejores_parametros_rf05_3)

Mejores hiperparametros: {'max_depth': 10, 'n_estimators': 100}

In [222]:
df_predicciones_rf05 = entrenar_y_evaluar_rf02(x_train05_s, y_train05, x_val05_s, y_val05, x_Ftest05_s, x_Ftest05, 10, 100)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5997578332986716

In [229]:
porcentaje_aciertos_rf = (df_predicciones_rf05['label'] == y_Ftest05).mean() * 100

print(f"Porcentaje de aciertos: {porcentaje_aciertos_rf:.2f}%")

Porcentaje de aciertos: 51.09%

XGBOOST

In [223]:
depth_list = list(range(2, 12))
param_grid05_4 = {
    'learning_rate': [0.1, 0.01, 0.001], 
    'max_depth': depth_list
}

# Inicializar el modelo kNN
modelo_xgb05 = XGBClassifier()

# Realizar la bÃºsqueda de hiperparÃ¡metros utilizando GridSearchCV con validaciÃ³n cruzada (cv=5)
grid_search05_4 = GridSearchCV(modelo_xgb05, param_grid05_4, cv=5)
grid_search05_4.fit(x_train05_s, y_train05)

# Obtener el mejor valor de k despuÃ©s de la bÃºsqueda de hiperparÃ¡metros
mejores_parametros_xgb05 = grid_search05_4.best_params_
print("Mejores hiperparametros:", mejores_parametros_xgb05)

Mejores hiperparametros: {'learning_rate': 0.1, 'max_depth': 2}

In [224]:
df_predicciones_xgb05 = entrenar_y_evaluar_xgb02(x_train05_s, y_train05, x_val05_s, y_val05, x_Ftest05_s, x_Ftest05, 0.1, 2)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5581477386676265

In [230]:
porcentaje_aciertos_xgb = (df_predicciones_xgb05['label'] == y_Ftest05).mean() * 100

print(f"Porcentaje de aciertos: {porcentaje_aciertos_xgb:.2f}%")

Porcentaje de aciertos: 58.70%

NAIVE BAYES

In [225]:
df_predicciones_nb05 = entrenar_y_evaluar_nb02(x_train05_s, y_train05, x_val05_s, y_val05, x_Ftest05_s, x_Ftest05)

PrecisiÃ³n del modelo en el conjunto de validaciÃ³n: 0.5155824443867921

In [231]:
porcentaje_aciertos_nb = (df_predicciones_nb05['label'] == y_Ftest05).mean() * 100

print(f"Porcentaje de aciertos: {porcentaje_aciertos_nb:.2f}%")

Porcentaje de aciertos: 55.43%

# 6. PESOS SEGÃšN CORRELACIONES

In [135]:
correlaciones = df.corr()['label'].drop('label')

# Utilizar los coeficientes de correlaciÃ³n como pesos
pesos = correlaciones.abs()  # Tomar el valor absoluto de las correlaciones
pesos /= pesos.sum()  # Normalizar los pesos para que sumen 1

# Aplicar los pesos a las caracterÃ­sticas
df_pesado = df.drop('label', axis=1) * pesos
df_pesado

,df_index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.000000,3.299969,0.066058,0.097182,4.860668,7.760248,0.000000,0.024195,12.436396,0.104295,0.164869,0.085879,0.122591,0.343364
1,0.007346,3.494085,0.066058,0.291547,4.666242,8.634642,0.000000,0.000000,14.923675,0.104295,0.176645,NaN,NaN,0.801184
2,0.014692,4.076433,0.066058,0.388730,5.443949,0.000000,NaN,0.024195,14.824184,0.000000,0.235527,0.085879,NaN,NaN
3,0.022038,3.364675,0.000000,0.194365,5.443949,NaN,0.000000,0.000000,13.928763,0.000000,0.000000,NaN,NaN,NaN
4,0.029384,3.558791,0.066058,0.388730,5.443949,7.905980,0.000000,0.000000,11.043520,0.104295,0.659475,0.257636,0.000000,0.801184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,6.692097,3.494085,0.066058,0.388730,7.777069,7.213752,0.000000,0.000000,14.127746,0.104295,0.235527,0.171757,NaN,NaN
912,6.699443,3.558791,0.066058,0.194365,4.277388,7.796681,0.032819,0.012097,17.908410,0.000000,NaN,NaN,NaN,NaN
913,6.706789,4.335254,0.066058,0.291547,5.910573,7.723815,0.000000,0.024195,14.923675,0.000000,0.094211,0.171757,0.000000,0.801184
914,6.714135,3.817612,0.066058,0.097182,6.610509,10.492730,0.000000,0.024195,15.819096,0.000000,0.023553,0.171757,0.000000,0.801184
915,6.721481,3.752906,0.066058,0.388730,NaN,7.395917,0.032819,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
df_sin_chol0 = df_pesado.copy()
df_sin_chol0['chol'].replace({0: np.nan}, inplace = True)
df_sin_chol0['chol'].nsmallest(10)

438    3.096813
301    3.643309
609    3.643309
602    4.262671
108    4.590569
514    4.699869
276    4.772735
561    4.809168
597    5.064199
53     5.137066
Name: chol, dtype: float64