## IMPORTS

In [1]:
import pandas as pd
import numpy as np

## LOAD DATA

In [2]:
df_test = pd.read_csv('test.csv')

In [3]:
len(df_test)

184

In [4]:
df_train = pd.read_csv('train.csv')

In [5]:
len(df_train)

732

In [6]:
df = pd.concat([df_train, df_test])

In [7]:
df.head(20)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,54.0,1.0,3.0,120.0,237.0,0.0,0.0,150.0,1.0,1.5,-9.0,-9.0,7.0,2.0
2,63.0,1.0,4.0,140,0,?,2.0,149,0,2,1,?,?,2.0
3,52.0,0.0,2.0,140.0,-9.0,0.0,0.0,140.0,0.0,0.0,-9.0,-9.0,-9.0,0.0
4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
5,44.0,1.0,4.0,120.0,169.0,0.0,0.0,144.0,1.0,2.8,3.0,0.0,6.0,2.0
6,35.0,1.0,2.0,122.0,192.0,0.0,0.0,174.0,0.0,0.0,1.0,0.0,3.0,0.0
7,62.0,1.0,4.0,135,297,0,0.0,130,1,1,2,?,?,2.0
8,68.0,1.0,4.0,135,0,0,1.0,120,1,0,1,?,7,3.0
9,50.0,1.0,4.0,140.0,231.0,0.0,1.0,140.0,1.0,5.0,2.0,-9.0,-9.0,4.0
10,38.0,1.0,3.0,100,0,?,0.0,179,0,-1.1,1,?,?,0.0
11,64.0,1.0,4.0,120.0,246.0,0.0,2.0,96.0,1.0,2.2,3.0,1.0,3.0,3.0
12,56.0,1.0,3.0,130.0,256.0,1.0,2.0,142.0,1.0,0.6,2.0,1.0,6.0,2.0
13,61.0,1.0,4.0,120,282,0,1.0,135,1,4,3,?,6,3.0
14,60.0,1.0,4.0,135,0,0,0.0,63,1,.5,1,?,7,3.0
15,59.0,0.0,4.0,130.0,338.0,1.0,1.0,130.0,1.0,1.5,2.0,-9.0,-9.0,1.0
16,68.0,0.0,3.0,120.0,211.0,0.0,2.0,115.0,0.0,1.5,2.0,0.0,3.0,0.0
17,45.0,1.0,4.0,104.0,208.0,0.0,2.0,148.0,1.0,3.0,2.0,0.0,3.0,0.0
18,53.0,1.0,4.0,124,243,0,0.0,122,1,2,2,?,7,1.0
19,52.0,1.0,3.0,140.0,259.0,0.0,1.0,170.0,0.0,0.0,-9.0,-9.0,-9.0,0.0

# VARIABLES

>**AGE:** Cuantitativa Discreta 

>**SEX:** Categórica nominativa 

>**CP:** Categórica Ordinal 

>**TRESTBPS:** Cuantitativa Discreta 

>**CHOL:** Cuantitativa Discreta 

>**FBS:** Categórica nominativa 

>**RESTECG:** Categórica Ordinal

>**THALACH:** Cuantitativa Discreta

>**EXANG:** Categórica nominativa

>**OLDPEAK:** Cuantitativa Continua

>**SLOPE:** Categórica Ordinal

>**CA:** Categórica Ordinal

>**THAL:** Categórica Ordinal

>**LABEL:** Categórica Ordinal

## CLEANING DATA

In [8]:
df.reset_index(inplace=True)

In [9]:
df

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,1,54.0,1.0,3.0,120.0,237.0,0.0,0.0,150.0,1.0,1.5,-9.0,-9.0,7.0,2.0
2,2,63.0,1.0,4.0,140,0,?,2.0,149,0,2,1,?,?,2.0
3,3,52.0,0.0,2.0,140.0,-9.0,0.0,0.0,140.0,0.0,0.0,-9.0,-9.0,-9.0,0.0
4,4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,179,54.0,1.0,4.0,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,-9.0,-9.0,NaN
912,180,55.0,1.0,2.0,110,214,1,1,180,0,?,?,?,?,NaN
913,181,67.0,1.0,3.0,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,182,59.0,1.0,1.0,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,183,58.0,1.0,4.0,?,203,1,0,?,?,?,?,?,?,NaN

In [10]:
df.columns

Index(['index', 'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'label'],
      dtype='object')

In [11]:
for i in df.columns:
    print(df[i].value_counts)

<bound method IndexOpsMixin.value_counts of 0        0
1        1
2        2
3        3
4        4
      ...
911    179
912    180
913    181
914    182
915    183
Name: index, Length: 916, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0      51.0
1      54.0
2      63.0
3      52.0
4      55.0
       ...
911    54.0
912    55.0
913    67.0
914    59.0
915    58.0
Name: age, Length: 916, dtype: float64>
<bound method IndexOpsMixin.value_counts of 0      1.0
1      1.0
2      1.0
3      0.0
4      1.0
      ...
911    1.0
912    1.0
913    1.0
914    1.0
915    1.0
Name: sex, Length: 916, dtype: float64>
<bound method IndexOpsMixin.value_counts of 0      1.0
1      3.0
2      4.0
3      2.0
4      4.0
      ...
911    4.0
912    2.0
913    3.0
914    1.0
915    4.0
Name: cp, Length: 916, dtype: float64>
<bound method IndexOpsMixin.value_counts of 0      125.0
1      120.0
2        140
3      140.0
4      140.0
       ...
911    200.0
912      110
913    152.0
914    170.0
915        ?
Name: trestbps, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0      213.0
1      237.0
2          0
3       -9.0
4      217.0
       ...
911    198.0
912      214
913    212.0
914    288.0
915      203
Name: chol, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0      0.0
1      0.0
2        ?
3      0.0
4      0.0
      ...
911    0.0
912      1
913    0.0
914    0.0
915      1
Name: fbs, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0      2.0
1      0.0
2      2.0
3      0.0
4      0.0
      ...
911    0.0
912      1
913    2.0
914    2.0
915      0
Name: restecg, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0      125.0
1      150.0
2        149
3      140.0
4      111.0
       ...
911    142.0
912      180
913    150.0
914    159.0
915        ?
Name: thalach, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0      1.0
1      1.0
2        0
3      0.0
4      1.0
      ...
911    1.0
912      0
913    0.0
914    0.0
915      ?
Name: exang, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0      1.4
1      1.5
2        2
3      0.0
4      5.6
      ...
911    2.0
912      ?
913    0.8
914    0.2
915      ?
Name: oldpeak, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       1.0
1      -9.0
2         1
3      -9.0
4       3.0
       ...
911     2.0
912       ?
913     2.0
914     2.0
915       ?
Name: slope, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       1.0
1      -9.0
2         ?
3      -9.0
4       0.0
       ...
911    -9.0
912       ?
913     0.0
914     0.0
915       ?
Name: ca, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       3.0
1       7.0
2         ?
3      -9.0
4       7.0
       ...
911    -9.0
912       ?
913     7.0
914     7.0
915       ?
Name: thal, Length: 916, dtype: object>
<bound method IndexOpsMixin.value_counts of 0      0.0
1      2.0
2      2.0
3      0.0
4      3.0
      ...
911    NaN
912    NaN
913    NaN
914    NaN
915    NaN
Name: label, Length: 916, dtype: float64>

In [12]:
df.isna().sum()

index         0
age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
label       184
dtype: int64

In [13]:
df = df.replace({"?":np.nan, "-9.0": np.nan, -9.0:np.nan, "nan":np.nan})

In [14]:
df.isna().sum()

index         0
age           0
sex           0
cp            0
trestbps     59
chol         30
fbs          89
restecg       2
thalach      55
exang        55
oldpeak      62
slope       308
ca          607
thal        483
label       184
dtype: int64

# AGE

In [15]:
df['age'] = df['age'].astype(int)

# SEX

In [16]:
df['sex'] = df['sex'].astype(int)

# CP

In [17]:
df['cp'] = df['cp'].astype(int)
df['cp'] = df['cp'].astype(str)

In [18]:
df['cp'].value_counts()

4    495
3    204
2    173
1     44
Name: cp, dtype: int64

# TRESTBPS

In [19]:
df['trestbps'] = df['trestbps'].astype(float)

In [20]:
df['trestbps'] = df['trestbps'].astype(str)

In [21]:
len(df['trestbps'].unique())

62

In [22]:
df['trestbps'].unique()

array(['125.0', '120.0', '140.0', '122.0', '135.0', '100.0', '130.0',
       '104.0', '124.0', '96.0', 'nan', '160.0', '110.0', '134.0',
       '146.0', '128.0', '105.0', '190.0', '108.0', '115.0', '150.0',
       '112.0', '178.0', '132.0', '145.0', '170.0', '155.0', '138.0',
       '144.0', '180.0', '95.0', '117.0', '142.0', '192.0', '114.0',
       '158.0', '148.0', '172.0', '154.0', '152.0', '118.0', '106.0',
       '165.0', '102.0', '113.0', '174.0', '126.0', '116.0', '127.0',
       '185.0', '200.0', '136.0', '94.0', '0.0', '92.0', '164.0', '123.0',
       '98.0', '156.0', '129.0', '80.0', '101.0'], dtype=object)

In [23]:
for i in df.index:
    if df['trestbps'][i] == 'nan':
        df['trestbps'][i] = np.nan

/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_1215/2213765485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['trestbps'][i] = np.nan

In [24]:
df['trestbps'].unique()

array(['125.0', '120.0', '140.0', '122.0', '135.0', '100.0', '130.0',
       '104.0', '124.0', '96.0', nan, '160.0', '110.0', '134.0', '146.0',
       '128.0', '105.0', '190.0', '108.0', '115.0', '150.0', '112.0',
       '178.0', '132.0', '145.0', '170.0', '155.0', '138.0', '144.0',
       '180.0', '95.0', '117.0', '142.0', '192.0', '114.0', '158.0',
       '148.0', '172.0', '154.0', '152.0', '118.0', '106.0', '165.0',
       '102.0', '113.0', '174.0', '126.0', '116.0', '127.0', '185.0',
       '200.0', '136.0', '94.0', '0.0', '92.0', '164.0', '123.0', '98.0',
       '156.0', '129.0', '80.0', '101.0'], dtype=object)

In [25]:
df

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,1,54,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,2,63,1,4,140.0,0,NaN,2.0,149,0,2,1,NaN,NaN,2.0
3,3,52,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,4,55,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,179,54,1,4,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,180,55,1,2,110.0,214,1,1,180,0,NaN,NaN,NaN,NaN,NaN
913,181,67,1,3,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,182,59,1,1,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,183,58,1,4,NaN,203,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# CHOL

In [26]:
df['chol'] = df['chol'].astype(float)

In [27]:
df['chol'].value_counts()

0.0      171
220.0     10
254.0     10
223.0      9
230.0      9
        ...
347.0      1
262.0      1
185.0      1
178.0      1
337.0      1
Name: chol, Length: 217, dtype: int64

In [28]:
df['chol'].unique()

array([213., 237.,   0.,  nan, 217., 169., 192., 297., 231., 246., 256.,
       282., 338., 211., 208., 243., 259., 303., 177., 305., 233., 165.,
       291., 172., 235., 273., 409., 234., 142., 278., 175., 229., 249.,
       254., 212., 288., 215., 222., 287., 180., 204., 141., 269., 260.,
       171., 261., 219., 491., 207., 295., 239., 518., 326., 264., 307.,
       238., 226., 252., 228., 257., 263., 316., 340., 193., 173., 201.,
       274., 275., 272., 311., 255., 224., 339., 126., 342., 236., 232.,
       283., 258., 223., 266., 466., 265., 240., 241., 290., 214., 164.,
       198., 230., 267., 404., 344., 200., 253., 195., 188., 197., 186.,
       184., 318., 268., 216., 245., 313., 179., 203., 166., 157., 160.,
       294., 341., 298., 277., 209., 302., 194., 322., 182., 149., 247.,
       276., 289., 271., 308., 250., 458., 242., 315., 310., 199., 330.,
       270., 147., 603., 220., 468., 285., 131., 178., 210., 248., 205.,
       206., 244., 100., 280., 218., 202., 225., 163., 170., 185., 262.,
       347., 174., 196., 321., 331., 167., 168., 284., 292., 293., 388.,
       333.,  85., 309., 299., 306., 327., 329., 312., 320., 221., 161.,
       281., 129., 360., 355., 335., 227., 132., 153., 336., 251., 412.,
       187., 286., 384., 139., 117., 325., 300., 529., 176., 417., 328.,
       564., 354., 365., 385., 319., 279., 349., 181., 304., 156., 407.,
       183., 358., 369., 392., 393., 394., 190., 353., 337.])

# FBS

In [29]:
df['fbs'] = df['fbs'].astype(str)

In [30]:
df['fbs'] = df['fbs'].astype(float)
df['fbs'] = df['fbs'].astype('Int64')
df['fbs'] = df['fbs'].astype(str)

In [31]:
df['fbs'].unique()

array(['0', '<NA>', '1'], dtype=object)

In [32]:
df

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51,1,1,125.0,213.0,0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,1,54,1,3,120.0,237.0,0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,2,63,1,4,140.0,0.0,<NA>,2.0,149,0,2,1,NaN,NaN,2.0
3,3,52,0,2,140.0,NaN,0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,4,55,1,4,140.0,217.0,0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,179,54,1,4,200.0,198.0,0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,180,55,1,2,110.0,214.0,1,1,180,0,NaN,NaN,NaN,NaN,NaN
913,181,67,1,3,152.0,212.0,0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,182,59,1,1,170.0,288.0,0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,183,58,1,4,NaN,203.0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# RESTECG

In [33]:
df['restecg'].value_counts()

0.0    439
2.0    148
1.0    145
0.0     77
0       33
2.0     29
1       25
2       10
1.0      8
Name: restecg, dtype: int64

In [34]:
df['restecg'] = df['restecg'].astype(float)

In [35]:
df['restecg'].value_counts()

0.0    549
2.0    187
1.0    178
Name: restecg, dtype: int64

In [36]:
df['restecg'] = df['restecg'].astype('Int64')
df['restecg'] = df['restecg'].astype('str')

In [37]:
df['restecg'].value_counts()

0       549
2       187
1       178
<NA>      2
Name: restecg, dtype: int64

In [38]:
df

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51,1,1,125.0,213.0,0,2,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,1,54,1,3,120.0,237.0,0,0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,2,63,1,4,140.0,0.0,<NA>,2,149,0,2,1,NaN,NaN,2.0
3,3,52,0,2,140.0,NaN,0,0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,4,55,1,4,140.0,217.0,0,0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,179,54,1,4,200.0,198.0,0,0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,180,55,1,2,110.0,214.0,1,1,180,0,NaN,NaN,NaN,NaN,NaN
913,181,67,1,3,152.0,212.0,0,2,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,182,59,1,1,170.0,288.0,0,2,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,183,58,1,4,NaN,203.0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# THALACH

In [39]:
df['thalach'] = df['thalach'].astype(float)
df['thalach'] = df['thalach'].astype('Int64')

In [40]:
df['thalach']

0       125
1       150
2       149
3       140
4       111
       ...
911     142
912     180
913     150
914     159
915    <NA>
Name: thalach, Length: 916, dtype: Int64

In [41]:
df['thalach'].unique()

<IntegerArray>
[125, 150, 149, 140, 111, 144, 174, 130, 120, 179,
 ...
 202, 167, 188,  78, 181, 177,  67,  71,  87,  91]
Length: 120, dtype: Int64

In [42]:
df['thalach'].value_counts()

150    42
140    41
120    35
130    30
160    26
       ..
107     1
69      1
83      1
195     1
91      1
Name: thalach, Length: 119, dtype: Int64

In [43]:
print(df['thalach'].isna().sum())

55

# EXANG

In [44]:
df['exang'] = df['exang'].astype(float)
df['exang'] = df['exang'].astype('Int64')
df['exang'] = df['exang'].astype(str)

In [45]:
df['exang'].unique()

array(['1', '0', '<NA>'], dtype=object)

In [46]:
df['exang'].value_counts()

0       525
1       336
<NA>     55
Name: exang, dtype: int64

# OLDPEAK

In [47]:
df['oldpeak'] = df['oldpeak'].astype(float)
df['oldpeak'].unique()

array([ 1.4,  1.5,  2. ,  0. ,  5.6,  2.8,  1. ,  5. , -1.1,  2.2,  0.6,
        4. ,  0.5,  3. ,  2.5,  0.4,  nan,  1.9,  0.9,  0.1,  0.8,  0.2,
       -0.5,  1.8,  3.4,  2.3,  1.6,  0.7,  1.2,  2.6,  6.2, -2.6,  4.4,
        2.4,  4.2, -0.9,  0.3,  1.1,  2.1,  3.5,  3.1, -1. ,  1.3,  3.2,
       -2. ,  1.7,  3.6, -1.5,  2.9,  3.8, -0.8,  3.7, -0.1, -0.7])

In [48]:
df['oldpeak'].unique()

array([ 1.4,  1.5,  2. ,  0. ,  5.6,  2.8,  1. ,  5. , -1.1,  2.2,  0.6,
        4. ,  0.5,  3. ,  2.5,  0.4,  nan,  1.9,  0.9,  0.1,  0.8,  0.2,
       -0.5,  1.8,  3.4,  2.3,  1.6,  0.7,  1.2,  2.6,  6.2, -2.6,  4.4,
        2.4,  4.2, -0.9,  0.3,  1.1,  2.1,  3.5,  3.1, -1. ,  1.3,  3.2,
       -2. ,  1.7,  3.6, -1.5,  2.9,  3.8, -0.8,  3.7, -0.1, -0.7])

# SLOPE

In [49]:
df['slope'] = df['slope'].astype(float)
df['slope'] = df['slope'].replace('.0', np.nan)
df['slope'] = df['slope'].astype('Int64')

In [50]:
df['slope'].value_counts()

2    344
1    202
3     62
Name: slope, dtype: Int64

In [51]:
df['slope'].unique()

<IntegerArray>
[1, <NA>, 3, 2]
Length: 4, dtype: Int64

# CA

In [52]:
df['ca'] = df['ca'].astype(float)
df['ca'] = df['ca'].astype('Int64')
df['ca'].value_counts()

0    180
1     67
2     41
3     20
9      1
Name: ca, dtype: Int64

In [53]:
df['ca'] = df['ca'].replace(9, np.nan)
df['ca'].value_counts()

0    180
1     67
2     41
3     20
Name: ca, dtype: Int64

# THAL

In [54]:
df['thal'].value_counts()

3.0    173
7.0    128
7       64
6.0     27
3       23
6       18
Name: thal, dtype: int64

In [55]:
df['thal'] = df['thal'].astype(float)
df['thal'] = df['thal'].astype('Int64')
df['thal'].value_counts()

3    196
7    192
6     45
Name: thal, dtype: Int64

# LABEL

In [56]:
df['label'] = df['label'].astype('Int64')
df['label'] = df['label'].astype(str)

In [57]:
df['label'].unique()

array(['0', '2', '3', '4', '1', '<NA>'], dtype=object)

In [58]:
df[df['label'].isna() == False]

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51,1,1,125.0,213.0,0,2,125,1,1.4,1,1,3,0
1,1,54,1,3,120.0,237.0,0,0,150,1,1.5,<NA>,<NA>,7,2
2,2,63,1,4,140.0,0.0,<NA>,2,149,0,2.0,1,<NA>,<NA>,2
3,3,52,0,2,140.0,NaN,0,0,140,0,0.0,<NA>,<NA>,<NA>,0
4,4,55,1,4,140.0,217.0,0,0,111,1,5.6,3,0,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,179,54,1,4,200.0,198.0,0,0,142,1,2.0,2,<NA>,<NA>,<NA>
912,180,55,1,2,110.0,214.0,1,1,180,0,NaN,<NA>,<NA>,<NA>,<NA>
913,181,67,1,3,152.0,212.0,0,2,150,0,0.8,2,0,7,<NA>
914,182,59,1,1,170.0,288.0,0,2,159,0,0.2,2,0,7,<NA>
915,183,58,1,4,NaN,203.0,1,0,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>

In [59]:
df.describe()

,index,age,sex,chol,thalach,oldpeak,slope,ca,thal
count,916.000000,916.000000,916.00000,886.000000,861.0,854.000000,608.0,308.0,433.0
mean,310.460699,53.528384,0.78821,199.146727,137.533101,0.875878,1.769737,0.678571,5.08545
std,219.894251,9.397376,0.40880,110.762998,25.939337,1.089846,0.617914,0.936378,1.920792
min,0.000000,28.000000,0.00000,0.000000,60.0,-2.600000,1.0,0.0,3.0
25%,114.000000,47.000000,1.00000,175.000000,120.0,0.000000,1.0,0.0,3.0
50%,273.500000,54.000000,1.00000,223.000000,140.0,0.500000,2.0,0.0,6.0
75%,502.250000,60.000000,1.00000,268.000000,157.0,1.500000,2.0,1.0,7.0
max,731.000000,77.000000,1.00000,603.000000,202.0,6.200000,3.0,3.0,7.0

In [60]:
df.head(20)

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51,1,1,125.0,213.0,0,2,125,1,1.4,1,1,3,0
1,1,54,1,3,120.0,237.0,0,0,150,1,1.5,<NA>,<NA>,7,2
2,2,63,1,4,140.0,0.0,<NA>,2,149,0,2.0,1,<NA>,<NA>,2
3,3,52,0,2,140.0,NaN,0,0,140,0,0.0,<NA>,<NA>,<NA>,0
4,4,55,1,4,140.0,217.0,0,0,111,1,5.6,3,0,7,3
5,5,44,1,4,120.0,169.0,0,0,144,1,2.8,3,0,6,2
6,6,35,1,2,122.0,192.0,0,0,174,0,0.0,1,0,3,0
7,7,62,1,4,135.0,297.0,0,0,130,1,1.0,2,<NA>,<NA>,2
8,8,68,1,4,135.0,0.0,0,1,120,1,0.0,1,<NA>,7,3
9,9,50,1,4,140.0,231.0,0,1,140,1,5.0,2,<NA>,<NA>,4
10,10,38,1,3,100.0,0.0,<NA>,0,179,0,-1.1,1,<NA>,<NA>,0
11,11,64,1,4,120.0,246.0,0,2,96,1,2.2,3,1,3,3
12,12,56,1,3,130.0,256.0,1,2,142,1,0.6,2,1,6,2
13,13,61,1,4,120.0,282.0,0,1,135,1,4.0,3,<NA>,6,3
14,14,60,1,4,135.0,0.0,0,0,63,1,0.5,1,<NA>,7,3
15,15,59,0,4,130.0,338.0,1,1,130,1,1.5,2,<NA>,<NA>,1
16,16,68,0,3,120.0,211.0,0,2,115,0,1.5,2,0,3,0
17,17,45,1,4,104.0,208.0,0,2,148,1,3.0,2,0,3,0
18,18,53,1,4,124.0,243.0,0,0,122,1,2.0,2,<NA>,7,1
19,19,52,1,3,140.0,259.0,0,1,170,0,0.0,<NA>,<NA>,<NA>,0

In [61]:
df.to_csv('df_cleaned.csv')