## NACHO

In [701]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

In [702]:
df = pd.read_csv('../df_cleaned.csv')

In [703]:
df.drop(columns='Unnamed: 0', inplace=True)

In [704]:
df

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,0,51,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,1,54,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,2,63,1,4,140.0,0.0,NaN,2.0,149.0,0.0,2.0,1.0,NaN,NaN,2.0
3,3,52,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,4,55,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,179,54,1,4,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,180,55,1,2,110.0,214.0,1.0,1.0,180.0,0.0,NaN,NaN,NaN,NaN,NaN
913,181,67,1,3,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,182,59,1,1,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,183,58,1,4,NaN,203.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [705]:
df.drop('index', axis=1, inplace=True)

In [706]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,54,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,63,1,4,140.0,0.0,NaN,2.0,149.0,0.0,2.0,1.0,NaN,NaN,2.0
3,52,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,55,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54,1,4,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,55,1,2,110.0,214.0,1.0,1.0,180.0,0.0,NaN,NaN,NaN,NaN,NaN
913,67,1,3,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,59,1,1,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,58,1,4,NaN,203.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Limpieza1 con valores faltantes con MEDIANA (numÃ©ricas) y MODA (categÃ³ricas)

In [707]:
df.replace({'<NA>':np.nan}, inplace=True)

In [708]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,54,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,63,1,4,140.0,0.0,NaN,2.0,149.0,0.0,2.0,1.0,NaN,NaN,2.0
3,52,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,55,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54,1,4,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,55,1,2,110.0,214.0,1.0,1.0,180.0,0.0,NaN,NaN,NaN,NaN,NaN
913,67,1,3,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,59,1,1,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,58,1,4,NaN,203.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [709]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
label       float64
dtype: object

In [710]:
numeric_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_cols = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

df[numeric_cols] = df[numeric_cols].astype(float)
df[categorical_cols] = df[categorical_cols].astype('category')

print(df.dtypes)

age          float64
sex         category
cp          category
trestbps     float64
chol         float64
fbs         category
restecg     category
thalach      float64
exang       category
oldpeak      float64
slope       category
ca          category
thal        category
label        float64
dtype: object

In [711]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51.0,1,1,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,54.0,1,3,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2.0
2,63.0,1,4,140.0,0.0,NaN,2.0,149.0,0.0,2.0,1.0,NaN,NaN,2.0
3,52.0,0,2,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0.0
4,55.0,1,4,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,1,4,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN,NaN
912,55.0,1,2,110.0,214.0,1.0,1.0,180.0,0.0,NaN,NaN,NaN,NaN,NaN
913,67.0,1,3,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,NaN
914,59.0,1,1,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,NaN
915,58.0,1,4,NaN,203.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [712]:
df.replace('<NA>', np.nan, inplace=True)

numeric_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_cols = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'label']

numeric_imputer = SimpleImputer(strategy='median')
df[numeric_cols] = numeric_imputer.fit_transform(df[numeric_cols])

categorical_imputer = SimpleImputer(strategy='most_frequent')
df[categorical_cols] = categorical_imputer.fit_transform(df[categorical_cols])

print(df.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
label       0
dtype: int64

In [713]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0
1,54.0,1.0,3.0,120.0,237.0,0.0,0.0,150.0,1.0,1.5,2.0,0.0,7.0,2.0
2,63.0,1.0,4.0,140.0,0.0,0.0,2.0,149.0,0.0,2.0,1.0,0.0,3.0,2.0
3,52.0,0.0,2.0,140.0,223.0,0.0,0.0,140.0,0.0,0.0,2.0,0.0,3.0,0.0
4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,1.0,4.0,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,0.0,3.0,0.0
912,55.0,1.0,2.0,110.0,214.0,1.0,1.0,180.0,0.0,0.5,2.0,0.0,3.0,0.0
913,67.0,1.0,3.0,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,0.0
914,59.0,1.0,1.0,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,0.0
915,58.0,1.0,4.0,130.0,203.0,1.0,0.0,140.0,0.0,0.5,2.0,0.0,3.0,0.0

In [714]:
train_limpieza1 = df[0:732]
test_limpieza1 = df[(916-184):]

In [715]:
test_limpieza1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
732,57.0,1.0,4.0,156.0,173.0,0.0,2.0,119.0,1.0,3.0,3.0,0.0,3.0,0.0
733,52.0,1.0,2.0,160.0,196.0,0.0,0.0,165.0,0.0,0.0,2.0,0.0,3.0,0.0
734,48.0,1.0,2.0,100.0,223.0,0.0,0.0,100.0,0.0,0.0,2.0,0.0,3.0,0.0
735,62.0,1.0,4.0,115.0,0.0,0.0,0.0,128.0,1.0,2.5,3.0,0.0,3.0,0.0
736,51.0,1.0,3.0,110.0,175.0,0.0,0.0,123.0,0.0,0.6,1.0,0.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,1.0,4.0,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,0.0,3.0,0.0
912,55.0,1.0,2.0,110.0,214.0,1.0,1.0,180.0,0.0,0.5,2.0,0.0,3.0,0.0
913,67.0,1.0,3.0,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,0.0
914,59.0,1.0,1.0,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,0.0
915,58.0,1.0,4.0,130.0,203.0,1.0,0.0,140.0,0.0,0.5,2.0,0.0,3.0,0.0

### TRY 1 RANDOM FOREST

In [716]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_limpieza1.drop(columns=[target_column])
target_train = train_limpieza1[target_column]

features_test = test_limpieza1.drop(columns=[target_column])
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_1 = test_limpieza1.copy()
predicted_df_1[target_column] = predicted_classes

print(predicted_df_1)

      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
732  57.0  1.0  4.0     156.0  173.0  0.0      2.0    119.0    1.0      3.0
733  52.0  1.0  2.0     160.0  196.0  0.0      0.0    165.0    0.0      0.0
734  48.0  1.0  2.0     100.0  223.0  0.0      0.0    100.0    0.0      0.0
735  62.0  1.0  4.0     115.0    0.0  0.0      0.0    128.0    1.0      2.5
736  51.0  1.0  3.0     110.0  175.0  0.0      0.0    123.0    0.0      0.6
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
911  54.0  1.0  4.0     200.0  198.0  0.0      0.0    142.0    1.0      2.0
912  55.0  1.0  2.0     110.0  214.0  1.0      1.0    180.0    0.0      0.5
913  67.0  1.0  3.0     152.0  212.0  0.0      2.0    150.0    0.0      0.8
914  59.0  1.0  1.0     170.0  288.0  0.0      2.0    159.0    0.0      0.2
915  58.0  1.0  4.0     130.0  203.0  1.0      0.0    140.0    0.0      0.5

     slope   ca  thal  label
732    3.0  0.0   3.0    2.0
733    2.0  0.0   3.0    0.0
734    2.0  0.0   3.0    0.0
735    3.0  0.0   3.0    1.0
736    1.0  0.0   3.0    0.0
..     ...  ...   ...    ...
911    2.0  0.0   3.0    2.0
912    2.0  0.0   3.0    0.0
913    2.0  0.0   7.0    0.0
914    2.0  0.0   7.0    0.0
915    2.0  0.0   3.0    1.0

[184 rows x 14 columns]

In [717]:
predicted_df_1['index'] = predicted_df_1.index
predicted_df_1.reset_index(inplace=True)

In [718]:
predicted_df_1

,level_0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,index
0,732,57.0,1.0,4.0,156.0,173.0,0.0,2.0,119.0,1.0,3.0,3.0,0.0,3.0,2.0,732
1,733,52.0,1.0,2.0,160.0,196.0,0.0,0.0,165.0,0.0,0.0,2.0,0.0,3.0,0.0,733
2,734,48.0,1.0,2.0,100.0,223.0,0.0,0.0,100.0,0.0,0.0,2.0,0.0,3.0,0.0,734
3,735,62.0,1.0,4.0,115.0,0.0,0.0,0.0,128.0,1.0,2.5,3.0,0.0,3.0,1.0,735
4,736,51.0,1.0,3.0,110.0,175.0,0.0,0.0,123.0,0.0,0.6,1.0,0.0,3.0,0.0,736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,911,54.0,1.0,4.0,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,0.0,3.0,2.0,911
180,912,55.0,1.0,2.0,110.0,214.0,1.0,1.0,180.0,0.0,0.5,2.0,0.0,3.0,0.0,912
181,913,67.0,1.0,3.0,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0,0.0,913
182,914,59.0,1.0,1.0,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0,0.0,914
183,915,58.0,1.0,4.0,130.0,203.0,1.0,0.0,140.0,0.0,0.5,2.0,0.0,3.0,1.0,915

In [719]:
predicted_df_1.drop(columns=['index'], inplace=True)
predicted_df_1.rename(columns={'level_0': 'index'}, inplace=True)
predicted_df_1['ID'] = range(len(predicted_df_1))
#predicted_df_1[['ID', 'label']].to_csv('try1_data.csv', index=False)

In [720]:
#try1_df = pd.read_csv('try1_data.csv')

### TRY 2 SVM

In [721]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline


svm_model = make_pipeline(StandardScaler(), SVC(kernel='linear', C=1.0, random_state=42))
svm_model.fit(features_train, target_train)

predicted_classes_svm = svm_model.predict(features_test)

predicted_df_svm = test_limpieza1.copy()
predicted_df_svm[target_column] = predicted_classes_svm

print(predicted_df_svm)

      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
732  57.0  1.0  4.0     156.0  173.0  0.0      2.0    119.0    1.0      3.0
733  52.0  1.0  2.0     160.0  196.0  0.0      0.0    165.0    0.0      0.0
734  48.0  1.0  2.0     100.0  223.0  0.0      0.0    100.0    0.0      0.0
735  62.0  1.0  4.0     115.0    0.0  0.0      0.0    128.0    1.0      2.5
736  51.0  1.0  3.0     110.0  175.0  0.0      0.0    123.0    0.0      0.6
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
911  54.0  1.0  4.0     200.0  198.0  0.0      0.0    142.0    1.0      2.0
912  55.0  1.0  2.0     110.0  214.0  1.0      1.0    180.0    0.0      0.5
913  67.0  1.0  3.0     152.0  212.0  0.0      2.0    150.0    0.0      0.8
914  59.0  1.0  1.0     170.0  288.0  0.0      2.0    159.0    0.0      0.2
915  58.0  1.0  4.0     130.0  203.0  1.0      0.0    140.0    0.0      0.5

     slope   ca  thal  label
732    3.0  0.0   3.0    2.0
733    2.0  0.0   3.0    0.0
734    2.0  0.0   3.0    0.0
735    3.0  0.0   3.0    2.0
736    1.0  0.0   3.0    0.0
..     ...  ...   ...    ...
911    2.0  0.0   3.0    2.0
912    2.0  0.0   3.0    0.0
913    2.0  0.0   7.0    0.0
914    2.0  0.0   7.0    0.0
915    2.0  0.0   3.0    0.0

[184 rows x 14 columns]

In [722]:
predicted_df_svm['index'] = predicted_df_svm.index
predicted_df_svm.reset_index(inplace=True)

In [723]:
predicted_df_svm.drop(columns=['index'], inplace=True)
predicted_df_svm.rename(columns={'level_0': 'index'}, inplace=True)

predicted_df_svm['ID'] = range(len(predicted_df_svm))
#predicted_df_svm[['ID', 'label']].to_csv('try2_data.csv', index=False)

In [724]:
#try2_df = pd.read_csv('try2_data.csv')

### TRY 3 KNN

In [725]:
from sklearn.neighbors import KNeighborsClassifier

knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(features_train, target_train)

predicted_classes_knn = knn_model.predict(features_test)

predicted_df_knn = test_limpieza1.copy()
predicted_df_knn[target_column] = predicted_classes_knn

print(predicted_df_knn)

      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
732  57.0  1.0  4.0     156.0  173.0  0.0      2.0    119.0    1.0      3.0
733  52.0  1.0  2.0     160.0  196.0  0.0      0.0    165.0    0.0      0.0
734  48.0  1.0  2.0     100.0  223.0  0.0      0.0    100.0    0.0      0.0
735  62.0  1.0  4.0     115.0    0.0  0.0      0.0    128.0    1.0      2.5
736  51.0  1.0  3.0     110.0  175.0  0.0      0.0    123.0    0.0      0.6
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
911  54.0  1.0  4.0     200.0  198.0  0.0      0.0    142.0    1.0      2.0
912  55.0  1.0  2.0     110.0  214.0  1.0      1.0    180.0    0.0      0.5
913  67.0  1.0  3.0     152.0  212.0  0.0      2.0    150.0    0.0      0.8
914  59.0  1.0  1.0     170.0  288.0  0.0      2.0    159.0    0.0      0.2
915  58.0  1.0  4.0     130.0  203.0  1.0      0.0    140.0    0.0      0.5

     slope   ca  thal  label
732    3.0  0.0   3.0    0.0
733    2.0  0.0   3.0    0.0
734    2.0  0.0   3.0    0.0
735    3.0  0.0   3.0    1.0
736    1.0  0.0   3.0    3.0
..     ...  ...   ...    ...
911    2.0  0.0   3.0    0.0
912    2.0  0.0   3.0    0.0
913    2.0  0.0   7.0    0.0
914    2.0  0.0   7.0    0.0
915    2.0  0.0   3.0    0.0

[184 rows x 14 columns]

In [726]:
predicted_df_knn['index'] = predicted_df_knn.index
predicted_df_knn.reset_index(inplace=True)
predicted_df_knn.drop(columns=['index'], inplace=True)

predicted_df_knn.rename(columns={'level_0': 'index'}, inplace=True)
predicted_df_knn['ID'] = range(len(predicted_df_knn))
#predicted_df_knn[['ID', 'label']].to_csv('try3_data.csv', index=False)

In [727]:
#try3_df = pd.read_csv('try3_data.csv')

In [728]:
#try3_df['label'].value_counts()

In [729]:
#try3_df

# Limpieza1 + NUEVA VARIABLE CORRELACIONES EN VARS CATEGÃ“RICAS

In [730]:
train_cor = pd.get_dummies(train_limpieza1, columns= ['restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang'])

In [731]:
train_cor

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,slope_3.0,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
0,51.0,125.0,213.0,125.0,1.4,0.0,0,0,1,1,...,0,1,0,0,0,1,1,0,0,1
1,54.0,120.0,237.0,150.0,1.5,2.0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
2,63.0,140.0,0.0,149.0,2.0,2.0,0,0,1,0,...,0,1,0,0,0,1,1,0,1,0
3,52.0,140.0,223.0,140.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
4,55.0,140.0,217.0,111.0,5.6,3.0,1,0,0,0,...,1,0,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,120.0,230.0,150.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
728,62.0,130.0,204.0,140.0,0.5,1.0,0,1,0,0,...,0,1,0,0,0,1,1,0,1,0
729,43.0,122.0,213.0,165.0,0.2,0.0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
730,68.0,150.0,195.0,132.0,0.0,1.0,1,0,0,0,...,0,0,1,0,0,1,0,1,1,0
731,41.0,126.0,306.0,163.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0

In [732]:
train_cor_test = train_cor.copy()

In [733]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = train_cor.drop('label', axis=1)
y = train_cor['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)

model.fit(X_train, y_train)

coef_importance = pd.Series(model.coef_[0], index=X.columns)
coef_importance = coef_importance.abs().sort_values(ascending=False)

print("Variables con mayor peso en el modelo:")
print(coef_importance)

Variables con mayor peso en el modelo:
cp_4.0         0.926446
ca_0.0         0.623091
cp_2.0         0.590465
sex_1.0        0.541102
sex_0.0        0.507406
oldpeak        0.500585
slope_1.0      0.447306
exang_1.0      0.384171
slope_2.0      0.352338
exang_0.0      0.350474
fbs_1.0        0.350308
thal_7.0       0.335155
thal_3.0       0.333945
restecg_1.0    0.320677
restecg_2.0    0.317158
fbs_0.0        0.316611
cp_1.0         0.272075
ca_2.0         0.261436
ca_1.0         0.223855
ca_3.0         0.171497
slope_3.0      0.128665
thal_6.0       0.032487
cp_3.0         0.030209
restecg_0.0    0.030178
age            0.018895
thalach        0.012771
chol           0.003363
trestbps       0.000650
dtype: float64

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [734]:
dict_cor = coef_importance.to_dict()

In [735]:
dict_cor

{'cp_4.0': 0.9264460519278005,
 'ca_0.0': 0.6230908926615831,
 'cp_2.0': 0.5904648087035742,
 'sex_1.0': 0.5411023100610066,
 'sex_0.0': 0.5074055256626558,
 'oldpeak': 0.5005846082917891,
 'slope_1.0': 0.4473060461184159,
 'exang_1.0': 0.3841709107466104,
 'slope_2.0': 0.3523377949172872,
 'exang_0.0': 0.35047412634819314,
 'fbs_1.0': 0.3503080211880254,
 'thal_7.0': 0.3351546793362426,
 'thal_3.0': 0.3339446408984483,
 'restecg_1.0': 0.32067719346014234,
 'restecg_2.0': 0.31715845151308397,
 'fbs_0.0': 0.3166112367882846,
 'cp_1.0': 0.27207543674254336,
 'ca_2.0': 0.26143553709549416,
 'ca_1.0': 0.22385507649273975,
 'ca_3.0': 0.17149706347242696,
 'slope_3.0': 0.12866503560065876,
 'thal_6.0': 0.03248674596094672,
 'cp_3.0': 0.03020902208335622,
 'restecg_0.0': 0.030178042453050734,
 'age': 0.018894680209061224,
 'thalach': 0.012770860883584916,
 'chol': 0.003362866610527904,
 'trestbps': 0.0006502808808741702}

In [736]:
for index, row in train_cor.iterrows():
    score = 0.0
    for col in train_cor.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train_cor.at[index, 'score_by_correlation'] = score

In [737]:
#train_cor.to_parquet('train_best.parquet')

In [738]:
test_cor = pd.get_dummies(test_limpieza1, columns= ['restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang'])

In [739]:
test_cor_test = test_cor.copy()

In [740]:
for index, row in test_cor.iterrows():
    score = 0.0  
    for col in test_cor.columns[:-1]:  
        if col in dict_cor: 
            if row[col] == 1: 
                score += dict_cor[col]  
    test_cor.at[index, 'score_by_correlation'] = score

In [741]:
#test_cor.to_parquet('test_best.parquet')

### TRY 11 RANDOM FOREST

In [742]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_cor.drop(columns=[target_column])
target_train = train_cor[target_column]

features_test = test_cor.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_cor = test_cor.copy()
predicted_df_cor[target_column] = predicted_classes

In [743]:
predicted_df_cor

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
732,57.0,156.0,173.0,119.0,3.0,2.0,0,0,1,0,...,1,0,0,0,1,1,0,0,1,3.187019
733,52.0,160.0,196.0,165.0,0.0,0.0,1,0,0,0,...,1,0,0,0,1,1,0,1,0,3.138204
734,48.0,100.0,223.0,100.0,0.0,0.0,1,0,0,0,...,1,0,0,0,1,1,0,1,0,3.138204
735,62.0,115.0,0.0,128.0,2.5,1.0,1,0,0,0,...,1,0,0,0,1,1,0,0,1,3.284209
736,51.0,110.0,175.0,123.0,0.6,0.0,1,0,0,0,...,1,0,0,0,1,1,0,1,0,2.672916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,2.0,1,0,0,0,...,1,0,0,0,1,1,0,0,1,3.507882
912,55.0,110.0,214.0,180.0,0.5,0.0,0,1,0,0,...,1,0,0,0,1,0,1,1,0,3.462400
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,1,0,...,0,0,1,0,1,1,0,1,0,2.866139
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,1,1,...,0,0,1,0,1,1,0,1,0,3.108005
915,58.0,130.0,203.0,140.0,0.5,1.0,1,0,0,0,...,1,0,0,0,1,0,1,1,0,3.507882

In [744]:
predicted_df_cor['ID'] = range(len(predicted_df_cor))
#predicted_df_cor[['ID', 'label']].to_csv('try11_data.csv', index=False)

In [745]:
#try11_df = pd.read_csv('try11_data.csv')

In [746]:
#try11_df

In [747]:
#try11_df.value_counts('label')

### TRY 12 ESEMBLE CLASIFFIER (RF + XGB + LR + KNN)

In [748]:
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_cor.drop(columns=[target_column])
target_train = train_cor[target_column]

features_test = test_cor.drop(columns=[target_column])

rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
xgb_classifier = XGBClassifier()
logistic_regression = LogisticRegression()
knn_classifier = KNeighborsClassifier()

ensemble_classifier = VotingClassifier(estimators=[
    ('rf', rf_classifier),
    ('xgb', xgb_classifier),
    ('logistic', logistic_regression),
    ('knn', knn_classifier)
], voting='hard')

ensemble_classifier.fit(features_train, target_train)

predicted_classes = ensemble_classifier.predict(features_test)

predicted_df_esemble = test_cor.copy()
predicted_df_esemble[target_column] = predicted_classes

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [749]:
predicted_df_esemble

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
732,57.0,156.0,173.0,119.0,3.0,2.0,0,0,1,0,...,1,0,0,0,1,1,0,0,1,3.187019
733,52.0,160.0,196.0,165.0,0.0,0.0,1,0,0,0,...,1,0,0,0,1,1,0,1,0,3.138204
734,48.0,100.0,223.0,100.0,0.0,0.0,1,0,0,0,...,1,0,0,0,1,1,0,1,0,3.138204
735,62.0,115.0,0.0,128.0,2.5,1.0,1,0,0,0,...,1,0,0,0,1,1,0,0,1,3.284209
736,51.0,110.0,175.0,123.0,0.6,0.0,1,0,0,0,...,1,0,0,0,1,1,0,1,0,2.672916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,0.0,1,0,0,0,...,1,0,0,0,1,1,0,0,1,3.507882
912,55.0,110.0,214.0,180.0,0.5,0.0,0,1,0,0,...,1,0,0,0,1,0,1,1,0,3.462400
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,1,0,...,0,0,1,0,1,1,0,1,0,2.866139
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,1,1,...,0,0,1,0,1,1,0,1,0,3.108005
915,58.0,130.0,203.0,140.0,0.5,0.0,1,0,0,0,...,1,0,0,0,1,0,1,1,0,3.507882

In [750]:
predicted_df_esemble['label'].value_counts()

0.0    114
1.0     31
3.0     24
2.0     15
Name: label, dtype: int64

In [751]:
predicted_df_esemble['label'].value_counts()

0.0    114
1.0     31
3.0     24
2.0     15
Name: label, dtype: int64

In [752]:
predicted_df_esemble['ID'] = range(len(predicted_df_esemble))
#predicted_df_esemble[['ID', 'label']].to_csv('try12_data.csv', index=False)

In [753]:
#try12_df = pd.read_csv('try12_data.csv')

In [754]:
#try12_df

#### PequeÃ±a revisiÃ³n de las posibilidades antes del siguiente TRY de los modelos utilizados en el esemble

In [755]:
from sklearn.model_selection import train_test_split

X = train_cor.drop(columns=[target_column])
y = train_cor[target_column]

X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42)

print("Conjunto de entrenamiento - CaracterÃ­sticas:", X_train.shape)
print("Conjunto de entrenamiento - Variable Objetivo:", y_train.shape)
print("Conjunto de validaciÃ³n - CaracterÃ­sticas:", X_val.shape)
print("Conjunto de validaciÃ³n - Variable Objetivo:", y_val.shape)
print("Conjunto de prueba - CaracterÃ­sticas:", X_test.shape)
print("Conjunto de prueba - Variable Objetivo:", y_test.shape)

Conjunto de entrenamiento - CaracterÃ­sticas: (438, 29)
Conjunto de entrenamiento - Variable Objetivo: (438,)
Conjunto de validaciÃ³n - CaracterÃ­sticas: (147, 29)
Conjunto de validaciÃ³n - Variable Objetivo: (147,)
Conjunto de prueba - CaracterÃ­sticas: (147, 29)
Conjunto de prueba - Variable Objetivo: (147,)

In [756]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

y_pred_rf = rf_model.predict(X_val)

accuracy_rf = accuracy_score(y_val, y_pred_rf)
print("Exactitud del modelo de Random Forest en el conjunto de validaciÃ³n:", accuracy_rf)

accuracy = accuracy_score(y_test, y_pred_rf)
print("Accuracy:", accuracy)

print("Classification Report:")
print(classification_report(y_test, y_pred_rf))

print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_rf))

Exactitud del modelo de Random Forest en el conjunto de validaciÃ³n: 0.5034013605442177
Accuracy: 0.35374149659863946
Classification Report:
              precision    recall  f1-score   support

         0.0       0.46      0.56      0.50        66
         1.0       0.34      0.35      0.35        31
         2.0       0.17      0.17      0.17        18
         3.0       0.07      0.05      0.05        22
         4.0       0.00      0.00      0.00        10

    accuracy                           0.35       147
   macro avg       0.21      0.23      0.21       147
weighted avg       0.31      0.35      0.33       147

Confusion Matrix:
[[37  9 10  9  1]
 [15 11  3  2  0]
 [ 7  6  3  2  0]
 [15  4  2  1  0]
 [ 7  2  0  1  0]]

In [757]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train, y_train)

y_pred_knn = knn_model.predict(X_val)

accuracy_knn = accuracy_score(y_val, y_pred_knn)
print("Exactitud del modelo KNN en el conjunto de validaciÃ³n:", accuracy_knn)

accuracy = accuracy_score(y_test, y_pred_knn)
print("Accuracy:", accuracy)

print("Classification Report:")
print(classification_report(y_test, y_pred_knn))

print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_knn))

Exactitud del modelo KNN en el conjunto de validaciÃ³n: 0.4217687074829932
Accuracy: 0.3945578231292517
Classification Report:
              precision    recall  f1-score   support

         0.0       0.51      0.67      0.58        66
         1.0       0.27      0.26      0.26        31
         2.0       0.10      0.11      0.11        18
         3.0       0.40      0.18      0.25        22
         4.0       0.00      0.00      0.00        10

    accuracy                           0.39       147
   macro avg       0.25      0.24      0.24       147
weighted avg       0.36      0.39      0.36       147

Confusion Matrix:
[[44 11  9  2  0]
 [15  8  5  3  0]
 [ 9  6  2  1  0]
 [13  2  3  4  0]
 [ 6  3  1  0  0]]

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [758]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

xgb_model = XGBClassifier(random_state=42)
xgb_model.fit(X_train, y_train)

y_pred_xgb = xgb_model.predict(X_val)

accuracy_xgb = accuracy_score(y_val, y_pred_xgb)
print("Exactitud del modelo XGBoost en el conjunto de validaciÃ³n:", accuracy_xgb)

accuracy_rf = accuracy_score(y_val, y_pred_rf)
print("Exactitud del modelo de Random Forest en el conjunto de validaciÃ³n:", accuracy_rf)

accuracy = accuracy_score(y_test, y_pred_xgb)
print("Accuracy:", accuracy)

print("Classification Report:")
print(classification_report(y_test, y_pred_xgb))

print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_xgb))

Exactitud del modelo XGBoost en el conjunto de validaciÃ³n: 0.5170068027210885
Exactitud del modelo de Random Forest en el conjunto de validaciÃ³n: 0.5034013605442177
Accuracy: 0.32653061224489793
Classification Report:
              precision    recall  f1-score   support

         0.0       0.46      0.52      0.49        66
         1.0       0.27      0.32      0.29        31
         2.0       0.12      0.17      0.14        18
         3.0       0.10      0.05      0.06        22
         4.0       0.00      0.00      0.00        10

    accuracy                           0.33       147
   macro avg       0.19      0.21      0.20       147
weighted avg       0.29      0.33      0.31       147

Confusion Matrix:
[[34 17 10  5  0]
 [12 10  6  2  1]
 [ 6  7  3  2  0]
 [15  1  4  1  1]
 [ 7  2  1  0  0]]

In [759]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

regression_model = LogisticRegression(random_state=42)
regression_model.fit(X_train, y_train)

y_pred_regression = regression_model.predict(X_val)

accuracy_regression = accuracy_score(y_val, y_pred_regression)
print("Exactitud del modelo de regresiÃ³n en el conjunto de validaciÃ³n:", accuracy_regression)

accuracy_rf = accuracy_score(y_val, y_pred_rf)
print("Exactitud del modelo de Random Forest en el conjunto de validaciÃ³n:", accuracy_rf)

accuracy = accuracy_score(y_test, y_pred_regression)
print("Accuracy:", accuracy)

print("Classification Report:")
print(classification_report(y_test, y_pred_regression))

print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_regression))

Exactitud del modelo de regresiÃ³n en el conjunto de validaciÃ³n: 0.5170068027210885
Exactitud del modelo de Random Forest en el conjunto de validaciÃ³n: 0.5034013605442177
Accuracy: 0.3469387755102041
Classification Report:
              precision    recall  f1-score   support

         0.0       0.48      0.59      0.53        66
         1.0       0.25      0.29      0.27        31
         2.0       0.12      0.06      0.08        18
         3.0       0.11      0.09      0.10        22
         4.0       0.00      0.00      0.00        10

    accuracy                           0.35       147
   macro avg       0.19      0.21      0.19       147
weighted avg       0.30      0.35      0.32       147

Confusion Matrix:
[[39 14  4  9  0]
 [16  9  2  2  2]
 [ 5  7  1  4  1]
 [15  4  1  2  0]
 [ 6  2  0  2  0]]

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Limpieza1 + Var correlaciones en categoricas + AGE RANGE

No es una buena idea porque si luego nos meten un valor que no tenemos contemplado se nos va fuera

In [760]:
train_limpieza1['age'].min()

28.0

In [761]:
train_limpieza1['age'].max()

76.0

In [762]:
train_age_range = train_limpieza1.copy()
test_age_range = test_limpieza1.copy()

In [763]:
train_age_range['age_range'] = None

for i in train_age_range.index:
    if train_age_range['age'][i] < 30.0:
        train_age_range['age_range'][i] = '<30'
    elif train_age_range['age'][i] > 30.0 and train_age_range['age'][i] < 40.0:
        train_age_range['age_range'][i] = '30-40'
    elif train_age_range['age'][i] > 40.0 and train_age_range['age'][i] < 50.0:
        train_age_range['age_range'][i] = '40-50'
    elif train_age_range['age'][i] > 50.0 and train_age_range['age'][i] < 60.0:
        train_age_range['age_range'][i] = '50-60'
    elif train_age_range['age'][i] > 60.0 and train_age_range['age'][i] < 70.0:
        train_age_range['age_range'][i] = '60-70'
    elif train_age_range['age'][i] > 70.0:
        train_age_range['age_range'][i] = '>70'

/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/3346947860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_age_range['age_range'][i] = '50-60'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/3346947860.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_age_range['age_range'][i] = '60-70'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/3346947860.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_age_range['age_range'][i] = '40-50'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/3346947860.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_age_range['age_range'][i] = '30-40'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/3346947860.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_age_range['age_range'][i] = '>70'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/3346947860.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_age_range['age_range'][i] = '<30'

In [764]:
test_age_range['age_range'] = None

for i in test_age_range.index:
    if test_age_range['age'][i] < 30.0:
        test_age_range['age_range'][i] = '<30'
    elif test_age_range['age'][i] > 30.0 and test_age_range['age'][i] < 40.0:
        test_age_range['age_range'][i] = '30-40'
    elif test_age_range['age'][i] > 40.0 and test_age_range['age'][i] < 50.0:
        test_age_range['age_range'][i] = '40-50'
    elif test_age_range['age'][i] > 50.0 and test_age_range['age'][i] < 60.0:
        test_age_range['age_range'][i] = '50-60'
    elif test_age_range['age'][i] > 60.0 and test_age_range['age'][i] < 70.0:
        test_age_range['age_range'][i] = '60-70'
    elif test_age_range['age'][i] > 70.0:
        test_age_range['age_range'][i] = '>70'

/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/1403313275.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_age_range['age_range'][i] = '50-60'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/1403313275.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_age_range['age_range'][i] = '40-50'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/1403313275.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_age_range['age_range'][i] = '60-70'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/1403313275.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_age_range['age_range'][i] = '30-40'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/1403313275.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_age_range['age_range'][i] = '>70'
/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/1403313275.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_age_range['age_range'][i] = '<30'

In [765]:
train_age_range

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,age_range
0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0.0,50-60
1,54.0,1.0,3.0,120.0,237.0,0.0,0.0,150.0,1.0,1.5,2.0,0.0,7.0,2.0,50-60
2,63.0,1.0,4.0,140.0,0.0,0.0,2.0,149.0,0.0,2.0,1.0,0.0,3.0,2.0,60-70
3,52.0,0.0,2.0,140.0,223.0,0.0,0.0,140.0,0.0,0.0,2.0,0.0,3.0,0.0,50-60
4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3.0,50-60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,1.0,3.0,120.0,230.0,0.0,0.0,150.0,0.0,0.0,2.0,0.0,3.0,0.0,40-50
728,62.0,1.0,3.0,130.0,204.0,0.0,1.0,140.0,0.0,0.5,2.0,0.0,3.0,1.0,60-70
729,43.0,0.0,3.0,122.0,213.0,0.0,0.0,165.0,0.0,0.2,2.0,0.0,3.0,0.0,40-50
730,68.0,1.0,3.0,150.0,195.0,1.0,0.0,132.0,0.0,0.0,2.0,0.0,6.0,1.0,60-70
731,41.0,0.0,2.0,126.0,306.0,0.0,0.0,163.0,0.0,0.0,1.0,0.0,3.0,0.0,40-50

In [766]:
train_cor_agerange = pd.get_dummies(train_age_range, columns= ['restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang', 'age_range'])

In [767]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = train_cor_agerange.drop('label', axis=1)
y = train_cor_agerange['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)

model.fit(X_train, y_train)

coef_importance = pd.Series(model.coef_[0], index=X.columns)
coef_importance = coef_importance.abs().sort_values(ascending=False)

print("Variables con mayor peso en el modelo:")
print(coef_importance)

Variables con mayor peso en el modelo:
cp_4.0             0.852536
ca_0.0             0.659438
cp_2.0             0.556343
oldpeak            0.504723
sex_1.0            0.472999
sex_0.0            0.468008
age_range_50-60    0.420267
slope_1.0          0.417528
age_range_60-70    0.377183
exang_1.0          0.351358
exang_0.0          0.346367
fbs_1.0            0.344683
fbs_0.0            0.339692
restecg_2.0        0.323009
thal_3.0           0.322824
restecg_1.0        0.320506
thal_7.0           0.313306
slope_2.0          0.295707
cp_1.0             0.295223
ca_2.0             0.255354
ca_1.0             0.248157
ca_3.0             0.160918
slope_3.0          0.126811
age_range_40-50    0.114412
age_range_>70      0.046807
age_range_<30      0.031999
age                0.031362
age_range_30-40    0.015210
thal_6.0           0.014509
thalach            0.014454
restecg_0.0        0.007494
cp_3.0             0.004021
chol               0.003443
trestbps           0.000533
dtype: float64

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [768]:
dict_cor = coef_importance.to_dict()

In [769]:
dict_cor

{'cp_4.0': 0.8525361947682542,
 'ca_0.0': 0.6594376562230629,
 'cp_2.0': 0.5563434493146536,
 'oldpeak': 0.5047231068484548,
 'sex_1.0': 0.47299880436079544,
 'sex_0.0': 0.46800787316877634,
 'age_range_50-60': 0.42026724713882996,
 'slope_1.0': 0.41752763281025734,
 'age_range_60-70': 0.3771827190661064,
 'exang_1.0': 0.3513579111125624,
 'exang_0.0': 0.3463669799223013,
 'fbs_1.0': 0.3446826480558948,
 'fbs_0.0': 0.3396917168653321,
 'restecg_2.0': 0.3230088819562879,
 'thal_3.0': 0.3228244314933293,
 'restecg_1.0': 0.32050592484967416,
 'thal_7.0': 0.3133060190147053,
 'slope_2.0': 0.29570746275195803,
 'cp_1.0': 0.2952233093241669,
 'ca_2.0': 0.25535432806060143,
 'ca_1.0': 0.24815666378664342,
 'ca_3.0': 0.16091759556641078,
 'slope_3.0': 0.12681110124851294,
 'age_range_40-50': 0.1144121711465459,
 'age_range_>70': 0.04680686882832184,
 'age_range_<30': 0.0319989055615626,
 'age': 0.03136171223734119,
 'age_range_30-40': 0.015209835137770885,
 'thal_6.0': 0.014509343669196324,
 'thalach': 0.01445394656616886,
 'restecg_0.0': 0.007493888297424966,
 'cp_3.0': 0.004021495061252744,
 'chol': 0.0034429046401992297,
 'trestbps': 0.0005334066176235606}

In [770]:
for index, row in train_cor_agerange.iterrows():
    score = 0.0
    for col in train_cor_agerange.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train_cor_agerange.at[index, 'score_by_correlation'] = score

In [771]:
train_cor_agerange

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,fbs_1.0,exang_0.0,exang_1.0,age_range_30-40,age_range_40-50,age_range_50-60,age_range_60-70,age_range_<30,age_range_>70,score_by_correlation
0,51.0,125.0,213.0,125.0,1.4,0.0,0,0,1,1,...,0,0,1,0,0,1,0,0,0,3.191057
1,54.0,120.0,237.0,150.0,1.5,2.0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,2.864282
2,63.0,140.0,0.0,149.0,2.0,2.0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,4.111575
3,52.0,140.0,223.0,140.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,3.416141
4,55.0,140.0,217.0,111.0,5.6,3.0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,3.543901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,120.0,230.0,150.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,2.562955
728,62.0,130.0,204.0,140.0,0.5,1.0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,3.138737
729,43.0,122.0,213.0,165.0,0.2,0.0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,2.557964
730,68.0,150.0,195.0,132.0,0.0,1.0,1,0,0,0,...,1,1,0,0,0,0,1,0,0,2.522401
731,41.0,126.0,306.0,163.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,3.232106

In [772]:
test_cor_agerange = pd.get_dummies(test_age_range, columns= ['restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang', 'age_range'])

In [773]:
for index, row in test_cor_agerange.iterrows():
    score = 0.0  
    for col in test_cor_agerange.columns[:-1]:  
        if col in dict_cor: 
            if row[col] == 1: 
                score += dict_cor[col]  
    test_cor_agerange.at[index, 'score_by_correlation'] = score

In [774]:
test_cor_agerange

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,fbs_1.0,exang_0.0,exang_1.0,age_range_30-40,age_range_40-50,age_range_50-60,age_range_60-70,age_range_<30,age_range_>70,score_by_correlation
732,57.0,156.0,173.0,119.0,3.0,0.0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,3.868934
733,52.0,160.0,196.0,165.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,3.421132
734,48.0,100.0,223.0,100.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,3.115277
735,62.0,115.0,0.0,128.0,2.5,0.0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,3.510334
736,51.0,110.0,175.0,123.0,0.6,0.0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,2.990630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,0.0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,3.722315
912,55.0,110.0,214.0,180.0,0.5,0.0,0,1,0,0,...,1,1,0,0,0,1,0,0,0,3.739135
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,3.131722
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,3.466008
915,58.0,130.0,203.0,140.0,0.5,0.0,1,0,0,0,...,1,1,0,0,0,1,0,0,0,3.722315

### TRY 22 RANDOM FOREST

In [775]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_cor_agerange.drop(columns=[target_column])
target_train = train_cor_agerange[target_column]

features_test = test_cor_agerange.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_agerange = test_cor_agerange.copy()
predicted_df_agerange[target_column] = predicted_classes

In [776]:
predicted_df_agerange

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,fbs_1.0,exang_0.0,exang_1.0,age_range_30-40,age_range_40-50,age_range_50-60,age_range_60-70,age_range_<30,age_range_>70,score_by_correlation
732,57.0,156.0,173.0,119.0,3.0,2.0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,3.868934
733,52.0,160.0,196.0,165.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,3.421132
734,48.0,100.0,223.0,100.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,3.115277
735,62.0,115.0,0.0,128.0,2.5,1.0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,3.510334
736,51.0,110.0,175.0,123.0,0.6,0.0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,2.990630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,2.0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,3.722315
912,55.0,110.0,214.0,180.0,0.5,0.0,0,1,0,0,...,1,1,0,0,0,1,0,0,0,3.739135
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,3.131722
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,3.466008
915,58.0,130.0,203.0,140.0,0.5,1.0,1,0,0,0,...,1,1,0,0,0,1,0,0,0,3.722315

In [777]:
predicted_df_agerange['ID'] = range(len(predicted_df_agerange))
#predicted_df_agerange[['ID', 'label']].to_csv('try22_data.csv', index=False)

In [778]:
#try22_df = pd.read_csv('try22_data.csv')

In [779]:
#try22_df

# Limpieza1 + Var Cor + TODAS LAS NUMERICAS CATEGORIZADAS

In [780]:
lista_n = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
for i in lista_n:
    print(train_limpieza1[i].min())
    print(train_limpieza1[i].max())

28.0
76.0
0.0
200.0
0.0
603.0
60.0
202.0
-2.6
6.2

In [781]:
lista_n = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
for i in lista_n:
    print(test_limpieza1[i].min())
    print(test_limpieza1[i].max())

29.0
77.0
80.0
200.0
0.0
407.0
67.0
188.0
-0.7
4.0

In [782]:
train_num_as_cat = train_limpieza1.copy()
test_num_as_cat = test_limpieza1.copy()

In [783]:
age_ranges = [(20, 30), (30, 40), (40, 50), (50, 60), (60, 70), (70, 80)]
trestbps_ranges = [(0, 20), (20, 40), (40, 60), (60, 80), (80, 100), (100, 120), (120, 140), (140, 160), (160, 180), (180, 200)]
chol_ranges = [(0, 100), (100, 200), (200, 300), (300, 400), (400, 500), (500, 600)]
thalach_ranges = [(60, 80), (80, 100), (100, 120), (120, 140), (160, 180), (180, 200), (200, 220)]
oldpeak_ranges = [(-3, -2), (-2, -1), (-1, 0), (0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7)]

def create_dummy_columns(df, column, ranges):
    for i, (lower, upper) in enumerate(ranges):
        column_name = f'{column}_range_{i+1}'
        df[column_name] = 0
        df.loc[(df[column] >= lower) & (df[column] < upper), column_name] = 1

create_dummy_columns(train_num_as_cat, 'age', age_ranges)
create_dummy_columns(train_num_as_cat, 'trestbps', trestbps_ranges)
create_dummy_columns(train_num_as_cat, 'chol', chol_ranges)
create_dummy_columns(train_num_as_cat, 'thalach', thalach_ranges)
create_dummy_columns(train_num_as_cat, 'oldpeak', oldpeak_ranges)

create_dummy_columns(test_num_as_cat, 'age', age_ranges)
create_dummy_columns(test_num_as_cat, 'trestbps', trestbps_ranges)
create_dummy_columns(test_num_as_cat, 'chol', chol_ranges)
create_dummy_columns(test_num_as_cat, 'thalach', thalach_ranges)
create_dummy_columns(test_num_as_cat, 'oldpeak', oldpeak_ranges)

In [784]:
test_num_as_cat_no_drop = test_num_as_cat.copy()
train_num_as_cat_no_drop = train_num_as_cat.copy()

In [785]:
test_num_as_cat.drop(columns=['age', 'trestbps', 'chol', 'thalach', 'oldpeak'], inplace=True)

In [786]:
test_num_as_cat

,sex,cp,fbs,restecg,exang,slope,ca,thal,label,age_range_1,...,oldpeak_range_1,oldpeak_range_2,oldpeak_range_3,oldpeak_range_4,oldpeak_range_5,oldpeak_range_6,oldpeak_range_7,oldpeak_range_8,oldpeak_range_9,oldpeak_range_10
732,1.0,4.0,0.0,2.0,1.0,3.0,0.0,3.0,0.0,0,...,0,0,0,0,0,0,1,0,0,0
733,1.0,2.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
734,1.0,2.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
735,1.0,4.0,0.0,0.0,1.0,3.0,0.0,3.0,0.0,0,...,0,0,0,0,0,1,0,0,0,0
736,1.0,3.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1.0,4.0,0.0,0.0,1.0,2.0,0.0,3.0,0.0,0,...,0,0,0,0,0,1,0,0,0,0
912,1.0,2.0,1.0,1.0,0.0,2.0,0.0,3.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
913,1.0,3.0,0.0,2.0,0.0,2.0,0.0,7.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
914,1.0,1.0,0.0,2.0,0.0,2.0,0.0,7.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
915,1.0,4.0,1.0,0.0,0.0,2.0,0.0,3.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0

In [787]:
train_num_as_cat.drop(columns=['age', 'trestbps', 'chol', 'thalach', 'oldpeak'], inplace=True)

In [788]:
train_num_as_cat

,sex,cp,fbs,restecg,exang,slope,ca,thal,label,age_range_1,...,oldpeak_range_1,oldpeak_range_2,oldpeak_range_3,oldpeak_range_4,oldpeak_range_5,oldpeak_range_6,oldpeak_range_7,oldpeak_range_8,oldpeak_range_9,oldpeak_range_10
0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,3.0,0.0,0,...,0,0,0,0,1,0,0,0,0,0
1,1.0,3.0,0.0,0.0,1.0,2.0,0.0,7.0,2.0,0,...,0,0,0,0,1,0,0,0,0,0
2,1.0,4.0,0.0,2.0,0.0,1.0,0.0,3.0,2.0,0,...,0,0,0,0,0,1,0,0,0,0
3,0.0,2.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
4,1.0,4.0,0.0,0.0,1.0,3.0,0.0,7.0,3.0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,1.0,3.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
728,1.0,3.0,0.0,1.0,0.0,2.0,0.0,3.0,1.0,0,...,0,0,0,1,0,0,0,0,0,0
729,0.0,3.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
730,1.0,3.0,1.0,0.0,0.0,2.0,0.0,6.0,1.0,0,...,0,0,0,1,0,0,0,0,0,0
731,0.0,2.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,0,...,0,0,0,1,0,0,0,0,0,0

In [789]:
train_all_cat = pd.get_dummies(train_num_as_cat, columns= ['restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang'])

In [790]:
train_all_cat

,label,age_range_1,age_range_2,age_range_3,age_range_4,age_range_5,age_range_6,trestbps_range_1,trestbps_range_2,trestbps_range_3,...,slope_3.0,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
0,0.0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
1,2.0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,1,0,0,1
2,2.0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
3,0.0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
4,3.0,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
728,1.0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
729,0.0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
730,1.0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,1,1,0
731,0.0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0

In [791]:
test_all_cat = pd.get_dummies(test_num_as_cat, columns= ['restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang'])

In [792]:
test_all_cat

,label,age_range_1,age_range_2,age_range_3,age_range_4,age_range_5,age_range_6,trestbps_range_1,trestbps_range_2,trestbps_range_3,...,slope_3.0,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
732,0.0,0,0,0,1,0,0,0,0,0,...,1,1,0,0,0,1,1,0,0,1
733,0.0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
734,0.0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
735,0.0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,1,1,0,0,1
736,0.0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
912,0.0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,1,1,0
913,0.0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,1,0,1,0
914,0.0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,1,0,1,0
915,0.0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,1,1,0

In [793]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = train_all_cat.drop('label', axis=1)
y = train_all_cat['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)

model.fit(X_train, y_train)

coef_importance = pd.Series(model.coef_[0], index=X.columns)
coef_importance = coef_importance.abs().sort_values(ascending=False)

print("Variables con mayor peso en el modelo:")
print(coef_importance)

Variables con mayor peso en el modelo:
chol_range_1        1.142462
cp_4.0              1.038451
cp_2.0              0.824859
chol_range_5        0.803413
ca_0.0              0.797364
                      ...
oldpeak_range_2     0.020321
trestbps_range_4    0.000000
trestbps_range_3    0.000000
trestbps_range_2    0.000000
trestbps_range_1    0.000000
Length: 62, dtype: float64

In [794]:
dict_cor = coef_importance.to_dict()

In [795]:
dict_cor

{'chol_range_1': 1.142461876534164,
 'cp_4.0': 1.038450603729963,
 'cp_2.0': 0.8248593590238714,
 'chol_range_5': 0.8034127165536754,
 'ca_0.0': 0.7973635331010924,
 'thalach_range_2': 0.7908558591848761,
 'oldpeak_range_6': 0.7654465652809904,
 'age_range_6': 0.742743917484181,
 'thalach_range_5': 0.7144890852256193,
 'chol_range_2': 0.6535070415990683,
 'oldpeak_range_4': 0.6516220746172657,
 'slope_1.0': 0.6505179353799695,
 'chol_range_6': 0.625269559985933,
 'sex_0.0': 0.6015956513686592,
 'sex_1.0': 0.600605603719844,
 'thalach_range_6': 0.5125723239494173,
 'thalach_range_3': 0.5063837263646928,
 'age_range_2': 0.45870320950906196,
 'thal_7.0': 0.4515341812893001,
 'ca_3.0': 0.4456422347803463,
 'thal_3.0': 0.4255876087937053,
 'exang_0.0': 0.4207578573769761,
 'exang_1.0': 0.4197678097281594,
 'slope_3.0': 0.401307597415298,
 'restecg_2.0': 0.3884861776477506,
 'fbs_0.0': 0.36061768947608325,
 'fbs_1.0': 0.3596276418272673,
 'restecg_1.0': 0.3558529639984268,
 'thalach_range_4': 0.352660083587148,
 'trestbps_range_5': 0.2968916450047976,
 'oldpeak_range_7': 0.2966324516798047,
 'chol_range_3': 0.2908946989344979,
 'oldpeak_range_3': 0.26692193606125314,
 'oldpeak_range_5': 0.26136293975025376,
 'slope_2.0': 0.24822029031585607,
 'oldpeak_range_8': 0.24104030597955467,
 'ca_1.0': 0.19716897593557384,
 'trestbps_range_9': 0.19518632788658577,
 'thalach_range_1': 0.18639390957523624,
 'cp_1.0': 0.17433859292283999,
 'age_range_1': 0.16114304243107835,
 'oldpeak_range_9': 0.1563496287152159,
 'ca_2.0': 0.1535622747363624,
 'age_range_4': 0.14545114028223702,
 'oldpeak_range_10': 0.135347429755875,
 'trestbps_range_8': 0.11182175950605507,
 'trestbps_range_10': 0.10813145912042506,
 'chol_range_4': 0.08638420159232836,
 'trestbps_range_7': 0.07996101318453966,
 'trestbps_range_6': 0.05341093622235813,
 'oldpeak_range_1': 0.04586048516513335,
 'age_range_3': 0.04535066549779182,
 'cp_3.0': 0.040242699432063364,
 'thalach_range_7': 0.035778375819560886,
 'restecg_0.0': 0.03164316600051046,
 'thal_6.0': 0.026936620144411262,
 'age_range_5': 0.023787238408411814,
 'oldpeak_range_2': 0.02032064816249244,
 'trestbps_range_4': 0.0,
 'trestbps_range_3': 0.0,
 'trestbps_range_2': 0.0,
 'trestbps_range_1': 0.0}

In [796]:
for index, row in test_all_cat.iterrows():
    score = 0.0
    for col in test_all_cat.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    test_all_cat.at[index, 'score_by_correlation'] = score

In [797]:
test_all_cat

,label,age_range_1,age_range_2,age_range_3,age_range_4,age_range_5,age_range_6,trestbps_range_1,trestbps_range_2,trestbps_range_3,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
732,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,1,0,0,1,5.726215
733,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,6.069911
734,0.0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,5.257317
735,0.0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,1,0,0,1,6.413110
736,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,5.183987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,1,0,0,1,5.486661
912,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,5.686826
913,0.0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,1,0,1,0,4.385954
914,0.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,1,0,1,0,4.725078
915,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,5.090185

In [798]:
for index, row in train_all_cat.iterrows():
    score = 0.0
    for col in train_all_cat.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train_all_cat.at[index, 'score_by_correlation'] = score

In [799]:
train_all_cat

,label,age_range_1,age_range_2,age_range_3,age_range_4,age_range_5,age_range_6,trestbps_range_1,trestbps_range_2,trestbps_range_3,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
0,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,1,0,0,1,3.927652
1,2.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,1,0,0,1,3.727665
2,2.0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,1,0,1,0,6.725904
3,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,1,0,1,0,4.910435
4,3.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,1,0,0,1,5.312191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,3.992867
728,1.0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,1,0,1,0,4.295513
729,0.0,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,1,0,1,0,4.708346
730,1.0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,1,1,0,4.318796
731,0.0,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,1,0,1,0,5.690750

### TRY 23 RANDOM FOREST +  Dropeando las variables numericas categorizadas

In [800]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_all_cat.drop(columns=[target_column])
target_train = train_all_cat[target_column]

features_test = test_all_cat.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_all_cat = test_all_cat.copy()
predicted_df_all_cat[target_column] = predicted_classes

In [801]:
predicted_df_all_cat

,label,age_range_1,age_range_2,age_range_3,age_range_4,age_range_5,age_range_6,trestbps_range_1,trestbps_range_2,trestbps_range_3,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
732,2.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,1,0,0,1,5.726215
733,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,6.069911
734,0.0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,5.257317
735,1.0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,1,0,0,1,6.413110
736,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,5.183987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,1,0,0,1,5.486661
912,0.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,5.686826
913,0.0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,1,0,1,0,4.385954
914,0.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,1,0,1,0,4.725078
915,1.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,1,1,0,5.090185

In [802]:
predicted_df_all_cat['ID'] = range(len(predicted_df_all_cat))
#predicted_df_all_cat[['ID', 'label']].to_csv('try23_data.csv', index=False)

In [803]:
#try23_df = pd.read_csv('try23_data.csv')
#try23_df

In [804]:
train_all_cat_no_drop = pd.get_dummies(train_num_as_cat_no_drop, columns= ['restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang'])

In [805]:
train_all_cat_no_drop

,age,trestbps,chol,thalach,oldpeak,label,age_range_1,age_range_2,age_range_3,age_range_4,...,slope_3.0,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
0,51.0,125.0,213.0,125.0,1.4,0.0,0,0,0,1,...,0,1,0,0,0,1,1,0,0,1
1,54.0,120.0,237.0,150.0,1.5,2.0,0,0,0,1,...,0,0,0,1,0,1,1,0,0,1
2,63.0,140.0,0.0,149.0,2.0,2.0,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
3,52.0,140.0,223.0,140.0,0.0,0.0,0,0,0,1,...,0,1,0,0,1,0,1,0,1,0
4,55.0,140.0,217.0,111.0,5.6,3.0,0,0,0,1,...,1,0,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,120.0,230.0,150.0,0.0,0.0,0,0,1,0,...,0,1,0,0,0,1,1,0,1,0
728,62.0,130.0,204.0,140.0,0.5,1.0,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
729,43.0,122.0,213.0,165.0,0.2,0.0,0,0,1,0,...,0,1,0,0,1,0,1,0,1,0
730,68.0,150.0,195.0,132.0,0.0,1.0,0,0,0,0,...,0,0,1,0,0,1,0,1,1,0
731,41.0,126.0,306.0,163.0,0.0,0.0,0,0,1,0,...,0,1,0,0,1,0,1,0,1,0

In [806]:
test_all_cat_no_drop = pd.get_dummies(test_num_as_cat_no_drop, columns= ['restecg', 'cp', 'ca', 'slope', 'thal', 'sex', 'fbs', 'exang'])

In [807]:
test_all_cat_no_drop

,age,trestbps,chol,thalach,oldpeak,label,age_range_1,age_range_2,age_range_3,age_range_4,...,slope_3.0,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
732,57.0,156.0,173.0,119.0,3.0,0.0,0,0,0,1,...,1,1,0,0,0,1,1,0,0,1
733,52.0,160.0,196.0,165.0,0.0,0.0,0,0,0,1,...,0,1,0,0,0,1,1,0,1,0
734,48.0,100.0,223.0,100.0,0.0,0.0,0,0,1,0,...,0,1,0,0,0,1,1,0,1,0
735,62.0,115.0,0.0,128.0,2.5,0.0,0,0,0,0,...,1,1,0,0,0,1,1,0,0,1
736,51.0,110.0,175.0,123.0,0.6,0.0,0,0,0,1,...,0,1,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,0.0,0,0,0,1,...,0,1,0,0,0,1,1,0,0,1
912,55.0,110.0,214.0,180.0,0.5,0.0,0,0,0,1,...,0,1,0,0,0,1,0,1,1,0
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,0,0,...,0,0,0,1,0,1,1,0,1,0
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,0,1,...,0,0,0,1,0,1,1,0,1,0
915,58.0,130.0,203.0,140.0,0.5,0.0,0,0,0,1,...,0,1,0,0,0,1,0,1,1,0

In [808]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = train_all_cat_no_drop.drop('label', axis=1)
y = train_all_cat_no_drop['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)

model.fit(X_train, y_train)

coef_importance = pd.Series(model.coef_[0], index=X.columns)
coef_importance = coef_importance.abs().sort_values(ascending=False)

print("Variables con mayor peso en el modelo:")
print(coef_importance)

Variables con mayor peso en el modelo:
cp_4.0              0.976106
chol_range_2        0.881146
chol_range_1        0.880662
ca_0.0              0.859652
cp_2.0              0.683936
                      ...
chol                0.001030
trestbps_range_4    0.000000
trestbps_range_3    0.000000
trestbps_range_2    0.000000
trestbps_range_1    0.000000
Length: 67, dtype: float64

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [809]:
dict_cor = coef_importance.to_dict()

In [810]:
dict_cor

{'cp_4.0': 0.9761056271839622,
 'chol_range_2': 0.8811456205244105,
 'chol_range_1': 0.8806616444682643,
 'ca_0.0': 0.8596522670647463,
 'cp_2.0': 0.6839360662959857,
 'thalach_range_3': 0.647401765629056,
 'sex_0.0': 0.6178444906734671,
 'sex_1.0': 0.5785255391493096,
 'oldpeak_range_6': 0.5290867947695591,
 'slope_1.0': 0.5220192211462443,
 'restecg_2.0': 0.4639869431971713,
 'fbs_0.0': 0.4299278680456396,
 'exang_0.0': 0.405550183818309,
 'fbs_1.0': 0.3906089165177162,
 'thalach_range_4': 0.38789108829299246,
 'thal_3.0': 0.38681756319296356,
 'thalach_range_2': 0.38384398592123004,
 'thal_7.0': 0.3833658241251983,
 'chol_range_3': 0.3793474430127535,
 'oldpeak': 0.3695103639364894,
 'exang_1.0': 0.36623123229117766,
 'thalach_range_5': 0.3619581794571565,
 'restecg_1.0': 0.35757638830700267,
 'ca_1.0': 0.3543227330322733,
 'chol_range_6': 0.3341900383517029,
 'cp_1.0': 0.3341162513972462,
 'slope_2.0': 0.3310670837402239,
 'ca_2.0': 0.26165948729119615,
 'oldpeak_range_4': 0.25717834177899984,
 'age_range_3': 0.24388131640411284,
 'age_range_4': 0.23625409744627257,
 'thalach_range_6': 0.22448663301144128,
 'age_range_6': 0.22094777626383932,
 'oldpeak_range_5': 0.20448098841442916,
 'ca_3.0': 0.20435109521371314,
 'chol_range_5': 0.18924871095511364,
 'age_range_5': 0.1695070892319176,
 'slope_3.0': 0.15163318587780683,
 'chol_range_4': 0.1403519252313636,
 'oldpeak_range_8': 0.13899391764337213,
 'trestbps_range_8': 0.1376767433341376,
 'thalach_range_1': 0.09579051517088867,
 'trestbps_range_6': 0.06767113730314861,
 'restecg_0.0': 0.06709160336335118,
 'age_range_2': 0.05652092568061189,
 'age_range_1': 0.0418659318356676,
 'oldpeak_range_1': 0.04064438053866881,
 'trestbps_range_10': 0.03814645998756418,
 'oldpeak_range_3': 0.036452554965934914,
 'thal_6.0': 0.03586721245888583,
 'trestbps_range_7': 0.03363309849884533,
 'trestbps_range_5': 0.031513399254933606,
 'oldpeak_range_2': 0.022156028661363066,
 'trestbps_range_9': 0.02102659297810337,
 'oldpeak_range_7': 0.021008291758205393,
 'age': 0.017098697120068108,
 'oldpeak_range_9': 0.016099778077641715,
 'thalach': 0.012485655762570306,
 'oldpeak_range_10': 0.010808160987166426,
 'thalach_range_7': 0.008862603302792519,
 'trestbps': 0.004811035276050916,
 'cp_3.0': 0.0026277389816597462,
 'chol': 0.0010295539107805275,
 'trestbps_range_4': 0.0,
 'trestbps_range_3': 0.0,
 'trestbps_range_2': 0.0,
 'trestbps_range_1': 0.0}

In [811]:
for index, row in train_all_cat_no_drop.iterrows():
    score = 0.0
    for col in train_all_cat_no_drop.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train_all_cat_no_drop.at[index, 'score_by_correlation'] = score

In [812]:
train_all_cat_no_drop

,age,trestbps,chol,thalach,oldpeak,label,age_range_1,age_range_2,age_range_3,age_range_4,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
0,51.0,125.0,213.0,125.0,1.4,0.0,0,0,0,1,...,1,0,0,0,1,1,0,0,1,4.311323
1,54.0,120.0,237.0,150.0,1.5,2.0,0,0,0,1,...,0,0,1,0,1,1,0,0,1,3.872205
2,63.0,140.0,0.0,149.0,2.0,2.0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,6.339517
3,52.0,140.0,223.0,140.0,0.0,0.0,0,0,0,1,...,1,0,0,1,0,1,0,1,0,4.792344
4,55.0,140.0,217.0,111.0,5.6,3.0,0,0,0,1,...,0,0,1,0,1,1,0,0,1,5.229313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,120.0,230.0,150.0,0.0,0.0,0,0,1,0,...,1,0,0,0,1,1,0,1,0,3.975300
728,62.0,130.0,204.0,140.0,0.5,1.0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,4.191411
729,43.0,122.0,213.0,165.0,0.2,0.0,0,0,1,0,...,1,0,0,1,0,1,0,1,0,4.376577
730,68.0,150.0,195.0,132.0,0.0,1.0,0,0,0,0,...,0,1,0,0,1,0,1,1,0,4.504389
731,41.0,126.0,306.0,163.0,0.0,0.0,0,0,1,0,...,1,0,0,1,0,1,0,1,0,5.009842

In [813]:
for index, row in test_all_cat_no_drop.iterrows():
    score = 0.0
    for col in test_all_cat_no_drop.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    test_all_cat_no_drop.at[index, 'score_by_correlation'] = score

In [814]:
test_all_cat_no_drop

,age,trestbps,chol,thalach,oldpeak,label,age_range_1,age_range_2,age_range_3,age_range_4,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
732,57.0,156.0,173.0,119.0,3.0,0.0,0,0,0,1,...,1,0,0,0,1,1,0,0,1,5.770136
733,52.0,160.0,196.0,165.0,0.0,0.0,0,0,0,1,...,1,0,0,0,1,1,0,1,0,5.500131
734,48.0,100.0,223.0,100.0,0.0,0.0,0,0,1,0,...,1,0,0,0,1,1,0,1,0,5.338048
735,62.0,115.0,0.0,128.0,2.5,0.0,0,0,0,0,...,1,0,0,0,1,1,0,0,1,5.850803
736,51.0,110.0,175.0,123.0,0.6,0.0,0,0,0,1,...,1,0,0,0,1,1,0,1,0,5.082352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,0.0,0,0,0,1,...,1,0,0,0,1,1,0,0,1,5.641905
912,55.0,110.0,214.0,180.0,0.5,0.0,0,0,0,1,...,1,0,0,0,1,0,1,1,0,5.158672
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,0,0,...,0,0,1,0,1,1,0,1,0,4.398413
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,0,1,...,0,0,1,0,1,1,0,1,0,4.679998
915,58.0,130.0,203.0,140.0,0.5,0.0,0,0,0,1,...,1,0,0,0,1,0,1,1,0,4.901832

### TRY 24 RANDOM FOREST y no dropeo las columnas numericas categorizadas

In [815]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_all_cat_no_drop.drop(columns=[target_column])
target_train = train_all_cat_no_drop[target_column]

features_test = test_all_cat_no_drop.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_all_nodrop = test_all_cat_no_drop.copy()
predicted_df_all_nodrop[target_column] = predicted_classes

In [816]:
predicted_df_all_nodrop

,age,trestbps,chol,thalach,oldpeak,label,age_range_1,age_range_2,age_range_3,age_range_4,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
732,57.0,156.0,173.0,119.0,3.0,2.0,0,0,0,1,...,1,0,0,0,1,1,0,0,1,5.770136
733,52.0,160.0,196.0,165.0,0.0,0.0,0,0,0,1,...,1,0,0,0,1,1,0,1,0,5.500131
734,48.0,100.0,223.0,100.0,0.0,0.0,0,0,1,0,...,1,0,0,0,1,1,0,1,0,5.338048
735,62.0,115.0,0.0,128.0,2.5,1.0,0,0,0,0,...,1,0,0,0,1,1,0,0,1,5.850803
736,51.0,110.0,175.0,123.0,0.6,0.0,0,0,0,1,...,1,0,0,0,1,1,0,1,0,5.082352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,3.0,0,0,0,1,...,1,0,0,0,1,1,0,0,1,5.641905
912,55.0,110.0,214.0,180.0,0.5,0.0,0,0,0,1,...,1,0,0,0,1,0,1,1,0,5.158672
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,0,0,...,0,0,1,0,1,1,0,1,0,4.398413
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,0,1,...,0,0,1,0,1,1,0,1,0,4.679998
915,58.0,130.0,203.0,140.0,0.5,1.0,0,0,0,1,...,1,0,0,0,1,0,1,1,0,4.901832

In [817]:
predicted_df_all_nodrop['ID'] = range(len(predicted_df_all_nodrop))
#predicted_df_all_nodrop[['ID', 'label']].to_csv('try24_data.csv', index=False)

In [818]:
#try24_df = pd.read_csv('try24_data.csv')

In [819]:
#try24_df

In [820]:
#try24_df.value_counts('label')

# Limpieza2 con valores faltantes con MEDIA (numÃ©ricas) y MODA (categÃ³ricas)

In [821]:
df2 = pd.read_csv('../df_cleaned.csv')

In [822]:
df2.drop(columns='Unnamed: 0', inplace=True)

In [823]:
df2.drop('index', axis=1, inplace=True)

In [824]:
df2.replace('<NA>', np.nan, inplace=True)

numeric_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_cols = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal', 'label', 'ca']

numeric_imputer = SimpleImputer(strategy='mean')
df2[numeric_cols] = numeric_imputer.fit_transform(df2[numeric_cols])

categorical_imputer = SimpleImputer(strategy='most_frequent')
df2[categorical_cols] = categorical_imputer.fit_transform(df2[categorical_cols])

print(df2.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
label       0
dtype: int64

In [825]:
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51.0,1.0,1.0,125.000000,213.000000,0.0,2.0,125.000000,1.0,1.400000,1.0,1.0,3.0,0.0
1,54.0,1.0,3.0,120.000000,237.000000,0.0,0.0,150.000000,1.0,1.500000,2.0,0.0,7.0,2.0
2,63.0,1.0,4.0,140.000000,0.000000,0.0,2.0,149.000000,0.0,2.000000,1.0,0.0,3.0,2.0
3,52.0,0.0,2.0,140.000000,199.146727,0.0,0.0,140.000000,0.0,0.000000,2.0,0.0,3.0,0.0
4,55.0,1.0,4.0,140.000000,217.000000,0.0,0.0,111.000000,1.0,5.600000,3.0,0.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,1.0,4.0,200.000000,198.000000,0.0,0.0,142.000000,1.0,2.000000,2.0,0.0,3.0,0.0
912,55.0,1.0,2.0,110.000000,214.000000,1.0,1.0,180.000000,0.0,0.875878,2.0,0.0,3.0,0.0
913,67.0,1.0,3.0,152.000000,212.000000,0.0,2.0,150.000000,0.0,0.800000,2.0,0.0,7.0,0.0
914,59.0,1.0,1.0,170.000000,288.000000,0.0,2.0,159.000000,0.0,0.200000,2.0,0.0,7.0,0.0
915,58.0,1.0,4.0,132.142357,203.000000,1.0,0.0,137.533101,0.0,0.875878,2.0,0.0,3.0,0.0

In [826]:
categorical_variables = ['cp', 'restecg', 'slope', 'thal', 'ca']
df2 = pd.get_dummies(df2, columns=categorical_variables, drop_first=True)
print(df2.head())

    age  sex  trestbps        chol  fbs  thalach  exang  oldpeak  label  \
0  51.0  1.0     125.0  213.000000  0.0    125.0    1.0      1.4    0.0
1  54.0  1.0     120.0  237.000000  0.0    150.0    1.0      1.5    2.0
2  63.0  1.0     140.0    0.000000  0.0    149.0    0.0      2.0    2.0
3  52.0  0.0     140.0  199.146727  0.0    140.0    0.0      0.0    0.0
4  55.0  1.0     140.0  217.000000  0.0    111.0    1.0      5.6    3.0

   cp_2.0  ...  cp_4.0  restecg_1.0  restecg_2.0  slope_2.0  slope_3.0  \
0       0  ...       0            0            1          0          0
1       0  ...       0            0            0          1          0
2       0  ...       1            0            1          0          0
3       1  ...       0            0            0          1          0
4       0  ...       1            0            0          0          1

   thal_6.0  thal_7.0  ca_1.0  ca_2.0  ca_3.0
0         0         0       1       0       0
1         0         1       0       0       0
2         0         0       0       0       0
3         0         0       0       0       0
4         0         1       0       0       0

[5 rows x 21 columns]

In [827]:
numeric_data = df2[['trestbps', 'chol', 'thalach', 'oldpeak', 'age']]

scaler = MinMaxScaler()
scaled_numeric_data = scaler.fit_transform(numeric_data)

scaled_data = pd.DataFrame(scaled_numeric_data, columns=['trestbps', 'chol', 'thalach', 'oldpeak', 'age'])

df2[['trestbps', 'chol', 'thalach', 'oldpeak', 'age']] = scaled_data

print(df2.head())

        age  sex  trestbps      chol  fbs   thalach  exang   oldpeak  label  \
0  0.469388  1.0     0.625  0.353234  0.0  0.457746    1.0  0.454545    0.0
1  0.530612  1.0     0.600  0.393035  0.0  0.633803    1.0  0.465909    2.0
2  0.714286  1.0     0.700  0.000000  0.0  0.626761    0.0  0.522727    2.0
3  0.489796  0.0     0.700  0.330260  0.0  0.563380    0.0  0.295455    0.0
4  0.551020  1.0     0.700  0.359867  0.0  0.359155    1.0  0.931818    3.0

   cp_2.0  ...  cp_4.0  restecg_1.0  restecg_2.0  slope_2.0  slope_3.0  \
0       0  ...       0            0            1          0          0
1       0  ...       0            0            0          1          0
2       0  ...       1            0            1          0          0
3       1  ...       0            0            0          1          0
4       0  ...       1            0            0          0          1

   thal_6.0  thal_7.0  ca_1.0  ca_2.0  ca_3.0
0         0         0       1       0       0
1         0         1       0       0       0
2         0         0       0       0       0
3         0         0       0       0       0
4         0         1       0       0       0

[5 rows x 21 columns]

In [828]:
train_mix = df2[0:732]
test_mix = df2[(916-184):]

In [829]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = train_mix.drop('label', axis=1)
y = train_mix['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

model.fit(X_train, y_train)

coef_importance = pd.Series(model.coef_[0], index=X.columns)
coef_importance = coef_importance.abs().sort_values(ascending=False)

print("Variables con mayor peso en el modelo:")
print(coef_importance)

Variables con mayor peso en el modelo:
oldpeak        1.977840
chol           1.547011
cp_4.0         1.118520
thalach        1.073606
sex            1.064259
age            0.926395
exang          0.919658
slope_3.0      0.876313
ca_3.0         0.859257
ca_2.0         0.779711
thal_7.0       0.722268
cp_2.0         0.717011
slope_2.0      0.693663
ca_1.0         0.615505
fbs            0.522301
restecg_2.0    0.327126
thal_6.0       0.324739
restecg_1.0    0.299440
cp_3.0         0.141491
trestbps       0.025761
dtype: float64

In [830]:
dict_cor = coef_importance.to_dict()

In [831]:
dict_cor

{'oldpeak': 1.9778399802147442,
 'chol': 1.5470110887395128,
 'cp_4.0': 1.1185198249547845,
 'thalach': 1.0736062266230901,
 'sex': 1.0642590193268897,
 'age': 0.9263946129317734,
 'exang': 0.9196576988659506,
 'slope_3.0': 0.8763128341196766,
 'ca_3.0': 0.859257441109222,
 'ca_2.0': 0.7797112420476212,
 'thal_7.0': 0.7222678250469002,
 'cp_2.0': 0.7170106093584412,
 'slope_2.0': 0.6936625886534418,
 'ca_1.0': 0.6155051723322216,
 'fbs': 0.5223006528644487,
 'restecg_2.0': 0.32712612023557774,
 'thal_6.0': 0.3247390374162283,
 'restecg_1.0': 0.2994402276378213,
 'cp_3.0': 0.14149111030936545,
 'trestbps': 0.025760712787399637}

In [832]:
for index, row in train_mix.iterrows():
    score = 0.0
    for col in train_mix.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train_mix.at[index, 'score_by_correlation'] = score

/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/184516263.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_mix.at[index, 'score_by_correlation'] = score

In [833]:
train_mix

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,label,cp_2.0,...,restecg_1.0,restecg_2.0,slope_2.0,slope_3.0,thal_6.0,thal_7.0,ca_1.0,ca_2.0,ca_3.0,score_by_correlation
0,0.469388,1.0,0.625000,0.353234,0.0,0.457746,1.0,0.454545,0.0,0,...,0,1,0,0,0,0,1,0,0,2.926548
1,0.530612,1.0,0.600000,0.393035,0.0,0.633803,1.0,0.465909,2.0,0,...,0,0,1,0,0,1,0,0,0,3.541338
2,0.714286,1.0,0.700000,0.000000,0.0,0.626761,0.0,0.522727,2.0,0,...,0,1,0,0,0,0,0,0,0,2.509905
3,0.489796,0.0,0.700000,0.330260,0.0,0.563380,0.0,0.295455,0.0,1,...,0,0,1,0,0,0,0,0,0,1.410673
4,0.551020,1.0,0.700000,0.359867,0.0,0.359155,1.0,0.931818,3.0,0,...,0,0,0,1,0,1,0,0,0,4.701017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.367347,1.0,0.600000,0.381426,0.0,0.633803,0.0,0.295455,0.0,0,...,0,0,1,0,0,0,0,0,0,1.899413
728,0.693878,1.0,0.660712,0.338308,0.0,0.546008,0.0,0.394986,1.0,0,...,1,0,1,0,0,0,0,0,0,2.198853
729,0.306122,0.0,0.610000,0.353234,0.0,0.739437,0.0,0.318182,0.0,0,...,0,0,1,0,0,0,0,0,0,0.835154
730,0.816327,1.0,0.750000,0.323383,1.0,0.507042,0.0,0.295455,1.0,0,...,0,0,1,0,1,0,0,0,0,2.746452
731,0.265306,0.0,0.630000,0.507463,0.0,0.725352,0.0,0.295455,0.0,1,...,0,0,0,0,0,0,0,0,0,0.717011

In [834]:
for index, row in test_mix.iterrows():
    score = 0.0
    for col in test_mix.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    test_mix.at[index, 'score_by_correlation'] = score

/var/folders/n3/hmfs0mds4xl6r9lxv0yr6phh0000gn/T/ipykernel_2591/2132171515.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_mix.at[index, 'score_by_correlation'] = score

In [835]:
test_mix

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,label,cp_2.0,...,restecg_1.0,restecg_2.0,slope_2.0,slope_3.0,thal_6.0,thal_7.0,ca_1.0,ca_2.0,ca_3.0,score_by_correlation
732,0.591837,1.0,0.780000,0.286899,0.0,0.415493,1.0,0.636364,0.0,0,...,0,1,0,1,0,0,0,0,0,4.305875
733,0.489796,1.0,0.800000,0.325041,0.0,0.739437,0.0,0.295455,0.0,1,...,0,0,1,0,0,0,0,0,0,2.474932
734,0.408163,1.0,0.500000,0.330260,0.0,0.281690,0.0,0.295455,0.0,1,...,0,0,1,0,0,0,0,0,0,2.474932
735,0.693878,1.0,0.575000,0.000000,0.0,0.478873,1.0,0.579545,0.0,0,...,0,0,0,1,0,0,0,0,0,3.978749
736,0.469388,1.0,0.550000,0.290216,0.0,0.443662,0.0,0.363636,0.0,0,...,0,0,0,0,0,0,0,0,0,1.205750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.530612,1.0,1.000000,0.328358,0.0,0.577465,1.0,0.522727,0.0,0,...,0,0,1,0,0,0,0,0,0,3.821860
912,0.551020,1.0,0.550000,0.354892,1.0,0.845070,0.0,0.394986,0.0,1,...,1,0,1,0,0,0,0,0,0,3.296673
913,0.795918,1.0,0.760000,0.351575,0.0,0.633803,0.0,0.386364,0.0,0,...,0,1,1,0,0,1,0,0,0,2.948807
914,0.632653,1.0,0.850000,0.477612,0.0,0.697183,0.0,0.318182,0.0,0,...,0,1,1,0,0,1,0,0,0,2.807316
915,0.612245,1.0,0.660712,0.336650,1.0,0.546008,0.0,0.394986,0.0,0,...,0,0,1,0,0,0,0,0,0,3.398742

### TRY 27 RANDOM FOREST

In [836]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_mix.drop(columns=[target_column])
target_train = train_mix[target_column]

features_test = test_mix.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_mix = test_mix.copy()
predicted_df_mix[target_column] = predicted_classes

print(predicted_df_mix)

          age  sex  trestbps      chol  fbs   thalach  exang   oldpeak  label  \
732  0.591837  1.0  0.780000  0.286899  0.0  0.415493    1.0  0.636364    2.0
733  0.489796  1.0  0.800000  0.325041  0.0  0.739437    0.0  0.295455    0.0
734  0.408163  1.0  0.500000  0.330260  0.0  0.281690    0.0  0.295455    0.0
735  0.693878  1.0  0.575000  0.000000  0.0  0.478873    1.0  0.579545    1.0
736  0.469388  1.0  0.550000  0.290216  0.0  0.443662    0.0  0.363636    0.0
..        ...  ...       ...       ...  ...       ...    ...       ...    ...
911  0.530612  1.0  1.000000  0.328358  0.0  0.577465    1.0  0.522727    2.0
912  0.551020  1.0  0.550000  0.354892  1.0  0.845070    0.0  0.394986    0.0
913  0.795918  1.0  0.760000  0.351575  0.0  0.633803    0.0  0.386364    0.0
914  0.632653  1.0  0.850000  0.477612  0.0  0.697183    0.0  0.318182    0.0
915  0.612245  1.0  0.660712  0.336650  1.0  0.546008    0.0  0.394986    1.0

     cp_2.0  ...  restecg_1.0  restecg_2.0  slope_2.0  slope_3.0  thal_6.0  \
732       0  ...            0            1          0          1         0
733       1  ...            0            0          1          0         0
734       1  ...            0            0          1          0         0
735       0  ...            0            0          0          1         0
736       0  ...            0            0          0          0         0
..      ...  ...          ...          ...        ...        ...       ...
911       0  ...            0            0          1          0         0
912       1  ...            1            0          1          0         0
913       0  ...            0            1          1          0         0
914       0  ...            0            1          1          0         0
915       0  ...            0            0          1          0         0

     thal_7.0  ca_1.0  ca_2.0  ca_3.0  score_by_correlation
732         0       0       0       0              4.305875
733         0       0       0       0              2.474932
734         0       0       0       0              2.474932
735         0       0       0       0              3.978749
736         0       0       0       0              1.205750
..        ...     ...     ...     ...                   ...
911         0       0       0       0              3.821860
912         0       0       0       0              3.296673
913         1       0       0       0              2.948807
914         1       0       0       0              2.807316
915         0       0       0       0              3.398742

[184 rows x 22 columns]

In [837]:
predicted_df_mix['index'] = predicted_df_mix.index
predicted_df_mix.reset_index(inplace=True)

In [838]:
predicted_df_mix.drop(columns=['index'], inplace=True)
predicted_df_mix.rename(columns={'level_0': 'index'}, inplace=True)

predicted_df_mix['ID'] = range(len(predicted_df_mix))
#predicted_df_mix[['ID', 'label']].to_csv('try27_data.csv', index=False)

In [839]:
#try27_df = pd.read_csv('try27_data.csv')

In [840]:
#try27_df

# Limpieza3 con NAs =, pero se eliminan algunas variables y se convierten algunos valores en NAs

RECOMENDACIONES MEDICAS

In [841]:
test = pd.read_csv('../test.csv')

In [842]:
train = pd.read_csv('../train.csv')

In [843]:
train.replace({"?":np.nan, "-9.0": np.nan, -9.0:np.nan, "nan":np.nan}, inplace=True)

In [844]:
test.replace({"?":np.nan, "-9.0": np.nan, -9.0:np.nan, "nan":np.nan}, inplace=True)

In [845]:
train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0
1,54.0,1.0,3.0,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,NaN,7.0,2
2,63.0,1.0,4.0,140,0,NaN,2.0,149,0,2,1,NaN,NaN,2
3,52.0,0.0,2.0,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0
4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,1.0,3.0,120.0,230.0,0.0,0.0,150.0,0.0,0.0,NaN,NaN,NaN,0
728,62.0,1.0,3.0,NaN,204,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1
729,43.0,0.0,3.0,122.0,213.0,0.0,0.0,165.0,0.0,0.2,2.0,0.0,3.0,0
730,68.0,1.0,3.0,150,195,1,0.0,132,0,0,NaN,NaN,6,1
731,41.0,0.0,2.0,126.0,306.0,0.0,0.0,163.0,0.0,0.0,1.0,0.0,3.0,0

In [846]:
test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,57.0,1.0,4.0,156,173,0,2,119,1,3,3,NaN,NaN
1,52.0,1.0,2.0,160.0,196.0,0.0,0.0,165.0,0.0,0.0,NaN,NaN,NaN
2,48.0,1.0,2.0,100.0,NaN,0.0,0.0,100.0,0.0,0.0,NaN,NaN,NaN
3,62.0,1.0,4.0,115,0,NaN,0,128,1,2.5,3,NaN,NaN
4,51.0,1.0,3.0,110.0,175.0,0.0,0.0,123.0,0.0,0.6,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,54.0,1.0,4.0,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN,NaN
180,55.0,1.0,2.0,110,214,1,1,180,0,NaN,NaN,NaN,NaN
181,67.0,1.0,3.0,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0
182,59.0,1.0,1.0,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0
183,58.0,1.0,4.0,NaN,203,1,0,NaN,NaN,NaN,NaN,NaN,NaN

In [847]:
nasDf = pd.DataFrame(train.isna().sum())

In [848]:
nasDf.rename(columns={0:'nas'}, inplace=True)

In [849]:
nasDf['obs_total'] = len(train)

In [850]:
nasDf['percentage'] = (nasDf['nas'] / nasDf['obs_total']) * 100

In [851]:
nasDf

          nas  obs_total  percentage
age         0        732    0.000000
sex         0        732    0.000000
cp          0        732    0.000000
trestbps   47        732    6.420765
chol       21        732    2.868852
fbs        66        732    9.016393
restecg     0        732    0.000000
thalach    44        732    6.010929
exang      44        732    6.010929
oldpeak    49        732    6.693989
slope     247        732   33.743169
ca        479        732   65.437158
thal      379        732   51.775956
label       0        732    0.000000

In [852]:
train = train.astype('float')

In [853]:
nasDf['num_0'] = train.eq(0.0).sum()

In [854]:
nasDf

          nas  obs_total  percentage  num_0
age         0        732    0.000000      0
sex         0        732    0.000000    154
cp          0        732    0.000000      0
trestbps   47        732    6.420765      1
chol       21        732    2.868852    135
fbs        66        732    9.016393    554
restecg     0        732    0.000000    439
thalach    44        732    6.010929      0
exang      44        732    6.010929    422
oldpeak    49        732    6.693989    297
slope     247        732   33.743169      0
ca        479        732   65.437158    147
thal      379        732   51.775956      0
label       0        732    0.000000    327

In [855]:
train['oldpeak'].unique()

array([ 1.4,  1.5,  2. ,  0. ,  5.6,  2.8,  1. ,  5. , -1.1,  2.2,  0.6,
        4. ,  0.5,  3. ,  2.5,  0.4,  nan,  1.9,  0.9,  0.1,  0.8,  0.2,
       -0.5,  1.8,  3.4,  2.3,  1.6,  0.7,  1.2,  2.6,  6.2, -2.6,  4.4,
        2.4,  4.2, -0.9,  0.3,  1.1,  2.1,  3.5,  3.1, -1. ,  1.3,  3.2,
       -2. ,  1.7,  3.6, -1.5,  2.9,  3.8, -0.8,  3.7])

In [856]:
epsilon = 1e-10

for i in train.index:
    if train['oldpeak'][i] < 0.0:
        train.at[i, 'oldpeak'] = np.nan
    elif abs(train['chol'][i] - 0.0) < epsilon:
        train.at[i, 'chol'] = np.nan

In [857]:
train['oldpeak'].unique()

array([1.4, 1.5, 2. , 0. , 5.6, 2.8, 1. , 5. , nan, 2.2, 0.6, 4. , 0.5,
       3. , 2.5, 0.4, 1.9, 0.9, 0.1, 0.8, 0.2, 1.8, 3.4, 2.3, 1.6, 0.7,
       1.2, 2.6, 6.2, 4.4, 2.4, 4.2, 0.3, 1.1, 2.1, 3.5, 3.1, 1.3, 3.2,
       1.7, 3.6, 2.9, 3.8, 3.7])

In [858]:
nasDf2 = pd.DataFrame(train.isna().sum())

In [859]:
nasDf2.rename(columns={0:'nas'}, inplace=True)

In [860]:
nasDf2['obs_total'] = len(train)

In [861]:
nasDf2['percentage'] = (nasDf2['nas'] / nasDf2['obs_total']) * 100

In [862]:
nasDf2['num_0'] = train.eq(0.0).sum()

In [863]:
nasDf2

          nas  obs_total  percentage  num_0
age         0        732    0.000000      0
sex         0        732    0.000000    154
cp          0        732    0.000000      0
trestbps   47        732    6.420765      1
chol      146        732   19.945355     10
fbs        66        732    9.016393    554
restecg     0        732    0.000000    439
thalach    44        732    6.010929      0
exang      44        732    6.010929    422
oldpeak    59        732    8.060109    297
slope     247        732   33.743169      0
ca        479        732   65.437158    147
thal      379        732   51.775956      0
label       0        732    0.000000    327

In [864]:
train.drop(columns=['ca'], inplace=True)

In [865]:
train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,thal,label
0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,3.0,0.0
1,54.0,1.0,3.0,120.0,237.0,0.0,0.0,150.0,1.0,1.5,NaN,7.0,2.0
2,63.0,1.0,4.0,140.0,NaN,NaN,2.0,149.0,0.0,2.0,1.0,NaN,2.0
3,52.0,0.0,2.0,140.0,NaN,0.0,0.0,140.0,0.0,0.0,NaN,NaN,0.0
4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,1.0,3.0,120.0,230.0,0.0,0.0,150.0,0.0,0.0,NaN,NaN,0.0
728,62.0,1.0,3.0,NaN,204.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
729,43.0,0.0,3.0,122.0,213.0,0.0,0.0,165.0,0.0,0.2,2.0,3.0,0.0
730,68.0,1.0,3.0,150.0,195.0,1.0,0.0,132.0,0.0,0.0,NaN,6.0,1.0
731,41.0,0.0,2.0,126.0,306.0,0.0,0.0,163.0,0.0,0.0,1.0,3.0,0.0

In [866]:
train = train.astype('str')

In [867]:
train.replace({'nan':np.nan, '<NA>':np.nan}, inplace=True)

numeric_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_cols = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal', 'label']

numeric_imputer = SimpleImputer(strategy='mean')
train[numeric_cols] = numeric_imputer.fit_transform(train[numeric_cols])

categorical_imputer = SimpleImputer(strategy='most_frequent')
train[categorical_cols] = categorical_imputer.fit_transform(train[categorical_cols])

print(train.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
thal        0
label       0
dtype: int64

In [868]:
for i in train.columns:
    print(f'Variable {i}')
    print(train[f'{i}'].unique())

Variable age
[51. 54. 63. 52. 55. 44. 35. 62. 68. 50. 38. 64. 56. 61. 60. 59. 45. 53.
 43. 47. 41. 69. 49. 66. 57. 46. 67. 58. 42. 31. 39. 65. 37. 48. 40. 36.
 33. 70. 34. 76. 71. 29. 32. 74. 73. 72. 30. 75. 28.]
Variable sex
['1.0' '0.0']
Variable cp
['1.0' '3.0' '4.0' '2.0']
Variable trestbps
[125.         120.         140.         122.         135.
 100.         130.         104.         124.          96.
 131.97518248 160.         110.         134.         146.
 128.         105.         190.         108.         115.
 150.         112.         178.         132.         145.
 170.         155.         138.         144.         180.
  95.         117.         142.         192.         114.
 158.         148.         172.         154.         152.
 118.         106.         165.         102.         113.
 174.         126.         116.         127.         185.
 200.         136.          94.           0.          92.
 164.         123.          98.        ]
Variable chol
[213.         237.         242.60921502 217.         169.
 192.         297.         231.           0.         246.
 256.         282.         338.         211.         208.
 243.         259.         303.         177.         305.
 233.         165.         291.         172.         235.
 273.         409.         234.         142.         278.
 175.         229.         249.         254.         212.
 288.         215.         222.         287.         180.
 204.         141.         269.         260.         171.
 261.         219.         491.         207.         295.
 239.         518.         326.         264.         307.
 238.         226.         252.         228.         257.
 263.         316.         340.         193.         173.
 201.         274.         275.         272.         311.
 255.         224.         339.         126.         342.
 236.         232.         283.         258.         223.
 266.         466.         265.         240.         241.
 290.         214.         164.         198.         230.
 267.         404.         344.         200.         253.
 195.         188.         197.         186.         184.
 318.         268.         216.         245.         313.
 179.         203.         166.         157.         160.
 294.         341.         298.         277.         209.
 302.         194.         322.         182.         149.
 247.         276.         289.         271.         308.
 250.         458.         242.         315.         310.
 199.         330.         270.         147.         603.
 220.         468.         285.         131.         178.
 210.         248.         205.         206.         244.
 100.         280.         218.         202.         225.
 163.         170.         185.         262.         347.
 174.         196.         321.         331.         167.
 168.         284.         292.         293.         388.
 333.          85.         309.         299.         306.
 327.         329.         312.         320.         221.
 161.         281.         129.         360.         355.
 335.         227.         132.         153.         336.
 251.         412.         187.         286.         384.
 139.         117.         325.         300.         529.
 176.         417.         328.         564.         354.
 365.         385.         319.         279.        ]
Variable fbs
['0.0' '1.0']
Variable restecg
['2.0' '0.0' '1.0']
Variable thalach
[125.         150.         149.         140.         111.
 144.         174.         130.         120.         179.
  96.         142.         135.          63.         115.
 148.         122.         170.         121.         138.13226744
 158.         155.         153.         102.         119.
 161.         131.         110.         152.         163.
  72.         112.         165.         172.         175.
 185.         128.         137.         100.         159.
 118.         162.         151.          94.         160.
 143.          90.          80.         169.         138.
 156.         141.         184.         182.          97.
  92.         114.          93.         145.         173.
 133.          83.         157.         103.         178.
 154.         168.         106.         123.         126.
  88.         132.         124.         139.         195.
 180.          60.          73.         164.         186.
 136.         166.          99.         109.         113.
 105.         146.          69.         129.         116.
 127.          82.         108.         147.         107.
  98.         187.         134.          86.         171.
 117.          84.         176.          95.          77.
 190.         104.         192.         194.          70.
 202.         167.         188.          78.         181.        ]
Variable exang
['1.0' '0.0']
Variable oldpeak
[1.4        1.5        2.         0.         5.6        2.8
 1.         5.         0.91203566 2.2        0.6        4.
 0.5        3.         2.5        0.4        1.9        0.9
 0.1        0.8        0.2        1.8        3.4        2.3
 1.6        0.7        1.2        2.6        6.2        4.4
 2.4        4.2        0.3        1.1        2.1        3.5
 3.1        1.3        3.2        1.7        3.6        2.9
 3.8        3.7       ]
Variable slope
['1.0' '2.0' '3.0']
Variable thal
['3.0' '7.0' '6.0']
Variable label
['0.0' '2.0' '3.0' '4.0' '1.0']

In [869]:
categorical_variables = ['cp', 'restecg', 'slope', 'thal']

train = pd.get_dummies(train, columns=categorical_variables, drop_first=True)

print(train.head())

    age  sex  trestbps        chol  fbs  thalach exang  oldpeak label  cp_2.0  \
0  51.0  1.0     125.0  213.000000  0.0    125.0   1.0      1.4   0.0       0
1  54.0  1.0     120.0  237.000000  0.0    150.0   1.0      1.5   2.0       0
2  63.0  1.0     140.0  242.609215  0.0    149.0   0.0      2.0   2.0       0
3  52.0  0.0     140.0  242.609215  0.0    140.0   0.0      0.0   0.0       1
4  55.0  1.0     140.0  217.000000  0.0    111.0   1.0      5.6   3.0       0

   cp_3.0  cp_4.0  restecg_1.0  restecg_2.0  slope_2.0  slope_3.0  thal_6.0  \
0       0       0            0            1          0          0         0
1       1       0            0            0          1          0         0
2       0       1            0            1          0          0         0
3       0       0            0            0          1          0         0
4       0       1            0            0          0          1         0

   thal_7.0
0         0
1         1
2         1
3         1
4         1

In [870]:
numeric_data = train[['trestbps', 'chol', 'thalach', 'oldpeak', 'age']]

scaler = MinMaxScaler()

scaled_numeric_data = scaler.fit_transform(numeric_data)

scaled_data = pd.DataFrame(scaled_numeric_data, columns=['trestbps', 'chol', 'thalach', 'oldpeak', 'age'])

train[['trestbps', 'chol', 'thalach', 'oldpeak', 'age']] = scaled_data

print(train.head())

        age  sex  trestbps      chol  fbs   thalach exang   oldpeak label  \
0  0.479167  1.0     0.625  0.353234  0.0  0.457746   1.0  0.225806   0.0
1  0.541667  1.0     0.600  0.393035  0.0  0.633803   1.0  0.241935   2.0
2  0.729167  1.0     0.700  0.402337  0.0  0.626761   0.0  0.322581   2.0
3  0.500000  0.0     0.700  0.402337  0.0  0.563380   0.0  0.000000   0.0
4  0.562500  1.0     0.700  0.359867  0.0  0.359155   1.0  0.903226   3.0

   cp_2.0  cp_3.0  cp_4.0  restecg_1.0  restecg_2.0  slope_2.0  slope_3.0  \
0       0       0       0            0            1          0          0
1       0       1       0            0            0          1          0
2       0       0       1            0            1          0          0
3       1       0       0            0            0          1          0
4       0       0       1            0            0          0          1

   thal_6.0  thal_7.0
0         0         0
1         0         1
2         0         1
3         0         1
4         0         1

In [871]:
test.isna().sum()

age           0
sex           0
cp            0
trestbps     12
chol          9
fbs          23
restecg       2
thalach      11
exang        11
oldpeak      13
slope        61
ca          128
thal        104
dtype: int64

In [872]:
test = test.astype('float')

In [873]:
test.drop(columns=['ca'], inplace=True)

In [874]:
test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,thal
0,57.0,1.0,4.0,156.0,173.0,0.0,2.0,119.0,1.0,3.0,3.0,NaN
1,52.0,1.0,2.0,160.0,196.0,0.0,0.0,165.0,0.0,0.0,NaN,NaN
2,48.0,1.0,2.0,100.0,NaN,0.0,0.0,100.0,0.0,0.0,NaN,NaN
3,62.0,1.0,4.0,115.0,0.0,NaN,0.0,128.0,1.0,2.5,3.0,NaN
4,51.0,1.0,3.0,110.0,175.0,0.0,0.0,123.0,0.0,0.6,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
179,54.0,1.0,4.0,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,NaN
180,55.0,1.0,2.0,110.0,214.0,1.0,1.0,180.0,0.0,NaN,NaN,NaN
181,67.0,1.0,3.0,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,7.0
182,59.0,1.0,1.0,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,7.0
183,58.0,1.0,4.0,NaN,203.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN

In [875]:
epsilon = 1e-10

for i in test.index:
    if test['oldpeak'][i] < 0.0:
        test.at[i, 'oldpeak'] = np.nan
    elif abs(test['chol'][i] - 0.0) <= epsilon:
        test.at[i, 'chol'] = np.nan
    elif abs(test['chol'][i] - 0.) <= epsilon:
        test.at[i, 'chol'] = np.nan

In [876]:
test['oldpeak'].unique()

array([3. , 0. , 2.5, 0.6, nan, 2.8, 1. , 1.5, 2. , 1.4, 0.2, 0.5, 1.2,
       1.6, 0.1, 4. , 3.6, 2.4, 0.4, 1.3, 0.7, 0.8, 1.1, 1.9, 1.8])

In [877]:
test['chol'].unique()

array([173., 196.,  nan, 175., 201.,   0., 258., 254., 295., 238., 220.,
       349., 310., 275., 219., 244., 171., 298., 256., 230., 239., 288.,
       181., 284., 263., 228., 188., 255., 221., 308., 304., 257., 212.,
       231., 211., 237., 240., 202., 274., 215., 277., 197., 218., 156.,
       267., 407., 195., 204., 183., 358., 271., 264., 226., 311., 268.,
       246., 369., 303., 270., 300., 248., 166., 206., 210., 192., 392.,
       227., 213., 247., 214., 393., 164., 394., 305., 306., 253., 290.,
       236., 190., 160., 353., 289., 149., 187., 337., 276., 224., 269.,
       209., 216., 260., 234., 242., 315., 245., 273., 198., 203.])

In [878]:
test = test.astype('str')

In [879]:
test.replace({'nan':np.nan, '<NA>':np.nan}, inplace=True)

numeric_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_cols = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal']

numeric_imputer = SimpleImputer(strategy='mean') 
test[numeric_cols] = numeric_imputer.fit_transform(test[numeric_cols])

categorical_imputer = SimpleImputer(strategy='most_frequent')
test[categorical_cols] = categorical_imputer.fit_transform(test[categorical_cols])

print(test.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
thal        0
dtype: int64

In [880]:
for i in test.columns:
    print(f'Variable {i}')
    print(test[f'{i}'].unique())

Variable age
[57. 52. 48. 62. 51. 54. 45. 64. 70. 32. 55. 60. 38. 50. 74. 72. 65. 67.
 77. 33. 56. 44. 47. 68. 39. 59. 58. 61. 46. 53. 40. 34. 63. 35. 42. 43.
 66. 71. 69. 37. 29.]
Variable sex
['1.0' '0.0']
Variable cp
['4.0' '2.0' '3.0' '1.0']
Variable trestbps
[156.         160.         100.         115.         110.
 130.         125.         140.         120.         144.
 155.          95.         150.         124.         132.80813953
 118.         129.         128.         152.         145.
  80.         106.         101.         108.         142.
 105.         154.         200.         138.         126.
 158.         102.         132.         180.         136.
 112.         170.         122.         135.        ]
Variable chol
[173.         196.         243.08510638 175.         201.
   0.         258.         254.         295.         238.
 220.         349.         310.         275.         219.
 244.         171.         298.         256.         230.
 239.         288.         181.         284.         263.
 228.         188.         255.         221.         308.
 304.         257.         212.         231.         211.
 237.         240.         202.         274.         215.
 277.         197.         218.         156.         267.
 407.         195.         204.         183.         358.
 271.         264.         226.         311.         268.
 246.         369.         303.         270.         300.
 248.         166.         206.         210.         192.
 392.         227.         213.         247.         214.
 393.         164.         394.         305.         306.
 253.         290.         236.         190.         160.
 353.         289.         149.         187.         337.
 276.         224.         269.         209.         216.
 260.         234.         242.         315.         245.
 273.         198.         203.        ]
Variable fbs
['0.0' '1.0']
Variable restecg
['2.0' '0.0' '1.0']
Variable thalach
[119.         165.         100.         128.         123.
 163.         138.         130.          92.         155.
 136.         141.         118.         134.         156.
 120.         112.         115.         122.          82.
 154.         139.         110.         185.         149.
 124.         160.         150.         135.15028902 140.
 174.         158.         161.         137.         114.
 164.         162.         135.         125.         132.
 113.         188.         170.          80.          88.
  86.         180.         167.         177.         172.
 182.         152.          98.         168.         148.
  97.         181.         144.          67.         145.
  71.          99.         143.         108.          87.
 153.         105.         166.          94.         173.
  84.         111.         175.          96.          91.
 171.         157.         121.         146.         117.
 142.         159.        ]
Variable exang
['1.0' '0.0']
Variable oldpeak
[3.         0.         2.5        0.6        0.86923077 2.8
 1.         1.5        2.         1.4        0.2        0.5
 1.2        1.6        0.1        4.         3.6        2.4
 0.4        1.3        0.7        0.8        1.1        1.9
 1.8       ]
Variable slope
['3.0' '2.0' '1.0']
Variable thal
['3.0' '6.0' '7.0']

In [881]:
categorical_variables = ['cp', 'restecg', 'slope', 'thal']

test = pd.get_dummies(test, columns=categorical_variables, drop_first=True)

print(test.head())

    age  sex  trestbps        chol  fbs  thalach exang  oldpeak  cp_2.0  \
0  57.0  1.0     156.0  173.000000  0.0    119.0   1.0      3.0       0
1  52.0  1.0     160.0  196.000000  0.0    165.0   0.0      0.0       1
2  48.0  1.0     100.0  243.085106  0.0    100.0   0.0      0.0       1
3  62.0  1.0     115.0  243.085106  0.0    128.0   1.0      2.5       0
4  51.0  1.0     110.0  175.000000  0.0    123.0   0.0      0.6       0

   cp_3.0  cp_4.0  restecg_1.0  restecg_2.0  slope_2.0  slope_3.0  thal_6.0  \
0       0       1            0            1          0          1         0
1       0       0            0            0          1          0         0
2       0       0            0            0          1          0         0
3       0       1            0            0          0          1         0
4       1       0            0            0          0          0         0

   thal_7.0
0         0
1         0
2         0
3         0
4         0

In [882]:
numeric_data = test[['trestbps', 'chol', 'thalach', 'oldpeak', 'age']] 
scaler = MinMaxScaler()

scaled_numeric_data = scaler.fit_transform(numeric_data)

scaled_data = pd.DataFrame(scaled_numeric_data, columns=['trestbps', 'chol', 'thalach', 'oldpeak', 'age'])

test[['trestbps', 'chol', 'thalach', 'oldpeak', 'age']] = scaled_data

print(test.head())

        age  sex  trestbps      chol  fbs   thalach exang  oldpeak  cp_2.0  \
0  0.583333  1.0  0.633333  0.425061  0.0  0.429752   1.0    0.750       0
1  0.479167  1.0  0.666667  0.481572  0.0  0.809917   0.0    0.000       1
2  0.395833  1.0  0.166667  0.597261  0.0  0.272727   0.0    0.000       1
3  0.687500  1.0  0.291667  0.597261  0.0  0.504132   1.0    0.625       0
4  0.458333  1.0  0.250000  0.429975  0.0  0.462810   0.0    0.150       0

   cp_3.0  cp_4.0  restecg_1.0  restecg_2.0  slope_2.0  slope_3.0  thal_6.0  \
0       0       1            0            1          0          1         0
1       0       0            0            0          1          0         0
2       0       0            0            0          1          0         0
3       0       1            0            0          0          1         0
4       1       0            0            0          0          0         0

   thal_7.0
0         0
1         0
2         0
3         0
4         0

### TRY 29 RANDOM FOREST

In [883]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train.drop(columns=[target_column])
target_train = train[target_column]

features_test = test

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df = test.copy()
predicted_df[target_column] = predicted_classes

print(predicted_df)

          age  sex  trestbps      chol  fbs   thalach exang   oldpeak  cp_2.0  \
0    0.583333  1.0  0.633333  0.425061  0.0  0.429752   1.0  0.750000       0
1    0.479167  1.0  0.666667  0.481572  0.0  0.809917   0.0  0.000000       1
2    0.395833  1.0  0.166667  0.597261  0.0  0.272727   0.0  0.000000       1
3    0.687500  1.0  0.291667  0.597261  0.0  0.504132   1.0  0.625000       0
4    0.458333  1.0  0.250000  0.429975  0.0  0.462810   0.0  0.150000       0
..        ...  ...       ...       ...  ...       ...   ...       ...     ...
179  0.520833  1.0  1.000000  0.486486  0.0  0.619835   1.0  0.500000       0
180  0.541667  1.0  0.250000  0.525799  1.0  0.933884   0.0  0.217308       1
181  0.791667  1.0  0.600000  0.520885  0.0  0.685950   0.0  0.200000       0
182  0.625000  1.0  0.750000  0.707617  0.0  0.760331   0.0  0.050000       0
183  0.604167  1.0  0.440068  0.498771  1.0  0.563226   0.0  0.217308       0

     cp_3.0  cp_4.0  restecg_1.0  restecg_2.0  slope_2.0  slope_3.0  thal_6.0  \
0         0       1            0            1          0          1         0
1         0       0            0            0          1          0         0
2         0       0            0            0          1          0         0
3         0       1            0            0          0          1         0
4         1       0            0            0          0          0         0
..      ...     ...          ...          ...        ...        ...       ...
179       0       1            0            0          1          0         0
180       0       0            1            0          1          0         0
181       1       0            0            1          1          0         0
182       0       0            0            1          1          0         0
183       0       1            0            0          1          0         0

     thal_7.0 label
0           0   3.0
1           0   0.0
2           0   0.0
3           0   3.0
4           0   1.0
..        ...   ...
179         0   2.0
180         0   0.0
181         1   0.0
182         1   0.0
183         0   1.0

[184 rows x 18 columns]

In [884]:
predicted_df['index'] = predicted_df.index
predicted_df.reset_index(inplace=True)

In [885]:
predicted_df.drop(columns=['index'], inplace=True)
predicted_df.rename(columns={'level_0': 'index'}, inplace=True)

predicted_df['ID'] = range(len(predicted_df))
#predicted_df[['ID', 'label']].to_csv('try29_data.csv', index=False)

In [886]:
#try29_df = pd.read_csv('try29_data.csv')

In [887]:
#try29_df

In [888]:
#try29_df['label'].value_counts()

In [889]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = train.drop('label', axis=1)
y = train['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

model.fit(X_train, y_train)

coef_importance = pd.Series(model.coef_[0], index=X.columns)
coef_importance = coef_importance.abs().sort_values(ascending=False)

print("Variables con mayor peso en el modelo:")
print(coef_importance)

Variables con mayor peso en el modelo:
oldpeak        2.168452
age            1.276794
thalach        1.131079
cp_4.0         1.084245
sex            1.078875
exang          0.863339
cp_2.0         0.859903
thal_6.0       0.669742
chol           0.613023
thal_7.0       0.612316
slope_3.0      0.596571
fbs            0.492999
slope_2.0      0.415537
cp_3.0         0.210085
restecg_1.0    0.100356
trestbps       0.084119
restecg_2.0    0.079420
dtype: float64

In [890]:
dict_cor = coef_importance.to_dict()

In [891]:
dict_cor

{'oldpeak': 2.1684523201726384,
 'age': 1.2767939009601477,
 'thalach': 1.1310791338147885,
 'cp_4.0': 1.0842451127756976,
 'sex': 1.0788750306267636,
 'exang': 0.8633388850025071,
 'cp_2.0': 0.8599031295950998,
 'thal_6.0': 0.6697421139768378,
 'chol': 0.613023222465797,
 'thal_7.0': 0.6123158530714803,
 'slope_3.0': 0.596570790124544,
 'fbs': 0.4929994374344676,
 'slope_2.0': 0.4155373478377181,
 'cp_3.0': 0.21008499346119636,
 'restecg_1.0': 0.10035617052595393,
 'trestbps': 0.08411861067411594,
 'restecg_2.0': 0.07942034946155294}

In [892]:
for index, row in train.iterrows():
    score = 0.0
    for col in train.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train.at[index, 'score_by_correlation'] = score

In [893]:
train

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,label,cp_2.0,cp_3.0,cp_4.0,restecg_1.0,restecg_2.0,slope_2.0,slope_3.0,thal_6.0,thal_7.0,score_by_correlation
0,0.479167,1.0,0.625000,0.353234,0.0,0.457746,1.0,0.225806,0.0,0,0,0,0,1,0,0,0,0,0.079420
1,0.541667,1.0,0.600000,0.393035,0.0,0.633803,1.0,0.241935,2.0,0,1,0,0,0,1,0,0,1,1.237938
2,0.729167,1.0,0.700000,0.402337,0.0,0.626761,0.0,0.322581,2.0,0,0,1,0,1,0,0,0,1,1.775981
3,0.500000,0.0,0.700000,0.402337,0.0,0.563380,0.0,0.000000,0.0,1,0,0,0,0,1,0,0,1,1.887756
4,0.562500,1.0,0.700000,0.359867,0.0,0.359155,1.0,0.903226,3.0,0,0,1,0,0,0,1,0,1,2.293132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.375000,1.0,0.600000,0.381426,0.0,0.633803,0.0,0.000000,0.0,0,1,0,0,0,1,0,0,1,1.237938
728,0.708333,1.0,0.659876,0.338308,0.0,0.550227,0.0,0.147103,1.0,0,1,0,1,0,1,0,0,1,1.338294
729,0.312500,0.0,0.610000,0.353234,0.0,0.739437,0.0,0.032258,0.0,0,1,0,0,0,1,0,0,0,0.625622
730,0.833333,1.0,0.750000,0.323383,1.0,0.507042,0.0,0.000000,1.0,0,1,0,0,0,1,0,1,0,1.295364
731,0.270833,0.0,0.630000,0.507463,0.0,0.725352,0.0,0.000000,0.0,1,0,0,0,0,0,0,0,0,0.859903

In [894]:
for index, row in test.iterrows():
    score = 0.0
    for col in test.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    test.at[index, 'score_by_correlation'] = score

In [895]:
test

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,cp_2.0,cp_3.0,cp_4.0,restecg_1.0,restecg_2.0,slope_2.0,slope_3.0,thal_6.0,thal_7.0,score_by_correlation
0,0.583333,1.0,0.633333,0.425061,0.0,0.429752,1.0,0.750000,0,0,1,0,1,0,1,0,0,1.760236
1,0.479167,1.0,0.666667,0.481572,0.0,0.809917,0.0,0.000000,1,0,0,0,0,1,0,0,0,1.275440
2,0.395833,1.0,0.166667,0.597261,0.0,0.272727,0.0,0.000000,1,0,0,0,0,1,0,0,0,1.275440
3,0.687500,1.0,0.291667,0.597261,0.0,0.504132,1.0,0.625000,0,0,1,0,0,0,1,0,0,1.680816
4,0.458333,1.0,0.250000,0.429975,0.0,0.462810,0.0,0.150000,0,1,0,0,0,0,0,0,0,0.210085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,0.520833,1.0,1.000000,0.486486,0.0,0.619835,1.0,0.500000,0,0,1,0,0,1,0,0,0,1.583901
180,0.541667,1.0,0.250000,0.525799,1.0,0.933884,0.0,0.217308,1,0,0,1,0,1,0,0,0,1.375797
181,0.791667,1.0,0.600000,0.520885,0.0,0.685950,0.0,0.200000,0,1,0,0,1,1,0,0,1,1.317359
182,0.625000,1.0,0.750000,0.707617,0.0,0.760331,0.0,0.050000,0,0,0,0,1,1,0,0,1,1.107274
183,0.604167,1.0,0.440068,0.498771,1.0,0.563226,0.0,0.217308,0,0,1,0,0,1,0,0,0,1.499782

### TRY 30 RANDOM FOREST + Variable de Correlaciones

In [896]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label' 
features_train = train.drop(columns=[target_column])
target_train = train[target_column]

features_test = test

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df = test.copy()
predicted_df[target_column] = predicted_classes

print(predicted_df)

          age  sex  trestbps      chol  fbs   thalach exang   oldpeak  cp_2.0  \
0    0.583333  1.0  0.633333  0.425061  0.0  0.429752   1.0  0.750000       0
1    0.479167  1.0  0.666667  0.481572  0.0  0.809917   0.0  0.000000       1
2    0.395833  1.0  0.166667  0.597261  0.0  0.272727   0.0  0.000000       1
3    0.687500  1.0  0.291667  0.597261  0.0  0.504132   1.0  0.625000       0
4    0.458333  1.0  0.250000  0.429975  0.0  0.462810   0.0  0.150000       0
..        ...  ...       ...       ...  ...       ...   ...       ...     ...
179  0.520833  1.0  1.000000  0.486486  0.0  0.619835   1.0  0.500000       0
180  0.541667  1.0  0.250000  0.525799  1.0  0.933884   0.0  0.217308       1
181  0.791667  1.0  0.600000  0.520885  0.0  0.685950   0.0  0.200000       0
182  0.625000  1.0  0.750000  0.707617  0.0  0.760331   0.0  0.050000       0
183  0.604167  1.0  0.440068  0.498771  1.0  0.563226   0.0  0.217308       0

     cp_3.0  cp_4.0  restecg_1.0  restecg_2.0  slope_2.0  slope_3.0  thal_6.0  \
0         0       1            0            1          0          1         0
1         0       0            0            0          1          0         0
2         0       0            0            0          1          0         0
3         0       1            0            0          0          1         0
4         1       0            0            0          0          0         0
..      ...     ...          ...          ...        ...        ...       ...
179       0       1            0            0          1          0         0
180       0       0            1            0          1          0         0
181       1       0            0            1          1          0         0
182       0       0            0            1          1          0         0
183       0       1            0            0          1          0         0

     thal_7.0  score_by_correlation label
0           0              1.760236   3.0
1           0              1.275440   0.0
2           0              1.275440   0.0
3           0              1.680816   3.0
4           0              0.210085   0.0
..        ...                   ...   ...
179         0              1.583901   3.0
180         0              1.375797   0.0
181         1              1.317359   0.0
182         1              1.107274   0.0
183         0              1.499782   1.0

[184 rows x 19 columns]

In [897]:
predicted_df['index'] = predicted_df.index
predicted_df.rename(columns={'level_0': 'index'}, inplace=True)

In [898]:
predicted_df.drop(columns=['index'], inplace=True)
predicted_df.rename(columns={'level_0': 'index'}, inplace=True)

predicted_df['ID'] = range(len(predicted_df))
#predicted_df[['ID', 'label']].to_csv('try30_data.csv', index=False)

In [899]:
#try30_df = pd.read_csv('try30_data.csv')

In [900]:
#try30_df

# Reemplazo de los valores 0 de chol por NAs

In [901]:
train_cor_test

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,slope_3.0,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
0,51.0,125.0,213.0,125.0,1.4,0.0,0,0,1,1,...,0,1,0,0,0,1,1,0,0,1
1,54.0,120.0,237.0,150.0,1.5,2.0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
2,63.0,140.0,0.0,149.0,2.0,2.0,0,0,1,0,...,0,1,0,0,0,1,1,0,1,0
3,52.0,140.0,223.0,140.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
4,55.0,140.0,217.0,111.0,5.6,3.0,1,0,0,0,...,1,0,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,120.0,230.0,150.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
728,62.0,130.0,204.0,140.0,0.5,1.0,0,1,0,0,...,0,1,0,0,0,1,1,0,1,0
729,43.0,122.0,213.0,165.0,0.2,0.0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
730,68.0,150.0,195.0,132.0,0.0,1.0,1,0,0,0,...,0,0,1,0,0,1,0,1,1,0
731,41.0,126.0,306.0,163.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0

In [902]:
test_cor_test

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,slope_3.0,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
732,57.0,156.0,173.0,119.0,3.0,0.0,0,0,1,0,...,1,1,0,0,0,1,1,0,0,1
733,52.0,160.0,196.0,165.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
734,48.0,100.0,223.0,100.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
735,62.0,115.0,0.0,128.0,2.5,0.0,1,0,0,0,...,1,1,0,0,0,1,1,0,0,1
736,51.0,110.0,175.0,123.0,0.6,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,0,1
912,55.0,110.0,214.0,180.0,0.5,0.0,0,1,0,0,...,0,1,0,0,0,1,0,1,1,0
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,1,0,...,0,0,0,1,0,1,1,0,1,0
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,1,1,...,0,0,0,1,0,1,1,0,1,0
915,58.0,130.0,203.0,140.0,0.5,0.0,1,0,0,0,...,0,1,0,0,0,1,0,1,1,0

In [903]:
test_cor_test2 = test_cor_test.copy()
train_cor_test2 = train_cor_test.copy()

In [904]:
test_cor_test['chol'] = test_cor_test['chol'].replace({0.0:np.nan})
train_cor_test['chol'] = train_cor_test['chol'].replace({0.0:np.nan})

In [905]:
col = ['chol']

numeric_imputer = SimpleImputer(strategy='median')
test_cor_test[col] = numeric_imputer.fit_transform(test_cor_test[col])
train_cor_test[col] = numeric_imputer.fit_transform(train_cor_test[col])

In [906]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = train_cor_test.drop('label', axis=1)
y = train_cor_test['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)

model.fit(X_train, y_train)

coef_importance = pd.Series(model.coef_[0], index=X.columns)
coef_importance = coef_importance.abs().sort_values(ascending=False)

print("Variables con mayor peso en el modelo:")
print(coef_importance)

Variables con mayor peso en el modelo:
cp_4.0         0.914490
cp_2.0         0.716390
ca_0.0         0.696989
sex_0.0        0.679386
sex_1.0        0.642188
restecg_2.0    0.575148
oldpeak        0.548786
restecg_1.0    0.472298
slope_1.0      0.402078
thal_3.0       0.392716
exang_0.0      0.359114
thal_7.0       0.336239
fbs_0.0        0.323263
exang_1.0      0.321916
ca_2.0         0.307982
fbs_1.0        0.286065
cp_1.0         0.260944
slope_3.0      0.185202
ca_1.0         0.183236
slope_2.0      0.179678
ca_3.0         0.168572
restecg_0.0    0.065652
cp_3.0         0.025646
thal_6.0       0.019278
thalach        0.018741
age            0.017070
chol           0.003378
trestbps       0.003229
dtype: float64

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [907]:
dict_cor = coef_importance.to_dict()

In [908]:
dict_cor

{'cp_4.0': 0.9144901415150973,
 'cp_2.0': 0.7163899887198228,
 'ca_0.0': 0.696988733713789,
 'sex_0.0': 0.6793856091065039,
 'sex_1.0': 0.6421875504633375,
 'restecg_2.0': 0.575147929308791,
 'oldpeak': 0.5487859508212178,
 'restecg_1.0': 0.4722983616778433,
 'slope_1.0': 0.40207765540651424,
 'thal_3.0': 0.3927156841844454,
 'exang_0.0': 0.35911363287216924,
 'thal_7.0': 0.3362394316012724,
 'fbs_0.0': 0.32326315427740937,
 'exang_1.0': 0.32191557423119194,
 'ca_2.0': 0.30798222628955235,
 'fbs_1.0': 0.28606509563597454,
 'cp_1.0': 0.26094425137351557,
 'slope_3.0': 0.18520200823230537,
 'ca_1.0': 0.18323609442312158,
 'slope_2.0': 0.17967758853316326,
 'ca_3.0': 0.16857235436096474,
 'restecg_0.0': 0.0656515089895064,
 'cp_3.0': 0.025646039936877085,
 'thal_6.0': 0.019278193942339872,
 'thalach': 0.018741218131288425,
 'age': 0.01707023755970598,
 'chol': 0.0033781333808481926,
 'trestbps': 0.0032287595763708984}

In [909]:
for index, row in train_cor_test.iterrows():
    score = 0.0
    for col in train_cor_test.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train_cor_test.at[index, 'score_by_correlation'] = score

In [910]:
for index, row in test_cor_test.iterrows():
    score = 0.0
    for col in test_cor_test.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    test_cor_test.at[index, 'score_by_correlation'] = score

### TRY 41 RANDOM FOREST + Variable de Correlaciones

In [911]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_cor_test.drop(columns=[target_column])
target_train = train_cor_test[target_column]

features_test = test_cor_test.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_cor_test = test_cor_test.copy()
predicted_df_cor_test[target_column] = predicted_classes

In [912]:
predicted_df_cor_test['ID'] = range(len(predicted_df_cor_test))
#predicted_df_cor_test[['ID', 'label']].to_csv('try11_mejorada.csv', index=False)

# Creacion variable que es la suma de las numericas

In [913]:
train_cor_test2

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,slope_3.0,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
0,51.0,125.0,213.0,125.0,1.4,0.0,0,0,1,1,...,0,1,0,0,0,1,1,0,0,1
1,54.0,120.0,237.0,150.0,1.5,2.0,1,0,0,0,...,0,0,0,1,0,1,1,0,0,1
2,63.0,140.0,0.0,149.0,2.0,2.0,0,0,1,0,...,0,1,0,0,0,1,1,0,1,0
3,52.0,140.0,223.0,140.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
4,55.0,140.0,217.0,111.0,5.6,3.0,1,0,0,0,...,1,0,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,120.0,230.0,150.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
728,62.0,130.0,204.0,140.0,0.5,1.0,0,1,0,0,...,0,1,0,0,0,1,1,0,1,0
729,43.0,122.0,213.0,165.0,0.2,0.0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
730,68.0,150.0,195.0,132.0,0.0,1.0,1,0,0,0,...,0,0,1,0,0,1,0,1,1,0
731,41.0,126.0,306.0,163.0,0.0,0.0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0

In [914]:
test_cor_test2

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,slope_3.0,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0
732,57.0,156.0,173.0,119.0,3.0,0.0,0,0,1,0,...,1,1,0,0,0,1,1,0,0,1
733,52.0,160.0,196.0,165.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
734,48.0,100.0,223.0,100.0,0.0,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
735,62.0,115.0,0.0,128.0,2.5,0.0,1,0,0,0,...,1,1,0,0,0,1,1,0,0,1
736,51.0,110.0,175.0,123.0,0.6,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,0.0,1,0,0,0,...,0,1,0,0,0,1,1,0,0,1
912,55.0,110.0,214.0,180.0,0.5,0.0,0,1,0,0,...,0,1,0,0,0,1,0,1,1,0
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,1,0,...,0,0,0,1,0,1,1,0,1,0
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,1,1,...,0,0,0,1,0,1,1,0,1,0
915,58.0,130.0,203.0,140.0,0.5,0.0,1,0,0,0,...,0,1,0,0,0,1,0,1,1,0

In [915]:
test_cor_test2['sum_var_num'] = test_cor_test2['age'] + test_cor_test2['chol'] + test_cor_test2['trestbps'] + test_cor_test2['thalach'] + test_cor_test2['oldpeak']
train_cor_test2['sum_var_num'] = train_cor_test2['age'] + train_cor_test2['chol'] + train_cor_test2['trestbps'] + train_cor_test2['thalach'] + train_cor_test2['oldpeak']

In [916]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = train_cor_test2.drop('label', axis=1)
y = train_cor_test2['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)

model.fit(X_train, y_train)

coef_importance = pd.Series(model.coef_[0], index=X.columns)
coef_importance = coef_importance.abs().sort_values(ascending=False)

print("Variables con mayor peso en el modelo:")
print(coef_importance)

Variables con mayor peso en el modelo:
cp_4.0         0.911272
cp_2.0         0.534155
sex_1.0        0.523910
sex_0.0        0.499652
exang_1.0      0.464743
oldpeak        0.444611
thal_3.0       0.440778
exang_0.0      0.440485
thal_7.0       0.388800
slope_1.0      0.348641
ca_0.0         0.341664
fbs_1.0        0.308011
slope_2.0      0.305687
fbs_0.0        0.283752
restecg_1.0    0.181280
cp_3.0         0.176853
cp_1.0         0.176006
restecg_2.0    0.152131
ca_2.0         0.141858
ca_1.0         0.138471
thalach        0.102138
chol           0.093053
trestbps       0.092128
sum_var_num    0.089549
ca_3.0         0.085594
thal_6.0       0.076237
age            0.067743
slope_3.0      0.067212
restecg_0.0    0.004890
dtype: float64

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [917]:
dict_cor = coef_importance.to_dict()

In [918]:
dict_cor

{'cp_4.0': 0.9112723726723697,
 'cp_2.0': 0.5341552602755636,
 'sex_1.0': 0.5239102765740024,
 'sex_0.0': 0.49965153474204804,
 'exang_1.0': 0.46474329801111186,
 'oldpeak': 0.44461073202301943,
 'thal_3.0': 0.44077766262895013,
 'exang_0.0': 0.44048455617875487,
 'thal_7.0': 0.3887997181994146,
 'slope_1.0': 0.34864066672486493,
 'ca_0.0': 0.3416640548811884,
 'fbs_1.0': 0.3080107821245901,
 'slope_2.0': 0.30568698680174555,
 'fbs_0.0': 0.2837520402915686,
 'restecg_1.0': 0.18128012734675214,
 'cp_3.0': 0.17685265257159707,
 'cp_1.0': 0.17600571799075734,
 'restecg_2.0': 0.15213124792805932,
 'ca_2.0': 0.14185775333010267,
 'ca_1.0': 0.1384710132072282,
 'thalach': 0.10213825161648725,
 'chol': 0.09305281476165679,
 'trestbps': 0.09212820414950522,
 'sum_var_num': 0.0895487428032848,
 'ca_3.0': 0.08559403017652663,
 'thal_6.0': 0.07623668626213177,
 'age': 0.067742718692092,
 'slope_3.0': 0.06721242175622597,
 'restecg_0.0': 0.004890137585810114}

In [919]:
for index, row in train_cor_test2.iterrows():
    score = 0.0
    for col in train_cor_test2.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train_cor_test2.at[index, 'score_by_correlation'] = score

In [920]:
for index, row in test_cor_test2.iterrows():
    score = 0.0
    for col in test_cor_test2.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    test_cor_test2.at[index, 'score_by_correlation'] = score

### TRY 42 RANDOM FOREST + Variable de Correlaciones

In [921]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train_cor_test2.drop(columns=[target_column])
target_train = train_cor_test2[target_column]

features_test = test_cor_test2.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_cor_test2 = test_cor_test2.copy()
predicted_df_cor_test2[target_column] = predicted_classes

In [922]:
predicted_df_cor_test2['ID'] = range(len(predicted_df_cor_test2))
#redicted_df_cor_test2[['ID', 'label']].to_csv('try11_mejorada_v2.csv', index=False)

# TRY 11 OTRO MODELO

In [923]:
train_cor

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
0,51.0,125.0,213.0,125.0,1.4,0.0,0,0,1,1,...,1,0,0,0,1,1,0,0,1,2.452053
1,54.0,120.0,237.0,150.0,1.5,2.0,1,0,0,0,...,0,0,1,0,1,1,0,0,1,2.612855
2,63.0,140.0,0.0,149.0,2.0,2.0,0,0,1,0,...,1,0,0,0,1,1,0,1,0,3.856134
3,52.0,140.0,223.0,140.0,0.0,0.0,1,0,0,0,...,1,0,0,1,0,1,0,1,0,3.104507
4,55.0,140.0,217.0,111.0,5.6,3.0,1,0,0,0,...,0,0,1,0,1,1,0,0,1,3.285419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,120.0,230.0,150.0,0.0,0.0,1,0,0,0,...,1,0,0,0,1,1,0,1,0,2.577948
728,62.0,130.0,204.0,140.0,0.5,1.0,0,1,0,0,...,1,0,0,0,1,1,0,1,0,2.868447
729,43.0,122.0,213.0,165.0,0.2,0.0,1,0,0,0,...,1,0,0,1,0,1,0,1,0,2.544251
730,68.0,150.0,195.0,132.0,0.0,1.0,1,0,0,0,...,0,1,0,0,1,0,1,1,0,2.310187
731,41.0,126.0,306.0,163.0,0.0,0.0,1,0,0,0,...,1,0,0,1,0,1,0,1,0,3.199475

In [924]:
test_cor2 = test_cor.drop(columns=['label'])

In [925]:
test_cor2

,age,trestbps,chol,thalach,oldpeak,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,cp_2.0,...,thal_3.0,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation
732,57.0,156.0,173.0,119.0,3.0,0,0,1,0,0,...,1,0,0,0,1,1,0,0,1,3.187019
733,52.0,160.0,196.0,165.0,0.0,1,0,0,0,1,...,1,0,0,0,1,1,0,1,0,3.138204
734,48.0,100.0,223.0,100.0,0.0,1,0,0,0,1,...,1,0,0,0,1,1,0,1,0,3.138204
735,62.0,115.0,0.0,128.0,2.5,1,0,0,0,0,...,1,0,0,0,1,1,0,0,1,3.284209
736,51.0,110.0,175.0,123.0,0.6,1,0,0,0,0,...,1,0,0,0,1,1,0,1,0,2.672916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,1,0,0,0,0,...,1,0,0,0,1,1,0,0,1,3.507882
912,55.0,110.0,214.0,180.0,0.5,0,1,0,0,1,...,1,0,0,0,1,0,1,1,0,3.462400
913,67.0,152.0,212.0,150.0,0.8,0,0,1,0,0,...,0,0,1,0,1,1,0,1,0,2.866139
914,59.0,170.0,288.0,159.0,0.2,0,0,1,1,0,...,0,0,1,0,1,1,0,1,0,3.108005
915,58.0,130.0,203.0,140.0,0.5,1,0,0,0,0,...,1,0,0,0,1,0,1,1,0,3.507882

In [926]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X_train = train_cor.drop('label', axis=1)
y_train = train_cor['label']

logistic_model = LogisticRegression(multi_class='multinomial', max_iter=1000)
logistic_model.fit(X_train, y_train)

X_test = test_cor2
y_pred_logistic = logistic_model.predict(X_test)

predictions_df = pd.DataFrame({'label': y_pred_logistic})

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [927]:
predictions_df['ID'] = predictions_df.index

In [928]:
predictions_df

     label   ID
0      4.0    0
1      0.0    1
2      0.0    2
3      2.0    3
4      0.0    4
..     ...  ...
179    2.0  179
180    0.0  180
181    0.0  181
182    0.0  182
183    1.0  183

[184 rows x 2 columns]

In [929]:
predictions_df.insert(0, 'ID', predictions_df.pop('ID'))

In [930]:
predictions_df

      ID  label
0      0    4.0
1      1    0.0
2      2    0.0
3      3    2.0
4      4    0.0
..   ...    ...
179  179    2.0
180  180    0.0
181  181    0.0
182  182    0.0
183  183    1.0

[184 rows x 2 columns]

In [931]:
predictions_df['label'].value_counts()

0.0    98
1.0    37
3.0    28
2.0    19
4.0     2
Name: label, dtype: int64

In [932]:
#differences = try11_df['label'].compare(predictions_df['label'])
#differences = differences[differences['self'] != differences['other']]

#differences

In [933]:
#len(differences)

In [934]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Definir las caracterÃ­sticas (X) y la variable de respuesta (y)
X_train = train_cor.drop('label', axis=1)
y_train = train_cor['label']
X_test = test_cor.drop('label', axis=1)
y_test = test_cor['label']


rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)

# Hacer predicciones en el conjunto de prueba
y_pred_rf = rf_model.predict(X_test)

In [935]:
y_pred_rf

array([2., 0., 0., 1., 0., 0., 0., 2., 1., 0., 0., 2., 0., 0., 0., 2., 3.,
       2., 3., 3., 1., 1., 1., 0., 3., 0., 0., 3., 0., 0., 1., 0., 0., 1.,
       0., 0., 0., 0., 0., 2., 0., 0., 0., 2., 0., 0., 3., 0., 0., 0., 2.,
       1., 2., 1., 1., 0., 1., 1., 0., 1., 3., 3., 1., 0., 0., 0., 0., 0.,
       1., 0., 1., 0., 0., 3., 3., 1., 0., 0., 0., 1., 0., 0., 0., 0., 2.,
       1., 0., 2., 2., 1., 0., 0., 3., 0., 0., 3., 3., 2., 0., 2., 0., 1.,
       1., 0., 3., 0., 0., 0., 0., 0., 3., 0., 1., 3., 0., 1., 1., 0., 0.,
       1., 0., 0., 3., 0., 0., 1., 0., 3., 0., 0., 0., 0., 2., 1., 3., 2.,
       0., 0., 3., 0., 2., 1., 3., 0., 0., 2., 0., 0., 2., 3., 1., 0., 0.,
       1., 1., 0., 0., 0., 2., 0., 3., 0., 0., 0., 1., 0., 3., 0., 0., 0.,
       1., 0., 1., 2., 0., 3., 0., 1., 0., 2., 0., 0., 0., 1.])

In [936]:
predictions_df2 = pd.DataFrame({'label': y_pred_rf})

In [937]:
predictions_df2

     label
0      2.0
1      0.0
2      0.0
3      1.0
4      0.0
..     ...
179    2.0
180    0.0
181    0.0
182    0.0
183    1.0

[184 rows x 1 columns]

In [938]:
predictions_df2['ID'] = predictions_df2.index
predictions_df2.insert(0, 'ID', predictions_df2.pop('ID'))

In [939]:
predictions_df2

      ID  label
0      0    2.0
1      1    0.0
2      2    0.0
3      3    1.0
4      4    0.0
..   ...    ...
179  179    2.0
180  180    0.0
181  181    0.0
182  182    0.0
183  183    1.0

[184 rows x 2 columns]

In [940]:
#predictions_df2.to_csv('try51_data.csv', index=False)

In [941]:
#differences = try11_df['label'].compare(a['label'])
#differences = differences[differences['self'] != differences['other']]

#differences

In [942]:
#len(differences)

In [943]:
#a = pd.read_csv('try51_data.csv')

In [944]:
#a

In [945]:
#âˆ«try11_df['label'].value_counts()