In [25]:
import pandas as pd

In [26]:
try11 = pd.read_csv('try11_data.csv')

In [27]:
try46 = pd.read_csv('try46best_data.csv')

In [28]:
try11

      ID  label
0      0    2.0
1      1    0.0
2      2    0.0
3      3    1.0
4      4    0.0
..   ...    ...
179  179    2.0
180  180    0.0
181  181    0.0
182  182    0.0
183  183    1.0

[184 rows x 2 columns]

In [29]:
try46

      ID  label
0      0    2.0
1      1    0.0
2      2    0.0
3      3    2.0
4      4    1.0
..   ...    ...
179  179    2.0
180  180    0.0
181  181    0.0
182  182    0.0
183  183    1.0

[184 rows x 2 columns]

In [30]:
differences = try11['label'].compare(try46['label'])
differences = differences[differences['self'] != differences['other']]

In [31]:
len(differences)

39

In [32]:
train = pd.read_parquet('train_best.parquet')

In [33]:
test = pd.read_parquet('test_best.parquet')

In [54]:
train['vars_num'] = train['age'] + train['trestbps'] + train['chol'] + train['thalach'] + train['oldpeak']

In [55]:
train

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation,vars_num
0,51.0,125.0,213.0,125.0,1.4,0.0,0,0,1,1,...,0,0,0,1,1,0,0,1,2.452053,515.4
1,54.0,120.0,237.0,150.0,1.5,2.0,1,0,0,0,...,0,1,0,1,1,0,0,1,2.612855,562.5
2,63.0,140.0,0.0,149.0,2.0,2.0,0,0,1,0,...,0,0,0,1,1,0,1,0,3.856134,354.0
3,52.0,140.0,223.0,140.0,0.0,0.0,1,0,0,0,...,0,0,1,0,1,0,1,0,3.104507,555.0
4,55.0,140.0,217.0,111.0,5.6,3.0,1,0,0,0,...,0,1,0,1,1,0,0,1,3.285419,528.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,120.0,230.0,150.0,0.0,0.0,1,0,0,0,...,0,0,0,1,1,0,1,0,2.577948,546.0
728,62.0,130.0,204.0,140.0,0.5,1.0,0,1,0,0,...,0,0,0,1,1,0,1,0,2.868447,536.5
729,43.0,122.0,213.0,165.0,0.2,0.0,1,0,0,0,...,0,0,1,0,1,0,1,0,2.544251,543.2
730,68.0,150.0,195.0,132.0,0.0,1.0,1,0,0,0,...,1,0,0,1,0,1,1,0,2.310187,545.0
731,41.0,126.0,306.0,163.0,0.0,0.0,1,0,0,0,...,0,0,1,0,1,0,1,0,3.199475,636.0

In [56]:
test['vars_num'] = test['age'] + test['trestbps'] + test['chol'] + test['thalach'] + test['oldpeak']

In [57]:
test

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation,vars_num
732,57.0,156.0,173.0,119.0,3.0,0.0,0,0,1,0,...,0,0,0,1,1,0,0,1,3.187019,508.0
733,52.0,160.0,196.0,165.0,0.0,0.0,1,0,0,0,...,0,0,0,1,1,0,1,0,3.138204,573.0
734,48.0,100.0,223.0,100.0,0.0,0.0,1,0,0,0,...,0,0,0,1,1,0,1,0,3.138204,471.0
735,62.0,115.0,0.0,128.0,2.5,0.0,1,0,0,0,...,0,0,0,1,1,0,0,1,3.284209,307.5
736,51.0,110.0,175.0,123.0,0.6,0.0,1,0,0,0,...,0,0,0,1,1,0,1,0,2.672916,459.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,0.0,1,0,0,0,...,0,0,0,1,1,0,0,1,3.507882,596.0
912,55.0,110.0,214.0,180.0,0.5,0.0,0,1,0,0,...,0,0,0,1,0,1,1,0,3.462400,559.5
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,1,0,...,0,1,0,1,1,0,1,0,2.866139,581.8
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,1,1,...,0,1,0,1,1,0,1,0,3.108005,676.2
915,58.0,130.0,203.0,140.0,0.5,0.0,1,0,0,0,...,0,0,0,1,0,1,1,0,3.507882,531.5

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = train.drop(columns=[target_column])
target_train = train[target_column]

features_test = test.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_cor = test.copy()
predicted_df_cor[target_column] = predicted_classes

In [59]:
predicted_df_cor

,age,trestbps,chol,thalach,oldpeak,label,restecg_0.0,restecg_1.0,restecg_2.0,cp_1.0,...,thal_6.0,thal_7.0,sex_0.0,sex_1.0,fbs_0.0,fbs_1.0,exang_0.0,exang_1.0,score_by_correlation,vars_num
732,57.0,156.0,173.0,119.0,3.0,2.0,0,0,1,0,...,0,0,0,1,1,0,0,1,3.187019,508.0
733,52.0,160.0,196.0,165.0,0.0,0.0,1,0,0,0,...,0,0,0,1,1,0,1,0,3.138204,573.0
734,48.0,100.0,223.0,100.0,0.0,0.0,1,0,0,0,...,0,0,0,1,1,0,1,0,3.138204,471.0
735,62.0,115.0,0.0,128.0,2.5,1.0,1,0,0,0,...,0,0,0,1,1,0,0,1,3.284209,307.5
736,51.0,110.0,175.0,123.0,0.6,0.0,1,0,0,0,...,0,0,0,1,1,0,1,0,2.672916,459.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,54.0,200.0,198.0,142.0,2.0,2.0,1,0,0,0,...,0,0,0,1,1,0,0,1,3.507882,596.0
912,55.0,110.0,214.0,180.0,0.5,0.0,0,1,0,0,...,0,0,0,1,0,1,1,0,3.462400,559.5
913,67.0,152.0,212.0,150.0,0.8,0.0,0,0,1,0,...,0,1,0,1,1,0,1,0,2.866139,581.8
914,59.0,170.0,288.0,159.0,0.2,0.0,0,0,1,1,...,0,1,0,1,1,0,1,0,3.108005,676.2
915,58.0,130.0,203.0,140.0,0.5,1.0,1,0,0,0,...,0,0,0,1,0,1,1,0,3.507882,531.5

In [60]:
predicted_df_cor['ID'] = range(len(predicted_df_cor))
predicted_df_cor[['ID', 'label']].to_csv('tryTEST_data.csv', index=False)

In [61]:
tryX = pd.read_csv('tryTEST_data.csv')

In [62]:
tryX.value_counts('label')

label
0.0    101
1.0     37
3.0     26
2.0     20
dtype: int64

In [63]:
differences = tryX['label'].compare(try46['label'])
differences = differences[differences['self'] != differences['other']]
len(differences)

40

In [64]:
differences = tryX['label'].compare(try11['label'])
differences = differences[differences['self'] != differences['other']]
len(differences)

20

In [65]:
paco_train = pd.read_parquet('paco_train.parquet')

In [66]:
paco_test = pd.read_parquet('paco_test.parquet')

In [67]:
paco_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,thalach_cat,chol_count,thalach_cat_count,trestbps_count,cp_count
0,-0.269199,1.0,1.0,2,2,0.0,2.0,125.000000,1.0,0.498357,0.0,1.0,1.0,0.0,1,230,913,211,44
1,0.050213,1.0,3.0,2,2,0.0,0.0,150.000000,1.0,0.593441,1.0,0.0,3.0,2.0,1,230,913,211,204
2,1.008451,1.0,4.0,3,0,0.0,2.0,149.000000,0.0,1.068861,0.0,0.0,0.0,2.0,1,201,913,485,495
3,-0.162728,0.0,2.0,3,0,0.0,0.0,140.000000,0.0,-0.832821,1.0,0.0,0.0,0.0,1,201,913,485,173
4,0.156684,1.0,4.0,3,2,0.0,0.0,111.000000,1.0,4.491890,2.0,0.0,3.0,3.0,1,230,913,485,495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,-0.801553,1.0,3.0,2,2,0.0,0.0,150.000000,0.0,-0.832821,1.0,0.0,0.0,0.0,1,230,913,211,204
728,0.901980,1.0,3.0,0,2,0.0,1.0,137.533101,0.0,0.000000,1.0,0.0,0.0,1.0,1,230,913,59,204
729,-1.120966,0.0,3.0,2,2,0.0,0.0,165.000000,0.0,-0.642653,1.0,0.0,1.0,0.0,1,230,913,211,204
730,1.540805,1.0,3.0,3,1,1.0,0.0,132.000000,0.0,-0.832821,1.0,0.0,2.0,1.0,1,128,913,485,204
731,-1.333907,0.0,2.0,2,3,0.0,0.0,163.000000,0.0,-0.832821,0.0,0.0,1.0,0.0,1,357,913,211,173

In [68]:
paco_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,thalach_cat,chol_count,thalach_cat_count,trestbps_count,cp_count
732,0.369626,1.0,4.0,3,1,0.0,2.0,119.000000,1.0,2.019703,2.0,0.0,0.0,0.0,1,128,913,485,495
733,-0.162728,1.0,2.0,3,1,0.0,0.0,165.000000,0.0,-0.832821,1.0,0.0,0.0,0.0,1,128,913,485,173
734,-0.588612,1.0,2.0,1,0,0.0,0.0,100.000000,0.0,-0.832821,1.0,0.0,0.0,0.0,1,201,913,161,173
735,0.901980,1.0,4.0,1,0,0.0,0.0,128.000000,1.0,1.544282,2.0,0.0,0.0,0.0,1,201,913,161,495
736,-0.269199,1.0,3.0,1,1,0.0,0.0,123.000000,0.0,-0.262316,0.0,0.0,1.0,0.0,1,128,913,161,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.050213,1.0,4.0,3,1,0.0,0.0,142.000000,1.0,1.068861,1.0,0.0,0.0,0.0,1,128,913,485,495
912,0.156684,1.0,2.0,1,2,1.0,1.0,180.000000,0.0,0.000000,1.0,0.0,0.0,0.0,1,230,913,161,173
913,1.434334,1.0,3.0,3,2,0.0,2.0,150.000000,0.0,-0.072148,1.0,0.0,3.0,0.0,1,230,913,485,204
914,0.582567,1.0,1.0,3,3,0.0,2.0,159.000000,0.0,-0.642653,1.0,0.0,3.0,0.0,1,357,913,485,44
915,0.476097,1.0,4.0,0,2,1.0,0.0,137.533101,0.0,0.000000,1.0,0.0,0.0,0.0,1,230,913,59,495

In [69]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

target_column = 'label'
features_train = paco_train.drop(columns=[target_column])
target_train = paco_train[target_column]

features_test = paco_test.drop(columns=[target_column])

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_paco = paco_test.copy()
predicted_paco[target_column] = predicted_classes

In [71]:
predicted_paco['ID'] = range(len(predicted_paco))
predicted_paco[['ID', 'label']].to_csv('tryPaco_data.csv', index=False)

In [73]:
paco = pd.read_csv('tryPaco_data.csv')

In [74]:
paco.value_counts('label')

label
0.0    99
1.0    34
2.0    28
3.0    23
dtype: int64

In [75]:
differences = paco['label'].compare(try46['label'])
differences = differences[differences['self'] != differences['other']]
len(differences)

30

In [78]:
differences = paco['label'].compare(try11['label'])
differences = differences[differences['self'] != differences['other']]
len(differences)

39

In [79]:
differences = paco['label'].compare(tryX['label'])
differences = differences[differences['self'] != differences['other']]
len(differences)

39