In [2]:
import pandas as pd

In [25]:
train = pd.read_parquet('train_best.parquet')

In [26]:
test = pd.read_parquet('test_best.parquet')

In [27]:
from sklearn.ensemble import RandomForestClassifier

target_column = 'label'
features_train = train.drop(columns=[target_column])
target_train = train[target_column]

features_test = test.drop(columns=[target_column])
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_1 = test.copy()
predicted_df_1[target_column] = predicted_classes

print(predicted_df_1)

          age  sex   cp  trestbps  chol  fbs  restecg   thalach  exang  \
732  0.591837  1.0  4.0         3     1  0.0      2.0  0.415493    1.0
733  0.489796  1.0  2.0         3     1  0.0      0.0  0.739437    0.0
734  0.408163  1.0  2.0         1     0  0.0      0.0  0.281690    0.0
735  0.693878  1.0  4.0         1     0  0.0      0.0  0.478873    1.0
736  0.469388  1.0  3.0         1     1  0.0      0.0  0.443662    0.0
..        ...  ...  ...       ...   ...  ...      ...       ...    ...
911  0.530612  1.0  4.0         3     1  0.0      0.0  0.577465    1.0
912  0.551020  1.0  2.0         1     2  1.0      1.0  0.845070    0.0
913  0.795918  1.0  3.0         3     2  0.0      2.0  0.633803    0.0
914  0.632653  1.0  1.0         3     3  0.0      2.0  0.697183    0.0
915  0.612245  1.0  4.0         0     2  1.0      0.0  0.546008    0.0

      oldpeak  slope   ca  thal  label  chol_count  trestbps_count  cp_count
732  0.636364    2.0  0.0   0.0    2.0         128             485       495
733  0.295455    1.0  0.0   0.0    0.0         128             485       173
734  0.295455    1.0  0.0   0.0    0.0         201             161       173
735  0.579545    2.0  0.0   0.0    1.0         201             161       495
736  0.363636    0.0  0.0   1.0    0.0         128             161       204
..        ...    ...  ...   ...    ...         ...             ...       ...
911  0.522727    1.0  0.0   0.0    3.0         128             485       495
912  0.394986    1.0  0.0   0.0    0.0         230             161       173
913  0.386364    1.0  0.0   3.0    0.0         230             485       204
914  0.318182    1.0  0.0   3.0    0.0         357             485        44
915  0.394986    1.0  0.0   0.0    1.0         230              59       495

[184 rows x 17 columns]

In [28]:
# Restablecer el índice de predicted_df para que comience en 0 y luego sumar 1 para comenzar desde 1
predicted_df_1.reset_index(drop=True, inplace=True)
predicted_df_1['ID'] = predicted_df_1.index 

# Seleccionar las columnas 'ID' y 'label' para el nuevo DataFrame df_randomf
df_randomf3 = predicted_df_1[['ID', 'label']]

# Guardar df_randomf en un archivo CSV sin el índice de pandas
df_randomf3.to_csv('try81_data.csv', index=False)

In [15]:
train['colesterol_presion_proporcion'] = train['chol'] / train['trestbps']

In [16]:
test['colesterol_presion_proporcion'] = test['chol'] / test['trestbps']

In [4]:
train_cor = train.copy()
test_cor = test.copy()

In [17]:
train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count,colesterol_presion_proporcion
0,0.469388,1.0,1.0,2,2,0.0,2.0,0.457746,1.0,0.454545,0.0,1.0,1.0,0.0,230,211,44,1.000000
1,0.530612,1.0,3.0,2,2,0.0,0.0,0.633803,1.0,0.465909,1.0,0.0,3.0,2.0,230,211,204,1.000000
2,0.714286,1.0,4.0,3,0,0.0,2.0,0.626761,0.0,0.522727,0.0,0.0,0.0,2.0,201,485,495,0.000000
3,0.489796,0.0,2.0,3,0,0.0,0.0,0.563380,0.0,0.295455,1.0,0.0,0.0,0.0,201,485,173,0.000000
4,0.551020,1.0,4.0,3,2,0.0,0.0,0.359155,1.0,0.931818,2.0,0.0,3.0,3.0,230,485,495,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.367347,1.0,3.0,2,2,0.0,0.0,0.633803,0.0,0.295455,1.0,0.0,0.0,0.0,230,211,204,1.000000
728,0.693878,1.0,3.0,0,2,0.0,1.0,0.546008,0.0,0.394986,1.0,0.0,0.0,1.0,230,59,204,inf
729,0.306122,0.0,3.0,2,2,0.0,0.0,0.739437,0.0,0.318182,1.0,0.0,1.0,0.0,230,211,204,1.000000
730,0.816327,1.0,3.0,3,1,1.0,0.0,0.507042,0.0,0.295455,1.0,0.0,2.0,1.0,128,485,204,0.333333
731,0.265306,0.0,2.0,2,3,0.0,0.0,0.725352,0.0,0.295455,0.0,0.0,1.0,0.0,357,211,173,1.500000

In [18]:
test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count,colesterol_presion_proporcion
732,0.591837,1.0,4.0,3,1,0.0,2.0,0.415493,1.0,0.636364,2.0,0.0,0.0,0.0,128,485,495,0.333333
733,0.489796,1.0,2.0,3,1,0.0,0.0,0.739437,0.0,0.295455,1.0,0.0,0.0,0.0,128,485,173,0.333333
734,0.408163,1.0,2.0,1,0,0.0,0.0,0.281690,0.0,0.295455,1.0,0.0,0.0,0.0,201,161,173,0.000000
735,0.693878,1.0,4.0,1,0,0.0,0.0,0.478873,1.0,0.579545,2.0,0.0,0.0,0.0,201,161,495,0.000000
736,0.469388,1.0,3.0,1,1,0.0,0.0,0.443662,0.0,0.363636,0.0,0.0,1.0,0.0,128,161,204,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.530612,1.0,4.0,3,1,0.0,0.0,0.577465,1.0,0.522727,1.0,0.0,0.0,0.0,128,485,495,0.333333
912,0.551020,1.0,2.0,1,2,1.0,1.0,0.845070,0.0,0.394986,1.0,0.0,0.0,0.0,230,161,173,2.000000
913,0.795918,1.0,3.0,3,2,0.0,2.0,0.633803,0.0,0.386364,1.0,0.0,3.0,0.0,230,485,204,0.666667
914,0.632653,1.0,1.0,3,3,0.0,2.0,0.697183,0.0,0.318182,1.0,0.0,3.0,0.0,357,485,44,1.000000
915,0.612245,1.0,4.0,0,2,1.0,0.0,0.546008,0.0,0.394986,1.0,0.0,0.0,0.0,230,59,495,inf

In [19]:
from sklearn.model_selection import train_test_split

X4 = train.drop('label', axis=1)  # Todas las columnas excepto la columna objetivo
Y4 = train['label']

# Dividimos el conjunto de entrenamiento en nuevo entrenamiento y validación (85% entrenamiento, 15% validación del conjunto de entrenamiento original)
X4_train, X4_val, Y4_train, Y4_val = train_test_split(X4, Y4, test_size=0.125, random_state=42)

In [20]:
from catboost import CatBoostClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

# Define los hiperparámetros que deseas ajustar
param_grid = {
    'depth': [4, 6, 8, 10],
    'learning_rate': [0.01, 0.05, 0.1],
    'iterations': [30, 50, 100],
    'l2_leaf_reg': [1, 3, 5, 7, 9]
}

# Inicializa el modelo CatBoost
cb_model = CatBoostClassifier(verbose=False, loss_function='MultiClass')

# Inicializa GridSearchCV
grid_search = GridSearchCV(estimator=cb_model, param_grid=param_grid, cv=3, scoring='accuracy', n_jobs=-1)

# Ajusta GridSearchCV en los datos de entrenamiento
grid_search.fit(X4_train, Y4_train)

# Obtén los mejores hiperparámetros
best_params = grid_search.best_params_
print(f"Mejores hiperparámetros: {best_params}")

# Entrena un nuevo modelo con los mejores hiperparámetros
best_cb_model = CatBoostClassifier(**best_params)
best_cb_model.fit(X4_train, Y4_train)

# Evalúa el modelo
predictions = best_cb_model.predict(X4_val)
accuracy = accuracy_score(Y4_val, predictions)
print(f"La precisión del modelo CatBoost en el conjunto de validación con los mejores hiperparámetros es: {accuracy}")

Mejores hiperparámetros: {'depth': 10, 'iterations': 30, 'l2_leaf_reg': 1, 'learning_rate': 0.01}
0:	learn: 1.6000184	total: 5.03ms	remaining: 146ms
1:	learn: 1.5901763	total: 9.6ms	remaining: 134ms
2:	learn: 1.5817354	total: 9.99ms	remaining: 89.9ms
3:	learn: 1.5715512	total: 15.1ms	remaining: 98.2ms
4:	learn: 1.5622668	total: 19.8ms	remaining: 98.8ms
5:	learn: 1.5533708	total: 24.1ms	remaining: 96.6ms
6:	learn: 1.5460039	total: 28.8ms	remaining: 94.6ms
7:	learn: 1.5369026	total: 33.4ms	remaining: 91.7ms
8:	learn: 1.5286740	total: 37.8ms	remaining: 88.1ms
9:	learn: 1.5207020	total: 42.3ms	remaining: 84.5ms
10:	learn: 1.5126676	total: 48.1ms	remaining: 83.1ms
11:	learn: 1.5040403	total: 53.2ms	remaining: 79.8ms
12:	learn: 1.4968882	total: 58.4ms	remaining: 76.4ms
13:	learn: 1.4889523	total: 62.8ms	remaining: 71.8ms
14:	learn: 1.4804796	total: 67.4ms	remaining: 67.4ms
15:	learn: 1.4731231	total: 71.8ms	remaining: 62.9ms
16:	learn: 1.4661610	total: 76.6ms	remaining: 58.6ms
17:	learn: 1.4596732	total: 81.9ms	remaining: 54.6ms
18:	learn: 1.4526573	total: 86.3ms	remaining: 49.9ms
19:	learn: 1.4451697	total: 91.5ms	remaining: 45.7ms
20:	learn: 1.4382232	total: 95.9ms	remaining: 41.1ms
21:	learn: 1.4307948	total: 101ms	remaining: 36.6ms
22:	learn: 1.4233897	total: 105ms	remaining: 32ms
23:	learn: 1.4159611	total: 110ms	remaining: 27.5ms
24:	learn: 1.4088418	total: 115ms	remaining: 23ms
25:	learn: 1.4022511	total: 120ms	remaining: 18.4ms
26:	learn: 1.3961521	total: 124ms	remaining: 13.8ms
27:	learn: 1.3895100	total: 129ms	remaining: 9.21ms
28:	learn: 1.3837778	total: 133ms	remaining: 4.6ms
29:	learn: 1.3768903	total: 138ms	remaining: 0us
La precisión del modelo CatBoost en el conjunto de validación con los mejores hiperparámetros es: 0.5217391304347826

In [21]:
from catboost import CatBoostClassifier

best_hyperparams = {'depth': 10, 'iterations': 30, 'l2_leaf_reg': 1, 'learning_rate': 0.01}
best_cb_model = CatBoostClassifier(**best_hyperparams)
best_cb_model.fit(X4_train, Y4_train, verbose=False)

feature_importances = best_cb_model.get_feature_importance()
feature_names = X4_train.columns

importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importances})

importance_df = importance_df.sort_values(by='Importance', ascending=False)


test_end4_sin_label = test.drop('label', axis=1)
predicciones4 = best_cb_model.predict(test_end4_sin_label)
probabilidades4 = best_cb_model.predict_proba(test_end4_sin_label)

predicted_df4 = test.copy()
predicted_df4['label'] = predicciones4

print(predicted_df4.head())

          age  sex   cp  trestbps  chol  fbs  restecg   thalach  exang  \
732  0.591837  1.0  4.0         3     1  0.0      2.0  0.415493    1.0
733  0.489796  1.0  2.0         3     1  0.0      0.0  0.739437    0.0
734  0.408163  1.0  2.0         1     0  0.0      0.0  0.281690    0.0
735  0.693878  1.0  4.0         1     0  0.0      0.0  0.478873    1.0
736  0.469388  1.0  3.0         1     1  0.0      0.0  0.443662    0.0

      oldpeak  slope   ca  thal  label  chol_count  trestbps_count  cp_count  \
732  0.636364    2.0  0.0   0.0    2.0         128             485       495
733  0.295455    1.0  0.0   0.0    0.0         128             485       173
734  0.295455    1.0  0.0   0.0    0.0         201             161       173
735  0.579545    2.0  0.0   0.0    1.0         201             161       495
736  0.363636    0.0  0.0   1.0    0.0         128             161       204

     colesterol_presion_proporcion
732                       0.333333
733                       0.333333
734                       0.000000
735                       0.000000
736                       1.000000

In [22]:
# Restablecer el índice de predicted_df para que comience en 0 y luego sumar 1 para comenzar desde 1
predicted_df4.reset_index(drop=True, inplace=True)
predicted_df4['ID'] = predicted_df4.index 

# Seleccionar las columnas 'ID' y 'label' para el nuevo DataFrame df_randomf
df_randomf3 = predicted_df4[['ID', 'label']]

# Guardar df_randomf en un archivo CSV sin el índice de pandas
df_randomf3.to_csv('try80_data.csv', index=False)

In [23]:
a = pd.read_csv('try80_data.csv')

In [24]:
a.value_counts('label')

label
0.0    100
1.0     37
2.0     28
3.0     19
dtype: int64

In [7]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

# Suponiendo que df es tu DataFrame
X = train.drop('label', axis=1)  # Features
y = train['label']  # Variable dependiente

# Crear y entrenar el modelo de regresión logística multinomial
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)
model.fit(X, y)

# Obtener los coeficientes de cada variable
coeficients = model.coef_
intercept = model.intercept_

# Imprimir los coeficientes de las variables
coeficients_df = pd.DataFrame(coeficients, columns=X.columns)
intercept_df = pd.DataFrame(intercept, columns=['intercept'])
result_df = pd.concat([intercept_df, coeficients_df], axis=1)
print("Coeficients:")
print(result_df)

Coeficients:
   intercept       age       sex        cp  trestbps      chol       fbs  \
0   2.141051 -0.256329 -1.185958  0.697236  0.901957  0.655044 -0.682075
1  -0.007799  0.066927  0.144846  0.407732  0.258822 -0.124447 -0.207241
2  -0.775707  0.041975  0.495527 -0.466750 -0.325042 -0.361846  0.424393
3  -0.692529  0.441104  0.574585 -0.137675 -0.512859 -0.286646  0.644347
4  -0.665016 -0.293678 -0.028999 -0.500543 -0.322877  0.117895 -0.179424

    restecg   thalach     exang   oldpeak     slope        ca      thal  \
0  0.049984  2.045489 -1.169441 -0.630291 -0.622492 -0.743214 -0.297118
1 -0.081434  0.410636 -0.101181 -0.534614 -0.238439 -0.146576  0.168129
2 -0.101535 -0.511431  0.184024  0.124311  0.246215  0.333731  0.119334
3 -0.008936 -1.290023  0.657356  0.516211  0.025614  0.389796  0.108637
4  0.141922 -0.654671  0.429242  0.524383  0.589101  0.166263 -0.098983

   chol_count  trestbps_count  cp_count
0   -0.005303       -0.003877 -0.006628
1    0.001316       -0.002855 -0.001345
2    0.002918        0.002618  0.003707
3    0.002555        0.002630  0.000865
4   -0.001486        0.001484  0.003401

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [8]:
result_df

,intercept,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,chol_count,trestbps_count,cp_count
0,2.141051,-0.256329,-1.185958,0.697236,0.901957,0.655044,-0.682075,0.049984,2.045489,-1.169441,-0.630291,-0.622492,-0.743214,-0.297118,-0.005303,-0.003877,-0.006628
1,-0.007799,0.066927,0.144846,0.407732,0.258822,-0.124447,-0.207241,-0.081434,0.410636,-0.101181,-0.534614,-0.238439,-0.146576,0.168129,0.001316,-0.002855,-0.001345
2,-0.775707,0.041975,0.495527,-0.466750,-0.325042,-0.361846,0.424393,-0.101535,-0.511431,0.184024,0.124311,0.246215,0.333731,0.119334,0.002918,0.002618,0.003707
3,-0.692529,0.441104,0.574585,-0.137675,-0.512859,-0.286646,0.644347,-0.008936,-1.290023,0.657356,0.516211,0.025614,0.389796,0.108637,0.002555,0.002630,0.000865
4,-0.665016,-0.293678,-0.028999,-0.500543,-0.322877,0.117895,-0.179424,0.141922,-0.654671,0.429242,0.524383,0.589101,0.166263,-0.098983,-0.001486,0.001484,0.003401

In [9]:
# Calcular la matriz de correlación
correlation_matrix = train.corr()

# Imprimir la matriz de correlación
print("Matriz de correlación:")
print(correlation_matrix)

Matriz de correlación:
                     age       sex        cp  trestbps      chol       fbs  \
age             1.000000  0.033218  0.159386  0.065637 -0.070192  0.217130
sex             0.033218  1.000000  0.183439 -0.070421 -0.149243  0.051794
cp              0.159386  0.183439  1.000000  0.010514 -0.092671  0.020563
trestbps        0.065637 -0.070421  0.010514  1.000000  0.068340  0.015883
chol           -0.070192 -0.149243 -0.092671  0.068340  1.000000  0.102774
fbs             0.217130  0.051794  0.020563  0.015883  0.102774  1.000000
restecg         0.179969 -0.030164  0.017989  0.029400  0.150528  0.139630
thalach        -0.335517 -0.163599 -0.363749 -0.049028  0.215342 -0.007048
exang           0.136198  0.139108  0.404778  0.185115  0.001251 -0.013409
oldpeak         0.238962  0.126931  0.227261  0.103180  0.067378  0.045502
slope           0.057751  0.093432  0.106941 -0.016375 -0.013458  0.055745
ca              0.222983 -0.047671  0.055605  0.076721  0.180698  0.101233
thal            0.148267  0.056308  0.144028  0.132854 -0.021495  0.042749
label           0.264917  0.270454  0.397885  0.027671 -0.111884  0.118242
chol_count      0.035211 -0.096257 -0.003971  0.043277  0.832461  0.095806
trestbps_count  0.112484 -0.060029  0.027779  0.945186  0.060317  0.045830
cp_count        0.143499  0.181501  0.939517  0.026128 -0.069727  0.013040

                 restecg   thalach     exang   oldpeak     slope        ca  \
age             0.179969 -0.335517  0.136198  0.238962  0.057751  0.222983
sex            -0.030164 -0.163599  0.139108  0.126931  0.093432 -0.047671
cp              0.017989 -0.363749  0.404778  0.227261  0.106941  0.055605
trestbps        0.029400 -0.049028  0.185115  0.103180 -0.016375  0.076721
chol            0.150528  0.215342  0.001251  0.067378 -0.013458  0.180698
fbs             0.139630 -0.007048 -0.013409  0.045502  0.055745  0.101233
restecg         1.000000  0.071184 -0.007979  0.107498 -0.049637  0.246725
thalach         0.071184  1.000000 -0.332055 -0.152220 -0.298008  0.024575
exang          -0.007979 -0.332055  1.000000  0.384450  0.195436  0.032584
oldpeak         0.107498 -0.152220  0.384450  1.000000  0.277396  0.199203
slope          -0.049637 -0.298008  0.195436  0.277396  1.000000 -0.104009
ca              0.246725  0.024575  0.032584  0.199203 -0.104009  1.000000
thal            0.185636  0.001691  0.173617  0.139714 -0.094210  0.353483
label           0.049529 -0.393146  0.392684  0.463051  0.238338  0.178137
chol_count      0.135987  0.075087  0.063069  0.071989  0.000584  0.131857
trestbps_count  0.044786 -0.058109  0.168577  0.113434 -0.008318  0.070221
cp_count        0.006095 -0.380609  0.425967  0.237748  0.123716  0.059719

                    thal     label  chol_count  trestbps_count  cp_count
age             0.148267  0.264917    0.035211        0.112484  0.143499
sex             0.056308  0.270454   -0.096257       -0.060029  0.181501
cp              0.144028  0.397885   -0.003971        0.027779  0.939517
trestbps        0.132854  0.027671    0.043277        0.945186  0.026128
chol           -0.021495 -0.111884    0.832461        0.060317 -0.069727
fbs             0.042749  0.118242    0.095806        0.045830  0.013040
restecg         0.185636  0.049529    0.135987        0.044786  0.006095
thalach         0.001691 -0.393146    0.075087       -0.058109 -0.380609
exang           0.173617  0.392684    0.063069        0.168577  0.425967
oldpeak         0.139714  0.463051    0.071989        0.113434  0.237748
slope          -0.094210  0.238338    0.000584       -0.008318  0.123716
ca              0.353483  0.178137    0.131857        0.070221  0.059719
thal            1.000000  0.166704   -0.015268        0.100206  0.137585
label           0.166704  1.000000    0.017718        0.053018  0.409541
chol_count     -0.015268  0.017718    1.000000        0.037475  0.020069
trestbps_count  0.100206  0.053018    0.037475        1.000000  0.034994
cp_count        0.137585  0.409541    0.020069        0.034994  1.000000

In [10]:
correlation_matrix['label']

age               0.264917
sex               0.270454
cp                0.397885
trestbps          0.027671
chol             -0.111884
fbs               0.118242
restecg           0.049529
thalach          -0.393146
exang             0.392684
oldpeak           0.463051
slope             0.238338
ca                0.178137
thal              0.166704
label             1.000000
chol_count        0.017718
trestbps_count    0.053018
cp_count          0.409541
Name: label, dtype: float64

In [11]:
dict_cor = correlation_matrix['label'].to_dict()

In [12]:
dict_cor

{'age': 0.2649170219633983,
 'sex': 0.2704539116038596,
 'cp': 0.3978852509745225,
 'trestbps': 0.027670541931687692,
 'chol': -0.11188375386086119,
 'fbs': 0.11824152578805229,
 'restecg': 0.04952921496207338,
 'thalach': -0.3931462263510609,
 'exang': 0.392684372759667,
 'oldpeak': 0.4630506046567497,
 'slope': 0.23833783784196677,
 'ca': 0.17813742037599922,
 'thal': 0.16670432150272335,
 'label': 1.0,
 'chol_count': 0.01771787892365764,
 'trestbps_count': 0.053018151247949744,
 'cp_count': 0.4095410574274274}

In [13]:
for index, row in train_cor.iterrows():
    score = 0.0
    for col in train_cor.columns[:-1]:
        if col in dict_cor: 
            if row[col] == 1:
                score += dict_cor[col] 
    train_cor.at[index, 'score_by_correlation'] = score

In [14]:
train_cor

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count,score_by_correlation
0,0.469388,1.0,1.0,2,2,0.0,2.0,0.457746,1.0,0.454545,0.0,1.0,1.0,0.0,230,211,44,1.405865
1,0.530612,1.0,3.0,2,2,0.0,0.0,0.633803,1.0,0.465909,1.0,0.0,3.0,2.0,230,211,204,0.901476
2,0.714286,1.0,4.0,3,0,0.0,2.0,0.626761,0.0,0.522727,0.0,0.0,0.0,2.0,201,485,495,0.270454
3,0.489796,0.0,2.0,3,0,0.0,0.0,0.563380,0.0,0.295455,1.0,0.0,0.0,0.0,201,485,173,0.238338
4,0.551020,1.0,4.0,3,2,0.0,0.0,0.359155,1.0,0.931818,2.0,0.0,3.0,3.0,230,485,495,0.663138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.367347,1.0,3.0,2,2,0.0,0.0,0.633803,0.0,0.295455,1.0,0.0,0.0,0.0,230,211,204,0.508792
728,0.693878,1.0,3.0,0,2,0.0,1.0,0.546008,0.0,0.394986,1.0,0.0,0.0,1.0,230,59,204,1.558321
729,0.306122,0.0,3.0,2,2,0.0,0.0,0.739437,0.0,0.318182,1.0,0.0,1.0,0.0,230,211,204,0.405042
730,0.816327,1.0,3.0,3,1,1.0,0.0,0.507042,0.0,0.295455,1.0,0.0,2.0,1.0,128,485,204,1.515150
731,0.265306,0.0,2.0,2,3,0.0,0.0,0.725352,0.0,0.295455,0.0,0.0,1.0,0.0,357,211,173,0.166704

In [15]:
for index, row in test_cor.iterrows():
    score = 0.0  
    for col in test_cor.columns[:-1]:  
        if col in dict_cor: 
            if row[col] == 1: 
                score += dict_cor[col]  
    test_cor.at[index, 'score_by_correlation'] = score

In [16]:
test_cor

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count,score_by_correlation
732,0.591837,1.0,4.0,3,1,0.0,2.0,0.415493,1.0,0.636364,2.0,0.0,0.0,0.0,128,485,495,0.551255
733,0.489796,1.0,2.0,3,1,0.0,0.0,0.739437,0.0,0.295455,1.0,0.0,0.0,0.0,128,485,173,0.396908
734,0.408163,1.0,2.0,1,0,0.0,0.0,0.281690,0.0,0.295455,1.0,0.0,0.0,0.0,201,161,173,0.536462
735,0.693878,1.0,4.0,1,0,0.0,0.0,0.478873,1.0,0.579545,2.0,0.0,0.0,0.0,201,161,495,0.690809
736,0.469388,1.0,3.0,1,1,0.0,0.0,0.443662,0.0,0.363636,0.0,0.0,1.0,0.0,128,161,204,0.352945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.530612,1.0,4.0,3,1,0.0,0.0,0.577465,1.0,0.522727,1.0,0.0,0.0,0.0,128,485,495,0.789592
912,0.551020,1.0,2.0,1,2,1.0,1.0,0.845070,0.0,0.394986,1.0,0.0,0.0,0.0,230,161,173,0.704233
913,0.795918,1.0,3.0,3,2,0.0,2.0,0.633803,0.0,0.386364,1.0,0.0,3.0,0.0,230,485,204,0.508792
914,0.632653,1.0,1.0,3,3,0.0,2.0,0.697183,0.0,0.318182,1.0,0.0,3.0,0.0,357,485,44,0.906677
915,0.612245,1.0,4.0,0,2,1.0,0.0,0.546008,0.0,0.394986,1.0,0.0,0.0,0.0,230,59,495,0.627033

In [17]:
from sklearn.model_selection import train_test_split

X4 = train_cor.drop('label', axis=1)  # Todas las columnas excepto la columna objetivo
Y4 = train_cor['label']

# Dividimos el conjunto de entrenamiento en nuevo entrenamiento y validación (85% entrenamiento, 15% validación del conjunto de entrenamiento original)
X4_train, X4_val, Y4_train, Y4_val = train_test_split(X4, Y4, test_size=0.125, random_state=42)

In [18]:
from catboost import CatBoostClassifier

best_hyperparams = {'depth': 8, 'iterations': 30, 'l2_leaf_reg': 1, 'learning_rate': 0.01}
best_cb_model = CatBoostClassifier(**best_hyperparams)
best_cb_model.fit(X4_train, Y4_train, verbose=False)

feature_importances = best_cb_model.get_feature_importance()
feature_names = X4_train.columns

importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importances})

importance_df = importance_df.sort_values(by='Importance', ascending=False)


test_end4_sin_label = test_cor.drop('label', axis=1)
predicciones4 = best_cb_model.predict(test_end4_sin_label)
probabilidades4 = best_cb_model.predict_proba(test_end4_sin_label)

predicted_df4 = test_cor.copy()
predicted_df4['label'] = predicciones4

print(predicted_df4.head())

          age  sex   cp  trestbps  chol  fbs  restecg   thalach  exang  \
732  0.591837  1.0  4.0         3     1  0.0      2.0  0.415493    1.0
733  0.489796  1.0  2.0         3     1  0.0      0.0  0.739437    0.0
734  0.408163  1.0  2.0         1     0  0.0      0.0  0.281690    0.0
735  0.693878  1.0  4.0         1     0  0.0      0.0  0.478873    1.0
736  0.469388  1.0  3.0         1     1  0.0      0.0  0.443662    0.0

      oldpeak  slope   ca  thal  label  chol_count  trestbps_count  cp_count  \
732  0.636364    2.0  0.0   0.0    2.0         128             485       495
733  0.295455    1.0  0.0   0.0    0.0         128             485       173
734  0.295455    1.0  0.0   0.0    0.0         201             161       173
735  0.579545    2.0  0.0   0.0    2.0         201             161       495
736  0.363636    0.0  0.0   1.0    0.0         128             161       204

     score_by_correlation
732              0.551255
733              0.396908
734              0.536462
735              0.690809
736              0.352945

In [19]:
# Restablecer el índice de predicted_df para que comience en 0 y luego sumar 1 para comenzar desde 1
predicted_df4.reset_index(drop=True, inplace=True)
predicted_df4['ID'] = predicted_df4.index 

# Seleccionar las columnas 'ID' y 'label' para el nuevo DataFrame df_randomf
df_randomf3 = predicted_df4[['ID', 'label']]

# Guardar df_randomf en un archivo CSV sin el índice de pandas
df_randomf3.to_csv('try69_data.csv', index=False)

In [20]:
paco = pd.read_csv('try56best_data.csv')

In [21]:
paco.value_counts('label')

label
0.0    106
1.0     45
2.0     24
3.0      9
dtype: int64

In [22]:
predicted_df4.value_counts('label')

label
0.0    120
2.0     41
3.0     19
1.0      4
dtype: int64

In [23]:
import pandas as pd

In [24]:
try70 = pd.DataFrame({'ID': range(0,184), 'label':4.0})

In [25]:
try70.to_csv('try70.csv')

In [26]:
try70

      ID  label
0      0    4.0
1      1    4.0
2      2    4.0
3      3    4.0
4      4    4.0
..   ...    ...
179  179    4.0
180  180    4.0
181  181    4.0
182  182    4.0
183  183    4.0

[184 rows x 2 columns]

In [27]:
# Restablecer el índice de predicted_df para que comience en 0 y luego sumar 1 para comenzar desde 1
try70.reset_index(drop=True, inplace=True)

# Seleccionar las columnas 'ID' y 'label' para el nuevo DataFrame df_randomf
df_r = try70[['ID', 'label']]

In [28]:
df_r

      ID  label
0      0    4.0
1      1    4.0
2      2    4.0
3      3    4.0
4      4    4.0
..   ...    ...
179  179    4.0
180  180    4.0
181  181    4.0
182  182    4.0
183  183    4.0

[184 rows x 2 columns]

In [29]:
df_r.to_csv('try70_bis.csv', index=False)

In [30]:
a = pd.read_csv('try70.csv')

In [31]:
a

     Unnamed: 0   ID  label
0             0    0    4.0
1             1    1    4.0
2             2    2    4.0
3             3    3    4.0
4             4    4    4.0
..          ...  ...    ...
179         179  179    4.0
180         180  180    4.0
181         181  181    4.0
182         182  182    4.0
183         183  183    4.0

[184 rows x 3 columns]

In [32]:
b = pd.read_csv('try70_bis.csv')

In [33]:
b

      ID  label
0      0    4.0
1      1    4.0
2      2    4.0
3      3    4.0
4      4    4.0
..   ...    ...
179  179    4.0
180  180    4.0
181  181    4.0
182  182    4.0
183  183    4.0

[184 rows x 2 columns]

In [34]:
predicted_df4

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count,score_by_correlation,ID
0,0.591837,1.0,4.0,3,1,0.0,2.0,0.415493,1.0,0.636364,2.0,0.0,0.0,2.0,128,485,495,0.551255,0
1,0.489796,1.0,2.0,3,1,0.0,0.0,0.739437,0.0,0.295455,1.0,0.0,0.0,0.0,128,485,173,0.396908,1
2,0.408163,1.0,2.0,1,0,0.0,0.0,0.281690,0.0,0.295455,1.0,0.0,0.0,0.0,201,161,173,0.536462,2
3,0.693878,1.0,4.0,1,0,0.0,0.0,0.478873,1.0,0.579545,2.0,0.0,0.0,2.0,201,161,495,0.690809,3
4,0.469388,1.0,3.0,1,1,0.0,0.0,0.443662,0.0,0.363636,0.0,0.0,1.0,0.0,128,161,204,0.352945,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,0.530612,1.0,4.0,3,1,0.0,0.0,0.577465,1.0,0.522727,1.0,0.0,0.0,2.0,128,485,495,0.789592,179
180,0.551020,1.0,2.0,1,2,1.0,1.0,0.845070,0.0,0.394986,1.0,0.0,0.0,0.0,230,161,173,0.704233,180
181,0.795918,1.0,3.0,3,2,0.0,2.0,0.633803,0.0,0.386364,1.0,0.0,3.0,0.0,230,485,204,0.508792,181
182,0.632653,1.0,1.0,3,3,0.0,2.0,0.697183,0.0,0.318182,1.0,0.0,3.0,0.0,357,485,44,0.906677,182
183,0.612245,1.0,4.0,0,2,1.0,0.0,0.546008,0.0,0.394986,1.0,0.0,0.0,0.0,230,59,495,0.627033,183

In [35]:
import pandas as pd
import numpy as np

In [36]:
train_df = pd.read_csv('../train.csv')

In [37]:
test_df = pd.read_csv('../test.csv')

In [38]:
test_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,57.0,1.0,4.0,156,173,0,2,119,1,3,3,?,?
1,52.0,1.0,2.0,160.0,196.0,0.0,0.0,165.0,0.0,0.0,-9.0,-9.0,-9.0
2,48.0,1.0,2.0,100.0,-9.0,0.0,0.0,100.0,0.0,0.0,-9.0,-9.0,-9.0
3,62.0,1.0,4.0,115,0,?,0,128,1,2.5,3,?,?
4,51.0,1.0,3.0,110.0,175.0,0.0,0.0,123.0,0.0,0.6,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,54.0,1.0,4.0,200.0,198.0,0.0,0.0,142.0,1.0,2.0,2.0,-9.0,-9.0
180,55.0,1.0,2.0,110,214,1,1,180,0,?,?,?,?
181,67.0,1.0,3.0,152.0,212.0,0.0,2.0,150.0,0.0,0.8,2.0,0.0,7.0
182,59.0,1.0,1.0,170.0,288.0,0.0,2.0,159.0,0.0,0.2,2.0,0.0,7.0
183,58.0,1.0,4.0,?,203,1,0,?,?,?,?,?,?

In [39]:
train_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0
1,54.0,1.0,3.0,120.0,237.0,0.0,0.0,150.0,1.0,1.5,-9.0,-9.0,7.0,2
2,63.0,1.0,4.0,140,0,?,2.0,149,0,2,1,?,?,2
3,52.0,0.0,2.0,140.0,-9.0,0.0,0.0,140.0,0.0,0.0,-9.0,-9.0,-9.0,0
4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,46.0,1.0,3.0,120.0,230.0,0.0,0.0,150.0,0.0,0.0,-9.0,-9.0,-9.0,0
728,62.0,1.0,3.0,?,204,0,1.0,?,?,?,?,?,?,1
729,43.0,0.0,3.0,122.0,213.0,0.0,0.0,165.0,0.0,0.2,2.0,0.0,3.0,0
730,68.0,1.0,3.0,150,195,1,0.0,132,0,0,?,?,6,1
731,41.0,0.0,2.0,126.0,306.0,0.0,0.0,163.0,0.0,0.0,1.0,0.0,3.0,0

In [40]:
train_df['label'].value_counts()

0    327
1    156
2    108
3    107
4     34
Name: label, dtype: int64

In [41]:
train_df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
label       0
dtype: int64

In [42]:
train_df2 = train_df.copy()

In [43]:
train_df2 = train_df2.replace({"?":np.nan, "-9.0": np.nan, -9.0:np.nan, "nan":np.nan})

In [44]:
train_df2.isna().sum()

age           0
sex           0
cp            0
trestbps     47
chol         21
fbs          66
restecg       0
thalach      44
exang        44
oldpeak      49
slope       247
ca          479
thal        379
label         0
dtype: int64

In [45]:
train_df2 = train_df2.dropna()

In [46]:
train_df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0
4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3
5,44.0,1.0,4.0,120.0,169.0,0.0,0.0,144.0,1.0,2.8,3.0,0.0,6.0,2
6,35.0,1.0,2.0,122.0,192.0,0.0,0.0,174.0,0.0,0.0,1.0,0.0,3.0,0
11,64.0,1.0,4.0,120.0,246.0,0.0,2.0,96.0,1.0,2.2,3.0,1.0,3.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,52.0,1.0,2.0,120.0,325.0,0.0,0.0,172.0,0.0,0.2,1.0,0.0,3.0,0
723,42.0,1.0,4.0,136.0,315.0,0.0,0.0,125.0,1.0,1.8,2.0,0.0,6.0,2
726,52.0,1.0,1.0,152.0,298.0,1.0,0.0,178.0,0.0,1.2,2.0,0.0,7.0,0
729,43.0,0.0,3.0,122.0,213.0,0.0,0.0,165.0,0.0,0.2,2.0,0.0,3.0,0
731,41.0,0.0,2.0,126.0,306.0,0.0,0.0,163.0,0.0,0.0,1.0,0.0,3.0,0

In [47]:
train_df2['label'].value_counts()

0    132
1     44
2     32
3     31
4      7
Name: label, dtype: int64

In [48]:
test_df = test_df.replace({"?":np.nan, "-9.0": np.nan, -9.0:np.nan, "nan":np.nan})

In [49]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
import numpy as np
import random

# Fijar la semilla aleatoria para numpy y random
seed_value = 1
np.random.seed(seed_value)
random.seed(seed_value)

# Separar las características (X) y la variable objetivo (y) en el conjunto de datos de entrenamiento
X_train = train_df2.drop('label', axis=1)
y_train = train_df2['label']

# Separar las características (X) en el conjunto de datos de prueba
X_test = test_df

# Imputar valores faltantes en el conjunto de datos de prueba
imputer = SimpleImputer(strategy='mean')
X_test_imputed = pd.DataFrame(imputer.fit_transform(X_test), columns=X_test.columns)

# Entrenar el modelo de clasificación (usando RandomForest como ejemplo)
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Realizar predicciones en el conjunto de datos de prueba imputado
predictions = model.predict(X_test_imputed)

# Agregar las predicciones al conjunto de datos de prueba original
test_df['label'] = predictions

# Guardar el conjunto de datos de prueba con las predicciones
test_df['ID'] = test_df.index

In [50]:
test_df = test_df[['ID', 'label']]
test_df.to_csv('try71_data.csv', index=False)

In [51]:
# Restablecer el índice de predicted_df para que comience en 0 y luego sumar 1 para comenzar desde 1
predicted_df4.reset_index(drop=True, inplace=True)
predicted_df4['ID'] = predicted_df4.index 

# Seleccionar las columnas 'ID' y 'label' para el nuevo DataFrame df_randomf
df_randomf3 = predicted_df4[['ID', 'label']]

In [52]:
try1 = pd.read_csv('try71_data.csv')

In [53]:
try1['label'].value_counts()

0    93
2    42
3    28
1    21
Name: label, dtype: int64

In [3]:
traindf = pd.read_parquet('train_best.parquet')
testdf = pd.read_parquet('test_best.parquet')

In [4]:
traindf

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count
0,0.469388,1.0,1.0,2,2,0.0,2.0,0.457746,1.0,0.454545,0.0,1.0,1.0,0.0,230,211,44
1,0.530612,1.0,3.0,2,2,0.0,0.0,0.633803,1.0,0.465909,1.0,0.0,3.0,2.0,230,211,204
2,0.714286,1.0,4.0,3,0,0.0,2.0,0.626761,0.0,0.522727,0.0,0.0,0.0,2.0,201,485,495
3,0.489796,0.0,2.0,3,0,0.0,0.0,0.563380,0.0,0.295455,1.0,0.0,0.0,0.0,201,485,173
4,0.551020,1.0,4.0,3,2,0.0,0.0,0.359155,1.0,0.931818,2.0,0.0,3.0,3.0,230,485,495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.367347,1.0,3.0,2,2,0.0,0.0,0.633803,0.0,0.295455,1.0,0.0,0.0,0.0,230,211,204
728,0.693878,1.0,3.0,0,2,0.0,1.0,0.546008,0.0,0.394986,1.0,0.0,0.0,1.0,230,59,204
729,0.306122,0.0,3.0,2,2,0.0,0.0,0.739437,0.0,0.318182,1.0,0.0,1.0,0.0,230,211,204
730,0.816327,1.0,3.0,3,1,1.0,0.0,0.507042,0.0,0.295455,1.0,0.0,2.0,1.0,128,485,204
731,0.265306,0.0,2.0,2,3,0.0,0.0,0.725352,0.0,0.295455,0.0,0.0,1.0,0.0,357,211,173

In [5]:
testdf

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count
732,0.591837,1.0,4.0,3,1,0.0,2.0,0.415493,1.0,0.636364,2.0,0.0,0.0,0.0,128,485,495
733,0.489796,1.0,2.0,3,1,0.0,0.0,0.739437,0.0,0.295455,1.0,0.0,0.0,0.0,128,485,173
734,0.408163,1.0,2.0,1,0,0.0,0.0,0.281690,0.0,0.295455,1.0,0.0,0.0,0.0,201,161,173
735,0.693878,1.0,4.0,1,0,0.0,0.0,0.478873,1.0,0.579545,2.0,0.0,0.0,0.0,201,161,495
736,0.469388,1.0,3.0,1,1,0.0,0.0,0.443662,0.0,0.363636,0.0,0.0,1.0,0.0,128,161,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.530612,1.0,4.0,3,1,0.0,0.0,0.577465,1.0,0.522727,1.0,0.0,0.0,0.0,128,485,495
912,0.551020,1.0,2.0,1,2,1.0,1.0,0.845070,0.0,0.394986,1.0,0.0,0.0,0.0,230,161,173
913,0.795918,1.0,3.0,3,2,0.0,2.0,0.633803,0.0,0.386364,1.0,0.0,3.0,0.0,230,485,204
914,0.632653,1.0,1.0,3,3,0.0,2.0,0.697183,0.0,0.318182,1.0,0.0,3.0,0.0,357,485,44
915,0.612245,1.0,4.0,0,2,1.0,0.0,0.546008,0.0,0.394986,1.0,0.0,0.0,0.0,230,59,495

In [6]:
import pandas as pd

traindf['score'] = traindf.drop(columns=['label']).sum(axis=1)
testdf['score'] = testdf.drop(columns=['label']).sum(axis=1)

In [7]:
traindf

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count,score
0,0.469388,1.0,1.0,2,2,0.0,2.0,0.457746,1.0,0.454545,0.0,1.0,1.0,0.0,230,211,44,497.381680
1,0.530612,1.0,3.0,2,2,0.0,0.0,0.633803,1.0,0.465909,1.0,0.0,3.0,2.0,230,211,204,659.630324
2,0.714286,1.0,4.0,3,0,0.0,2.0,0.626761,0.0,0.522727,0.0,0.0,0.0,2.0,201,485,495,1192.863774
3,0.489796,0.0,2.0,3,0,0.0,0.0,0.563380,0.0,0.295455,1.0,0.0,0.0,0.0,201,485,173,866.348631
4,0.551020,1.0,4.0,3,2,0.0,0.0,0.359155,1.0,0.931818,2.0,0.0,3.0,3.0,230,485,495,1227.841994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0.367347,1.0,3.0,2,2,0.0,0.0,0.633803,0.0,0.295455,1.0,0.0,0.0,0.0,230,211,204,655.296604
728,0.693878,1.0,3.0,0,2,0.0,1.0,0.546008,0.0,0.394986,1.0,0.0,0.0,1.0,230,59,204,502.634871
729,0.306122,0.0,3.0,2,2,0.0,0.0,0.739437,0.0,0.318182,1.0,0.0,1.0,0.0,230,211,204,655.363741
730,0.816327,1.0,3.0,3,1,1.0,0.0,0.507042,0.0,0.295455,1.0,0.0,2.0,1.0,128,485,204,830.618823
731,0.265306,0.0,2.0,2,3,0.0,0.0,0.725352,0.0,0.295455,0.0,0.0,1.0,0.0,357,211,173,750.286113

In [8]:
testdf

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count,score
732,0.591837,1.0,4.0,3,1,0.0,2.0,0.415493,1.0,0.636364,2.0,0.0,0.0,0.0,128,485,495,1123.643693
733,0.489796,1.0,2.0,3,1,0.0,0.0,0.739437,0.0,0.295455,1.0,0.0,0.0,0.0,128,485,173,795.524687
734,0.408163,1.0,2.0,1,0,0.0,0.0,0.281690,0.0,0.295455,1.0,0.0,0.0,0.0,201,161,173,540.985308
735,0.693878,1.0,4.0,1,0,0.0,0.0,0.478873,1.0,0.579545,2.0,0.0,0.0,0.0,201,161,495,867.752296
736,0.469388,1.0,3.0,1,1,0.0,0.0,0.443662,0.0,0.363636,0.0,0.0,1.0,0.0,128,161,204,501.276686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.530612,1.0,4.0,3,1,0.0,0.0,0.577465,1.0,0.522727,1.0,0.0,0.0,0.0,128,485,495,1120.630804
912,0.551020,1.0,2.0,1,2,1.0,1.0,0.845070,0.0,0.394986,1.0,0.0,0.0,0.0,230,161,173,574.791077
913,0.795918,1.0,3.0,3,2,0.0,2.0,0.633803,0.0,0.386364,1.0,0.0,3.0,0.0,230,485,204,935.816085
914,0.632653,1.0,1.0,3,3,0.0,2.0,0.697183,0.0,0.318182,1.0,0.0,3.0,0.0,357,485,44,901.648018
915,0.612245,1.0,4.0,0,2,1.0,0.0,0.546008,0.0,0.394986,1.0,0.0,0.0,0.0,230,59,495,794.553239

In [10]:
from sklearn.ensemble import RandomForestClassifier

target_column = 'label'
features_train = traindf.drop(columns=[target_column])
target_train = traindf[target_column]

features_test = testdf.drop(columns=[target_column])
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features_train, target_train)

predicted_classes = model.predict(features_test)

predicted_df_1 = testdf.copy()
predicted_df_1[target_column] = predicted_classes

print(predicted_df_1)

          age  sex   cp  trestbps  chol  fbs  restecg   thalach  exang  \
732  0.591837  1.0  4.0         3     1  0.0      2.0  0.415493    1.0
733  0.489796  1.0  2.0         3     1  0.0      0.0  0.739437    0.0
734  0.408163  1.0  2.0         1     0  0.0      0.0  0.281690    0.0
735  0.693878  1.0  4.0         1     0  0.0      0.0  0.478873    1.0
736  0.469388  1.0  3.0         1     1  0.0      0.0  0.443662    0.0
..        ...  ...  ...       ...   ...  ...      ...       ...    ...
911  0.530612  1.0  4.0         3     1  0.0      0.0  0.577465    1.0
912  0.551020  1.0  2.0         1     2  1.0      1.0  0.845070    0.0
913  0.795918  1.0  3.0         3     2  0.0      2.0  0.633803    0.0
914  0.632653  1.0  1.0         3     3  0.0      2.0  0.697183    0.0
915  0.612245  1.0  4.0         0     2  1.0      0.0  0.546008    0.0

      oldpeak  slope   ca  thal  label  chol_count  trestbps_count  cp_count  \
732  0.636364    2.0  0.0   0.0    2.0         128             485       495
733  0.295455    1.0  0.0   0.0    0.0         128             485       173
734  0.295455    1.0  0.0   0.0    0.0         201             161       173
735  0.579545    2.0  0.0   0.0    1.0         201             161       495
736  0.363636    0.0  0.0   1.0    0.0         128             161       204
..        ...    ...  ...   ...    ...         ...             ...       ...
911  0.522727    1.0  0.0   0.0    0.0         128             485       495
912  0.394986    1.0  0.0   0.0    0.0         230             161       173
913  0.386364    1.0  0.0   3.0    0.0         230             485       204
914  0.318182    1.0  0.0   3.0    0.0         357             485        44
915  0.394986    1.0  0.0   0.0    1.0         230              59       495

           score
732  1123.643693
733   795.524687
734   540.985308
735   867.752296
736   501.276686
..           ...
911  1120.630804
912   574.791077
913   935.816085
914   901.648018
915   794.553239

[184 rows x 18 columns]

In [67]:

predicted_df_1.reset_index(inplace=True)
predicted_df_1['ID'] = range(len(predicted_df_1))
#predicted_df_1[['ID', 'label']].to_csv('try1_data.csv', index=False)

In [69]:
predicted_df_1 = predicted_df_1[['ID', 'label']]

In [73]:
predicted_df_1.to_csv('try76_data.csv', index=False)

In [71]:
predicted_df_1.value_counts('label')

label
0.0    96
1.0    37
2.0    27
3.0    24
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

X4 = traindf.drop('label', axis=1)  # Todas las columnas excepto la columna objetivo
Y4 = traindf['label']

# Dividimos el conjunto de entrenamiento en nuevo entrenamiento y validación (85% entrenamiento, 15% validación del conjunto de entrenamiento original)
X4_train, X4_val, Y4_train, Y4_val = train_test_split(X4, Y4, test_size=0.125, random_state=42)

In [12]:
from catboost import CatBoostClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

# Define los hiperparámetros que deseas ajustar
param_grid = {
    'depth': [4, 6, 8, 10],
    'learning_rate': [0.01, 0.05, 0.1],
    'iterations': [30, 50, 100],
    'l2_leaf_reg': [1, 3, 5, 7, 9]
}

# Inicializa el modelo CatBoost
cb_model = CatBoostClassifier(verbose=False, loss_function='MultiClass')

# Inicializa GridSearchCV
grid_search = GridSearchCV(estimator=cb_model, param_grid=param_grid, cv=3, scoring='accuracy', n_jobs=-1)

# Ajusta GridSearchCV en los datos de entrenamiento
grid_search.fit(X4_train, Y4_train)

# Obtén los mejores hiperparámetros
best_params = grid_search.best_params_
print(f"Mejores hiperparámetros: {best_params}")

# Entrena un nuevo modelo con los mejores hiperparámetros
best_cb_model = CatBoostClassifier(**best_params)
best_cb_model.fit(X4_train, Y4_train)

# Evalúa el modelo
predictions = best_cb_model.predict(X4_val)
accuracy = accuracy_score(Y4_val, predictions)
print(f"La precisión del modelo CatBoost en el conjunto de validación con los mejores hiperparámetros es: {accuracy}")

Mejores hiperparámetros: {'depth': 10, 'iterations': 100, 'l2_leaf_reg': 7, 'learning_rate': 0.05}
0:	learn: 1.5938124	total: 9.59ms	remaining: 949ms
1:	learn: 1.5741545	total: 18.6ms	remaining: 910ms
2:	learn: 1.5451948	total: 19.2ms	remaining: 619ms
3:	learn: 1.5295314	total: 28.2ms	remaining: 677ms
4:	learn: 1.5171922	total: 37.4ms	remaining: 710ms
5:	learn: 1.5078240	total: 46.3ms	remaining: 725ms
6:	learn: 1.4973455	total: 55.2ms	remaining: 733ms
7:	learn: 1.4828200	total: 63.8ms	remaining: 734ms
8:	learn: 1.4723397	total: 72.7ms	remaining: 735ms
9:	learn: 1.4605751	total: 81.5ms	remaining: 733ms
10:	learn: 1.4476177	total: 90.2ms	remaining: 730ms
11:	learn: 1.4351609	total: 99.1ms	remaining: 727ms
12:	learn: 1.4264334	total: 108ms	remaining: 723ms
13:	learn: 1.4090098	total: 117ms	remaining: 716ms
14:	learn: 1.3949078	total: 125ms	remaining: 709ms
15:	learn: 1.3836844	total: 134ms	remaining: 703ms
16:	learn: 1.3747961	total: 143ms	remaining: 697ms
17:	learn: 1.3677765	total: 152ms	remaining: 690ms
18:	learn: 1.3596757	total: 160ms	remaining: 683ms
19:	learn: 1.3495952	total: 169ms	remaining: 677ms
20:	learn: 1.3411117	total: 178ms	remaining: 669ms
21:	learn: 1.3329371	total: 187ms	remaining: 661ms
22:	learn: 1.3247421	total: 195ms	remaining: 653ms
23:	learn: 1.3104211	total: 205ms	remaining: 650ms
24:	learn: 1.3024053	total: 215ms	remaining: 644ms
25:	learn: 1.2927723	total: 224ms	remaining: 638ms
26:	learn: 1.2850191	total: 234ms	remaining: 632ms
27:	learn: 1.2766189	total: 252ms	remaining: 648ms
28:	learn: 1.2681845	total: 264ms	remaining: 647ms
29:	learn: 1.2601544	total: 275ms	remaining: 642ms
30:	learn: 1.2543128	total: 285ms	remaining: 635ms
31:	learn: 1.2448081	total: 294ms	remaining: 624ms
32:	learn: 1.2384625	total: 303ms	remaining: 616ms
33:	learn: 1.2332782	total: 312ms	remaining: 606ms
34:	learn: 1.2246769	total: 321ms	remaining: 596ms
35:	learn: 1.2162876	total: 330ms	remaining: 587ms
36:	learn: 1.2101022	total: 340ms	remaining: 579ms
37:	learn: 1.1973684	total: 340ms	remaining: 555ms
38:	learn: 1.1916168	total: 349ms	remaining: 547ms
39:	learn: 1.1836863	total: 358ms	remaining: 537ms
40:	learn: 1.1774657	total: 368ms	remaining: 529ms
41:	learn: 1.1719282	total: 377ms	remaining: 520ms
42:	learn: 1.1661498	total: 385ms	remaining: 511ms
43:	learn: 1.1601937	total: 394ms	remaining: 501ms
44:	learn: 1.1548899	total: 403ms	remaining: 493ms
45:	learn: 1.1491999	total: 412ms	remaining: 484ms
46:	learn: 1.1432714	total: 421ms	remaining: 475ms
47:	learn: 1.1382693	total: 431ms	remaining: 467ms
48:	learn: 1.1314828	total: 440ms	remaining: 458ms
49:	learn: 1.1263354	total: 449ms	remaining: 449ms
50:	learn: 1.1209309	total: 458ms	remaining: 440ms
51:	learn: 1.1162913	total: 467ms	remaining: 431ms
52:	learn: 1.1107252	total: 476ms	remaining: 422ms
53:	learn: 1.1048535	total: 485ms	remaining: 413ms
54:	learn: 1.0991673	total: 494ms	remaining: 404ms
55:	learn: 1.0905464	total: 494ms	remaining: 388ms
56:	learn: 1.0851279	total: 503ms	remaining: 379ms
57:	learn: 1.0797903	total: 512ms	remaining: 371ms
58:	learn: 1.0747200	total: 520ms	remaining: 362ms
59:	learn: 1.0705390	total: 530ms	remaining: 353ms
60:	learn: 1.0661023	total: 539ms	remaining: 345ms
61:	learn: 1.0612364	total: 554ms	remaining: 340ms
62:	learn: 1.0558360	total: 564ms	remaining: 331ms
63:	learn: 1.0518400	total: 573ms	remaining: 322ms
64:	learn: 1.0472773	total: 582ms	remaining: 313ms
65:	learn: 1.0429375	total: 591ms	remaining: 304ms
66:	learn: 1.0384911	total: 600ms	remaining: 295ms
67:	learn: 1.0348139	total: 608ms	remaining: 286ms
68:	learn: 1.0304889	total: 619ms	remaining: 278ms
69:	learn: 1.0266511	total: 628ms	remaining: 269ms
70:	learn: 1.0224034	total: 637ms	remaining: 260ms
71:	learn: 1.0184982	total: 647ms	remaining: 251ms
72:	learn: 1.0145251	total: 656ms	remaining: 243ms
73:	learn: 1.0101316	total: 665ms	remaining: 234ms
74:	learn: 1.0064419	total: 673ms	remaining: 224ms
75:	learn: 1.0023043	total: 682ms	remaining: 215ms
76:	learn: 0.9973802	total: 691ms	remaining: 206ms
77:	learn: 0.9933525	total: 700ms	remaining: 197ms
78:	learn: 0.9896432	total: 709ms	remaining: 188ms
79:	learn: 0.9854571	total: 717ms	remaining: 179ms
80:	learn: 0.9818461	total: 726ms	remaining: 170ms
81:	learn: 0.9779178	total: 735ms	remaining: 161ms
82:	learn: 0.9740295	total: 744ms	remaining: 152ms
83:	learn: 0.9707076	total: 749ms	remaining: 143ms
84:	learn: 0.9673304	total: 757ms	remaining: 134ms
85:	learn: 0.9636153	total: 766ms	remaining: 125ms
86:	learn: 0.9595335	total: 775ms	remaining: 116ms
87:	learn: 0.9553584	total: 784ms	remaining: 107ms
88:	learn: 0.9515769	total: 792ms	remaining: 97.9ms
89:	learn: 0.9479904	total: 802ms	remaining: 89.1ms
90:	learn: 0.9442838	total: 811ms	remaining: 80.2ms
91:	learn: 0.9409692	total: 820ms	remaining: 71.3ms
92:	learn: 0.9380200	total: 829ms	remaining: 62.4ms
93:	learn: 0.9349614	total: 838ms	remaining: 53.5ms
94:	learn: 0.9319501	total: 847ms	remaining: 44.6ms
95:	learn: 0.9287243	total: 856ms	remaining: 35.7ms
96:	learn: 0.9253637	total: 865ms	remaining: 26.8ms
97:	learn: 0.9224159	total: 874ms	remaining: 17.8ms
98:	learn: 0.9195899	total: 883ms	remaining: 8.92ms
99:	learn: 0.9154268	total: 883ms	remaining: 0us
La precisión del modelo CatBoost en el conjunto de validación con los mejores hiperparámetros es: 0.5543478260869565

In [80]:
from catboost import CatBoostClassifier

# Definir los mejores hiperparámetros obtenidos de la búsqueda en cuadrícula
best_hyperparams = {'depth': 10, 'iterations': 100, 'l2_leaf_reg': 7, 'learning_rate': 0.05}

# Inicializar el modelo CatBoost con los mejores hiperparámetros
best_cb_model = CatBoostClassifier(**best_hyperparams)

# Entrenar el modelo con los datos de entrenamiento
best_cb_model.fit(X4_train, Y4_train, verbose=False)

In [81]:
# Asumiendo que 'best_cb_model' es tu modelo entrenado

# Obtener la importancia de las características
feature_importances = best_cb_model.get_feature_importance()

# Obtener los nombres de las características
feature_names = X4_train.columns

# Crear un DataFrame para visualizar mejor la importancia de las características
importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importances})

# Ordenar el DataFrame por importancia de manera descendente
importance_df = importance_df.sort_values(by='Importance', ascending=False)

# Mostrar el DataFrame
print(importance_df)

           Feature  Importance
9          oldpeak   11.464107
8            exang    9.198274
0              age    8.289163
15        cp_count    8.203790
2               cp    7.978442
12            thal    7.467632
7          thalach    7.364477
4             chol    6.343183
6          restecg    6.018874
13      chol_count    5.328593
1              sex    4.465484
14  trestbps_count    4.107879
3         trestbps    4.084724
16           score    3.600493
5              fbs    2.253612
11              ca    2.087905
10           slope    1.743369

In [82]:
from sklearn.metrics import accuracy_score

# Hacer predicciones en el conjunto de validación
Y4_val_pred = best_cb_model.predict(X4_val)

# Calcular la precisión
accuracy = accuracy_score(Y4_val, Y4_val_pred)

print(f"La precisión del modelo en el conjunto de validación es: {accuracy}")

La precisión del modelo en el conjunto de validación es: 0.5543478260869565

In [83]:
# Excluyendo la columna 'label'
test_end4_sin_label = testdf.drop('label', axis=1)

# Ahora puedes hacer predicciones con el conjunto de datos preparado
predicciones4 = best_cb_model.predict(test_end4_sin_label)

# Y también obtener las probabilidades de cada clase si lo necesitas
probabilidades4 = best_cb_model.predict_proba(test_end4_sin_label)

In [84]:
# Copiar el DataFrame 'test_end' a 'predicted_df'
predicted_df4 = testdf.copy()

# Actualizar la columna 'label' con las predicciones
predicted_df4['label'] = predicciones4

# Mostrar las primeras filas del nuevo DataFrame para verificar
print(predicted_df4.head())

          age  sex   cp  trestbps  chol  fbs  restecg   thalach  exang  \
732  0.591837  1.0  4.0         3     1  0.0      2.0  0.415493    1.0
733  0.489796  1.0  2.0         3     1  0.0      0.0  0.739437    0.0
734  0.408163  1.0  2.0         1     0  0.0      0.0  0.281690    0.0
735  0.693878  1.0  4.0         1     0  0.0      0.0  0.478873    1.0
736  0.469388  1.0  3.0         1     1  0.0      0.0  0.443662    0.0

      oldpeak  slope   ca  thal  label  chol_count  trestbps_count  cp_count  \
732  0.636364    2.0  0.0   0.0    2.0         128             485       495
733  0.295455    1.0  0.0   0.0    0.0         128             485       173
734  0.295455    1.0  0.0   0.0    0.0         201             161       173
735  0.579545    2.0  0.0   0.0    1.0         201             161       495
736  0.363636    0.0  0.0   1.0    0.0         128             161       204

           score
732  1123.643693
733   795.524687
734   540.985308
735   867.752296
736   501.276686

In [85]:
predicted_df4

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label,chol_count,trestbps_count,cp_count,score
732,0.591837,1.0,4.0,3,1,0.0,2.0,0.415493,1.0,0.636364,2.0,0.0,0.0,2.0,128,485,495,1123.643693
733,0.489796,1.0,2.0,3,1,0.0,0.0,0.739437,0.0,0.295455,1.0,0.0,0.0,0.0,128,485,173,795.524687
734,0.408163,1.0,2.0,1,0,0.0,0.0,0.281690,0.0,0.295455,1.0,0.0,0.0,0.0,201,161,173,540.985308
735,0.693878,1.0,4.0,1,0,0.0,0.0,0.478873,1.0,0.579545,2.0,0.0,0.0,1.0,201,161,495,867.752296
736,0.469388,1.0,3.0,1,1,0.0,0.0,0.443662,0.0,0.363636,0.0,0.0,1.0,0.0,128,161,204,501.276686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0.530612,1.0,4.0,3,1,0.0,0.0,0.577465,1.0,0.522727,1.0,0.0,0.0,2.0,128,485,495,1120.630804
912,0.551020,1.0,2.0,1,2,1.0,1.0,0.845070,0.0,0.394986,1.0,0.0,0.0,0.0,230,161,173,574.791077
913,0.795918,1.0,3.0,3,2,0.0,2.0,0.633803,0.0,0.386364,1.0,0.0,3.0,0.0,230,485,204,935.816085
914,0.632653,1.0,1.0,3,3,0.0,2.0,0.697183,0.0,0.318182,1.0,0.0,3.0,0.0,357,485,44,901.648018
915,0.612245,1.0,4.0,0,2,1.0,0.0,0.546008,0.0,0.394986,1.0,0.0,0.0,1.0,230,59,495,794.553239

In [86]:
predicted_df4['label'].value_counts()

0.0    103
1.0     38
2.0     25
3.0     18
Name: label, dtype: int64

In [87]:
# Restablecer el índice de predicted_df para que comience en 0 y luego sumar 1 para comenzar desde 1
predicted_df4.reset_index(drop=True, inplace=True)
predicted_df4['ID'] = predicted_df4.index 

# Seleccionar las columnas 'ID' y 'label' para el nuevo DataFrame df_randomf
df_randomf3 = predicted_df4[['ID', 'label']]

# Guardar df_randomf en un archivo CSV sin el índice de pandas
df_randomf3.to_csv('try77_data.csv', index=False)

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

# Suponiendo que tienes tus datos de entrenamiento y prueba en los DataFrames df_train y df_test

# Define los modelos que deseas ensamblar
rf_model = RandomForestClassifier(n_estimators=100)
lr_model = LogisticRegression(max_iter=1000)
svm_model = SVC()

# Crea un ensamblaje de modelos sin KNN
ensemble = VotingClassifier(estimators=[
    ('rf', rf_model), 
    ('lr', lr_model), 
    ('svm', svm_model)
], voting='hard')

# Entrena el ensamblaje de modelos
ensemble.fit(train.drop('label', axis=1), train['label'])

# Realiza predicciones en los datos de prueba
predictions = ensemble.predict(test.drop('label', axis=1))

# Calcula la precisión de las predicciones
#accuracy = accuracy_score(test['label'], predictions)
#print("Accuracy del ensamblaje en los datos de prueba:", accuracy)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
tr = pd.DataFrame(predictions, columns=['label'])

In [15]:
tr['ID'] = tr.index

In [17]:
tr = tr[['ID', 'label']]

In [19]:
tr.to_csv('try79_data.csv', index=False)

In [21]:
tr.value_counts('label')

label
0.0    108
1.0     40
2.0     25
3.0     11
dtype: int64